article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: Rounded-Mplus-1c-regular;
  src: url("../../font/mplus-1c-regular.eot");
  src: url("../../font/mplus-1c-regular.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-regular_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-medium;
  src: url("../../font/mplus-1c-medium.eot");
  src: url("../../font/mplus-1c-medium.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-medium_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-bold;
  src: url("../../font/mplus-1c-bold.eot");
  src: url("../../font/mplus-1c-bold.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-bold_web.woff2") format("woff2");
}
.r,
html,
body {
  font-family: Rounded-Mplus-1c-regular;
}
.m {
  font-family: Rounded-Mplus-1c-medium;
}
.b {
  font-family: Rounded-Mplus-1c-bold;
}
@font-face {
  font-family: JuliusSansOne-Regular;
  src: url("../../font/JuliusSansOne-Regular.eot");
  src: url("../../font/JuliusSansOne-Regular.eot?") format("embedded-opentype"), url("../../font/JuliusSansOne-Regular.woff2") format("woff2");
}
.j {
  font-family: JuliusSansOne-Regular;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../../font/OpenSans-Bold.eot");
  src: url("../../font/OpenSans-Bold.eot?") format("embedded-opentype"), url("../../font/OpenSans-Bold.woff2") format("woff2");
}
.o {
  font-family: OpenSans-Bold;
}
@media all and (-ms-high-contrast: none) {
  .r,
  .m,
  .b,
  .j,
  .o,
  html,
  body {
    -webkit-transform: rotate(0.001deg);
    -moz-transform: rotate(0.001deg);
    -o-transform: rotate(0.001deg);
    -ms-transform: rotate(0.001deg);
    transform: rotate(0.001deg);
  }
}
.hokkaidou {
  background: #69c;
}
.touhoku {
  background: #52bbd1;
}
.kantou {
  background: #71d5cb;
}
.tyuubu {
  background: #c0c743;
}
.kinki {
  background: #efb838;
}
.tyuugoku {
  background: #f58c3f;
}
.shikoku {
  background: #f1a296;
}
.kyuushuu {
  background: #e77a72;
}
.okinaw {
  background: #e05147;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background: #000;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 14px;
  color: #373737;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
table,
p,
dl,
dt,
dd,
ul,
ol,
li,
hr,
header,
main,
footer,
section,
article,
figure,
strong,
b {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: text-bottom;
}
a {
  color: #000;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
dt,
th {
  font-weight: normal;
}
.wrapper {
  width: 100%;
  margin: 0;
}
.contents__container {
  width: 100%;
  background: #f4f3f1;
}
.contents__block {
  width: 100%;
  max-width: 1400px;
  min-height: 600px;
  margin: 0 auto;
  padding: 20px 0;
}
.contents__header {
  height: 180px;
  margin-right: calc((100% - 1120px) / 2);
  padding-left: calc((100% - 1120px) / 2);
  background: #bd3613;
  text-align: right;
}
.contents__header h2 {
  padding-top: 60px;
  text-align: left;
  color: #fff;
  font-size: 1.71rem;
  font-weight: bold;
}
.contents__header h2 small {
  display: block;
  font-size: 0.87rem;
}
.contents__item {
  width: 1120px;
  margin: 20px auto 50px;
}
.contents__item h3 {
  padding: 12px 20px 10px;
  background: #bd3613;
  color: #fff;
  font-size: 1.71rem;
  font-weight: normal;
}
.contents__item p {
  margin: 10px 0 0;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 3px;
  color: #646468;
  font-size: 1rem;
  line-height: 2;
  word-wrap: break-word;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis.multiline {
  white-space: normal;
}
.hidden {
  display: none !important;
}
.header {
  width: 100%;
  height: 104px;
  margin: 0 auto;
  background: #fff;
}
.header-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 20px 0 0;
  position: relative;
}
.header-container h1 {
  display: inline-block;
}
.header-container h1 small {
  display: block;
  font-size: 0.87rem;
  font-weight: bold;
  line-height: 1;
}
.header-container h1 img {
  display: inline-block;
  vertical-align: top;
}
.header-container h1 strong {
  display: inline-block;
  font-size: 0.87rem;
  font-weight: bold;
  line-height: 3;
  vertical-align: top;
}
.header-container address {
  float: right;
  display: block;
  width: 380px;
  font-style: normal;
  position: relative;
}
.header-container address a {
  font-family: Lato;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 2rem;
  position: absolute;
  top: 5px;
}
.header-container address a:hover {
  color: #bd3613;
}
.header-container address a i {
  display: inline-block;
  padding: 0.5em;
  background: #bd3613;
  border-radius: 1em;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;
}
.header-container address .tel {
  font-size: 2rem;
}
.header-container address .tel i {
  margin-right: 0.5em;
  vertical-align: top;
}
.header-container address .mail {
  font-size: 1rem;
  right: 0;
}
.header-container address .mail i {
  margin-left: 0.5em;
  vertical-align: middle;
}
.globalnav {
  clear: both;
  width: 100%;
}
.globalnav input[type=checkbox],
.globalnav .sp-gnav {
  display: none;
}
.globalnav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.globalnav ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.5em 0;
}
.globalnav ul li a {
  display: block;
  border-right: 1px solid #000;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  line-height: 1;
}
.globalnav ul li a:hover {
  color: #bd3613;
}
.globalnav ul li.selected a {
  color: #bd3613;
  cursor: default;
}
.globalnav ul li:first-of-type a {
  border-left: 1px solid #000;
}
.fixheader {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background: #000;
  position: fixed;
  top: -70px;
  left: 0;
  right: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.fixheader.show {
  top: 0;
}
@media screen and (max-width: 767px) {
  .header {
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  }
  .header-container {
    height: 42px;
    padding: 0;
  }
  .header-container h1 {
    display: inline-block;
    padding: 7px;
    font-size: 0.7rem;
    line-height: 1;
  }
  .header-container h1 small {
    display: none;
  }
  .header-container h1 img {
    width: 120px;
    font-size: 0.5rem;
    line-height: 1;
  }
  .header-container h1 strong {
    display: block;
    margin: 2px 0 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .header-container address {
    position: absolute;
    top: 0;
    right: 45px;
  }
  .header-container address .tel {
    display: none;
  }
  .header-container address .mail span {
    display: none;
  }
  .header-container address .mail i {
    background: none;
    color: #000;
    border-radius: 0;
  }
  .header-container .globalnav {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
  }
  .header-container .globalnav .sp-gnav {
    display: inline-block;
  }
  .header-container .globalnav .sp-gnav i.fa-bars {
    display: inline-block;
    height: 30px;
    padding: 0.5em;
    color: #000;
    font-size: 1.2rem;
    line-height: 1;
  }
  .header-container .globalnav ul {
    display: none;
    width: 200px;
    background: #f4f3f1;
    position: absolute;
    top: 37px;
    right: 0;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 5px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 5px;
  }
  .header-container .globalnav ul li {
    padding: 0;
  }
  .header-container .globalnav ul li a {
    display: block;
    padding: 0.75em 1em;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e4e2df;
    font-size: 1rem;
    text-align: left;
  }
  .header-container .globalnav input:checked + label i.fa-bars {
    background: #f4f3f1;
    -webkit-box-shadow: rgba(0,0,0,0.2) 1px 1px 1px inset;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 1px inset;
  }
  .header-container .globalnav input:checked + label + ul {
    display: block;
    z-index: 99;
  }
}
.footer {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 20px;
  background: #000;
}
.footer-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  color: #c5c5c5;
  font-size: 0.87rem;
  line-height: 1.5;
  position: relative;
}
.footer-container .footernav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.footer-container .footernav li {
  display: block;
  float: right;
  margin-left: 2em;
  line-height: 2;
}
.footer-container .footernav li a {
  color: #c5c5c5;
}
.footer-container .footernav li a:hover {
  text-decoration: underline;
}
.footer-container .footernav li:nth-of-type(6) {
  clear: both;
}
.footer-container .companydata {
  position: relative;
  margin: 20px 0 0;
}
.footer-container .companydata .snslink {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75rem;
  letter-spacing: 0.1em;
}
.footer-container .companydata .snslink a {
  color: #c5c5c5;
}
.footer-container .companydata .location span {
  display: block;
}
.footer-container .companydata .copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 5px;
  }
  .footer-container {
    width: 100%;
  }
  .footer-container .footernav {
    display: block;
  }
  .footer-container .footernav h2 {
    margin: 5px;
  }
  .footer-container .footernav h2 img {
    width: 134px;
    height: 18px;
  }
  .footer-container .footernav ul {
    margin: 1em 0 0;
  }
  .footer-container .footernav li {
    float: none;
    display: inline-block;
    margin: 0 0.75em 0 0;
    font-size: 0.87rem;
    line-height: 2;
  }
  .footer-container .companydata {
    position: static;
    margin: 10px 0 0;
  }
  .footer-container .companydata .snslink {
    right: 5px;
  }
  .footer-container .companydata .location {
    font-size: 0.75rem;
  }
  .footer-container .companydata .location span {
    display: inline-block;
    margin-right: 0.5em;
  }
  .footer-container .companydata .copyright {
    position: static;
    margin: 1em 0 0;
    font-size: 0.75rem;
  }
}
fieldset {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: none;
}
input[type=text] {
  color: #646468;
  font-size: 1.29rem;
  line-height: 1.1;
  padding: 1em 0.5em;
  background: #f0f4f5;
  border: none transparent;
  -webkit-box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
  box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
}
textarea {
  color: #646468;
  font-size: 1.29rem;
  line-height: 1.1;
  padding: 1em 0.5em;
  border: 1px solid #e4e2df;
  -webkit-box-shadow: rgba(0,0,0,0.2) 1px 1px 2px inset;
  box-shadow: rgba(0,0,0,0.2) 1px 1px 2px inset;
}
:placeholder-shown {
  color: #c5c5c5;
}
::-webkit-input-placeholder {
  color: #c5c5c5;
}
:-moz-placeholder {
  color: #c5c5c5;
}
::-moz-placeholder {
  color: #c5c5c5;
}
:-ms-input-placeholder {
  color: #c5c5c5;
}
.select,
.select>select {
  color: #646468;
  display: block;
  font-size: 1.29rem;
  line-height: 1.1;
}
.select>select {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 0;
  height: 60px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: none transparent;
  border: 0 none;
  z-index: 2;
  cursor: pointer;
}
.select {
  position: relative;
  width: 200px;
  padding: 1em 0.5em;
  background: #f0f4f5;
  cursor: pointer;
  -webkit-box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
  box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
}
.select::after {
  content: "▼";
  color: #c5c5c5;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em 0.5em;
  z-index: 1;
  cursor: pointer;
}
.label-desc.default {
  color: #c5c5c5;
}
.radiolist {
  padding: 0.25em 0;
  font-size: 1.29rem;
}
.radiolist input[type=radio] {
  display: none;
}
.radiolist label:before {
  content: "●";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.15em;
  background: #f0f4f5;
  border-radius: 0.7em;
  text-align: center;
  color: #f0f4f5;
  line-height: 1.33;
  position: relative;
  top: -1px;
  -webkit-box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
  box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
}
.radiolist input:checked + label:before {
  color: #00acc1;
}
.radiolist span {
  display: inline-block;
  margin-right: 1em;
}
.checklist {
  padding: 0.25em 0;
  font-size: 1.29rem;
}
.checklist input[type=checkbox] {
  display: none;
}
.checklist label {
  display: inline-block;
  margin-bottom: 5px;
}
.checklist label:before {
  content: "✔";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.15em;
  background: #f0f4f5;
  text-align: center;
  color: #f0f4f5;
  line-height: 1.33;
  position: relative;
  top: -1px;
  -webkit-box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
  box-shadow: rgba(100,100,100,0.1) 1px 1px 1px inset;
}
.checklist input:checked + label:before {
  color: #00acc1;
}
.checklist span {
  display: inline-block;
  margin-right: 1em;
}
@media screen and (max-width: 767px) {
  input[type=text] {
    font-size: 1rem;
    padding: 1em 0.5em;
  }
  textarea {
    font-size: 1rem;
    padding: 1em 0.5em;
  }
  .select,
  .select>select {
    font-size: 1rem;
  }
  .select>select {
    height: 43px;
  }
  .radiolist {
    font-size: 1rem;
  }
  .radiolist label:before {
    font-size: 1.29rem;
    line-height: 1.4;
  }
  .radiolist span {
    vertical-align: top;
  }
  .checklist {
    font-size: 1rem;
  }
  .checklist label:before {
    font-size: 1.29rem;
  }
  .checklist span {
    vertical-align: top;
    min-width: 4em;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 42px 0 0;
  }
  .main {
    width: 100%;
  }
  .sponly {
    display: block;
  }
  .contents__block {
    padding: 0 0 30px;
  }
  .contents__header {
    height: auto;
    margin: 0;
    padding: 0;
    background: #bd3613;
    text-align: left;
  }
  .contents__header h2 {
    padding: 0.25em 1em;
    font-size: 1rem;
  }
  .contents__header h2 small {
    display: none;
  }
  .contents__item {
    width: auto;
    margin: 0 5px 30px;
  }
  .contents__item h3 {
    padding: 0.25em 1em;
    font-size: 1rem;
    font-weight: normal;
  }
  .contents__item p {
    margin: 5px 0 0;
    padding: 10px;
    font-size: 0.87rem;
  }
  .pconly {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .sponly {
    display: none !important;
  }
}
