article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: Rounded-Mplus-1c-regular;
  src: url("../../font/mplus-1c-regular.eot");
  src: url("../../font/mplus-1c-regular.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-regular_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-medium;
  src: url("../../font/mplus-1c-medium.eot");
  src: url("../../font/mplus-1c-medium.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-medium_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-bold;
  src: url("../../font/mplus-1c-bold.eot");
  src: url("../../font/mplus-1c-bold.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-bold_web.woff2") format("woff2");
}
.r,
html,
body {
  font-family: Rounded-Mplus-1c-regular;
}
.m,
.header-nav a,
.footer .footer-nav h4,
.footer .footer-nav ul li {
  font-family: Rounded-Mplus-1c-medium;
}
.b,
.contents-area section h2,
.btn-area .btn-more,
.btn-area .btn-submit,
.btn-area .btn-cancel,
.header-nav .for-recruiter,
.globalnav li a,
.footer .keep-items {
  font-family: Rounded-Mplus-1c-bold;
}
@media all and (-ms-high-contrast: none) {
  .r,
  .m,
  .b,
  html,
  body,
  .contents-area section h2,
  .btn-area .btn-more,
  .btn-area .btn-submit,
  .btn-area .btn-cancel,
  .header-nav a,
  .header-nav .for-recruiter,
  .globalnav li a,
  .footer .keep-items,
  .footer .footer-nav h4,
  .footer .footer-nav ul li {
    -webkit-transform: rotate(0.001deg);
    -moz-transform: rotate(0.001deg);
    -o-transform: rotate(0.001deg);
    -ms-transform: rotate(0.001deg);
    transform: rotate(0.001deg);
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background: #fff;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 14px;
  color: #373737;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
table,
p,
dl,
dt,
dd,
ul,
ol,
li,
hr,
header,
main,
footer,
section,
article,
figure,
strong,
b {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: text-bottom;
}
a {
  color: #373737;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
dt,
th {
  font-weight: normal;
}
fieldset {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: none;
}
select {
  outline: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
select option {
  background: #fff;
  color: #373737;
}
select::-ms-expand {
  display: none;
}
select::-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main {
  width: 1100px;
  margin: 0 auto;
  padding: 40px 0 100px;
  overflow: hidden;
}
.contents-area {
  float: left;
  width: 850px;
}
.contents-area section h2 {
  font-size: 1.5rem;
}
.contents-area section h2:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../../img/top/main_title_icon01.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: -3px;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.contents-area section:not(:first-of-type) {
  margin-top: 70px;
}
.side-area {
  float: right;
}
.banner-items li {
  margin: 0 0 20px;
}
.banner-items li a:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.btn-area .btn-more {
  background: #f19032;
  color: #fff;
}
.btn-area .btn-more:hover {
  background: #d87a1e;
}
.btn-area .btn-submit {
  background: #40dcc0;
  color: #fff;
}
.btn-area .btn-submit:hover {
  background: #20b399;
}
.btn-area .btn-cancel {
  background: #b4b4b4;
  color: #fff;
}
.btn-area .btn-cancel:hover {
  background: #949494;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis.multiline {
  white-space: normal;
}
@font-face {
  font-family: Rounded-Mplus-1c-regular;
  src: url("../../font/mplus-1c-regular.eot");
  src: url("../../font/mplus-1c-regular.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-regular_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-medium;
  src: url("../../font/mplus-1c-medium.eot");
  src: url("../../font/mplus-1c-medium.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-medium_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-bold;
  src: url("../../font/mplus-1c-bold.eot");
  src: url("../../font/mplus-1c-bold.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-bold_web.woff2") format("woff2");
}
.r {
  font-family: Rounded-Mplus-1c-regular;
}
.m,
.header-nav a,
.footer .footer-nav h4,
.footer .footer-nav ul li {
  font-family: Rounded-Mplus-1c-medium;
}
.b,
.header-nav .for-recruiter,
.globalnav li a,
.footer .keep-items {
  font-family: Rounded-Mplus-1c-bold;
}
@media all and (-ms-high-contrast: none) {
  .r,
  .m,
  .b,
  .header-nav a,
  .header-nav .for-recruiter,
  .globalnav li a,
  .footer .keep-items,
  .footer .footer-nav h4,
  .footer .footer-nav ul li {
    -webkit-transform: rotate(0.001deg);
    -moz-transform: rotate(0.001deg);
    -o-transform: rotate(0.001deg);
    -ms-transform: rotate(0.001deg);
    transform: rotate(0.001deg);
  }
}
.header__wrapper {
  width: 100%;
  border-top: 5px solid #ee8593;
}
.header {
  width: 1100px;
  margin: 0 auto;
}
.header-title {
  display: inline-block;
}
.header-nav {
  float: right;
  text-align: right;
  margin: 10px 0 0;
}
.header-nav a {
  display: inline-block;
  padding: 0.25rem 1rem;
  color: #373737;
  text-decoration: none;
}
.header-nav a:hover {
  color: #ee8593;
}
.header-nav .keeping-items:before,
.header-nav .recently-items:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: 1px;
  margin-right: 0.25rem;
}
.header-nav .keeping-items:before {
  background: url("../../img/top/header_icon_keep.png") 0 0 no-repeat;
}
.header-nav .recently-items:before {
  background: url("../../img/top/header_icon_history.png") 0 0 no-repeat;
}
.header-nav .for-recruiter {
  margin: 0 1rem;
  background: #ee8593;
  border-radius: 1rem;
  color: #fff;
}
.header-nav .for-recruiter:hover {
  background: #9f5255;
  color: #fff;
}
.breadclumbs {
  clear: both;
  margin: 1rem 0;
  font-size: 0.75rem;
}
.globalnav__wrapper {
  width: 100%;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.globalnav {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.globalnav li {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.globalnav li a {
  display: block;
  height: 60px;
  padding: 10px 0;
  text-align: center;
  color: #373737;
  font-size: 1.1rem;
  text-decoration: none;
}
.globalnav li a:hover {
  color: #ee8593;
}
.globalnav li a:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.25rem;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: 7px;
}
.globalnav li .recruit-list:before {
  background: url("../../img/top/navi_icon_01.png") center no-repeat;
}
.globalnav li .about-jyusei:before {
  background: url("../../img/top/navi_icon_02.png") center no-repeat;
}
.globalnav li .faq:before {
  background: url("../../img/top/navi_icon_03.png") center no-repeat;
}
.globalnav li .contact:before {
  background: url("../../img/top/navi_icon_04.png") center no-repeat;
}
.footer__wrapper {
  width: 100%;
  background: #f9f9f9;
}
.pagetop {
  width: 100%;
}
.pagetop a {
  display: block;
  height: 60px;
  padding: 20px 0;
  background: #fff;
  border-top: 1px solid #ee8593;
  border-bottom: 1px solid #ee8593;
  text-align: center;
  color: #ee8593;
  font-size: 0.75rem;
  text-decoration: none;
}
.pagetop a:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 9px;
  background: url("../../img/top/footer_pagetop_icon.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-right: 0.5rem;
}
.pagetop a:hover {
  background: #ffeff1;
}
.footer {
  width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}
.footer > p {
  margin: 20px 0;
}
.footer .contact__block {
  width: 375px;
  position: absolute;
  top: 40px;
  right: 0;
}
.footer .contact__block h3 {
  padding: 0.5rem 0 0.25rem;
  background: #ee8593;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.footer .contact__block p {
  margin-bottom: 10px;
  overflow: hidden;
}
.footer .contact__block p > a {
  float: left;
  color: #ee8593;
  font-family: "HGP創英角ｺﾞｼｯｸUB";
  font-size: 2.5rem;
  letter-spacing: -1px;
  cursor: default;
  margin-top: 5px;
}
.footer .contact__block p > a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../../img/top/footer_icon_04.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  margin-right: 0.5rem;
}
.footer .contact__block p > small {
  float: right;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
}
.footer .contact__block .btn-contact {
  display: block;
  margin: 0 3px 0 0;
  padding: 1rem;
  background: #40dcc0;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 0 #179d85;
  box-shadow: 3px 3px 0 #179d85;
  color: #fff;
  font-family: "HGP創英角ｺﾞｼｯｸUB";
  font-size: 1.5rem;
  text-align: center;
}
.footer .contact__block .btn-contact:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url("../../img/top/footer_icon_05.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: 1px;
  margin-right: 0.5rem;
}
.footer .contact__block .btn-contact:hover {
  background: #20b399;
}
.footer .contact__block .sns {
  position: absolute;
  top: 0;
  left: -170px;
}
.footer .contact__block .sns li {
  display: inline-block;
  margin: 0 5px;
}
.footer .keep-items {
  position: absolute;
  top: 30px;
  right: -120px;
  width: 96px;
  height: 96px;
  margin: 0;
  padding: 50px 0 0;
  background: #f19032 url("../../img/top/footer_icon_keep.png") center 15px no-repeat;
  border-radius: 48px;
  color: #fff;
  font-size: 0.87rem;
  line-height: 1;
  text-align: center;
}
.footer .keep-items:hover {
  background-color: #d87a1e;
}
.footer .footer-nav h4 {
  margin: 1.5rem 0 0;
  color: #ee8593;
}
.footer .footer-nav ul li {
  display: inline-block;
  margin: 1rem 2.5rem 0 0;
}
.footer .footer-nav ul li a {
  color: #373737;
}
.footer .footer-nav ul li a:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 9px;
  background: url("../../img/top/icon_list02.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-right: 0.5rem;
}
.footer .footer-nav ul li a:hover {
  text-decoration: underline;
}
.copyright {
  width: 100%;
  padding: 20px 0;
  background: #ee8593;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
}
@font-face {
  font-family: Rounded-Mplus-1c-regular;
  src: url("../../font/mplus-1c-regular.eot");
  src: url("../../font/mplus-1c-regular.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-regular_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-medium;
  src: url("../../font/mplus-1c-medium.eot");
  src: url("../../font/mplus-1c-medium.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-medium_web.woff2") format("woff2");
}
@font-face {
  font-family: Rounded-Mplus-1c-bold;
  src: url("../../font/mplus-1c-bold.eot");
  src: url("../../font/mplus-1c-bold.eot?") format("embedded-opentype"), url("../../font/rounded-mplus-1c-bold_web.woff2") format("woff2");
}
.r {
  font-family: Rounded-Mplus-1c-regular;
}
.m {
  font-family: Rounded-Mplus-1c-medium;
}
.b {
  font-family: Rounded-Mplus-1c-bold;
}
@media all and (-ms-high-contrast: none) {
  .r,
  .m,
  .b {
    -webkit-transform: rotate(0.001deg);
    -moz-transform: rotate(0.001deg);
    -o-transform: rotate(0.001deg);
    -ms-transform: rotate(0.001deg);
    transform: rotate(0.001deg);
  }
}
