footer.footer
	a(href="", onClik="backToTop(); return false").pagetop
		img(src="img/common/footer_pagetop.png", alt="ページトップへ")
	nav.footernav
		a(href="link.html") このサイトについて
		a(href="regulation.html") ご利用規約
		a(href="personal.html") プライバシーポリシー
		a(href="contact.html") お問い合わせ
	p Copyright ©  MEDICAL LIFE All Rights Reserved.
