header.header
	h1 病院・医院・クリニック検索<br>
		a(href="/", target="_top"): img(src="img/common/header_logo.png", alt="病院検索・クリニック検索サイト [Medical Life]")
	span.menubtn
	.block_menu
		fieldset.freeword
			input(type="text", placeholder="フリーワードで検索する")
			a(href="#"): img(src="img/top/top_search01_icon.png")
		ul.menulist
			li
				a(href="index.html") HOME
				a(href="list.html") 現在地から探す
				a(href="list.html") エリアから探す
				a(href="list.html") 特長から探す
				a(href="list.html") 新規開業病院・医院
				a(href="list.html") 医師・看護師求人情報
				a(href="link.html") このサイトについて
				a(href="regulation.html") ご利用規約
				a(href="personal.html") プライバシーポリシー
				a(href="contact.html") お問い合わせ
		span.menuclose CLOSE
