doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="device_width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 病院検索・クリニック検索サイト【メディカルライフ】
		link(rel="stylesheet", media="all", href="css/common/normalize.css")
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/common/header.css")
		link(rel="stylesheet", media="all", href="css/common/footer.css")
		link(rel="stylesheet", media="all", href="css/page/page.css")
	body.company
		.wrapper
			include _header.pug

			main.main.block_company
				h2 運営会社
				dl
					dt 会社名
					dd 株式会社 ＭＭＳ<br>～Medical Management System～
					dt 所在地
					dd
						h3 横浜事務所
						p 〒222-0033<br>神奈川県横浜市港北区新横浜3-8-11<br>KDX381ビル3階<br>TEL：045-478-3566<br>FAX：045-478-3567
						h3 東京事務所
						p 〒108-0073<br>東京都港区三田3-4-20 三豊ビル3F<br>TEL：03-5443-8789<br>FAX：03-5443-8975
					dt HP
					dd http://www.mms-g.co.jp/

			include _footer.pug


	script(type="text/javascript", src="js/jquery-3.1.0.min.js")
	script(type="text/javascript", src="js/jquery-ui.min.js")
	script(type="text/javascript", src="js/common.js")







