doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="device_width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 病院検索・クリニック検索サイト【メディカルライフ】
		link(rel="stylesheet", media="all", href="css/common/normalize.css")
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/common/header.css")
		link(rel="stylesheet", media="all", href="css/common/footer.css")
		link(rel="stylesheet", media="all", href="css/page/contact.css")
	body.contact
		.wrapper
			include _header.pug

			main.main
				form
					.contact_header
						h2 お問合せ
						p 以下のフォームよりお問い合わせを承っております。<br>お気軽にお問い合わせください。
						ol.contact_status
							li: span 入力する
							li: span 入力内容を<br>確認する
							li: span.current 問合せ完了
					section.contact_form
						h3 メディカルライフお問合せフォーム
						p.thankstext お問合せありがとうございます。<br>内容を確認の上、<br>ご連絡させていただきますので<br>しばらくお待ちください。
							a(href="index.html", target="_top") メディカルライフTOPへ戻る

			include _footer.pug


	script(type="text/javascript", src="js/jquery-3.1.0.min.js")
	script(type="text/javascript", src="js/jquery-ui.min.js")
	script(type="text/javascript", src="js/common.js")







