doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="device_width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 病院検索・クリニック検索サイト【メディカルライフ】
		link(rel="stylesheet", media="all", href="css/common/normalize.css")
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/common/header.css")
		link(rel="stylesheet", media="all", href="css/common/footer.css")
		link(rel="stylesheet", media="all", href="css/page/page.css")
	body.regulation
		.wrapper
			include _header.pug

			main.main.block_regulation
				h2 ご利用規約
				p この利用規約（以下「本規約」といいます）は、株式会社MMS（以下「当社」といいます）が提供するウェブサイトなどの各種サービスについて、利用者と当社との関係を定めるものです。
				section
					h3 第１条（本規約の基本性）
					ol
						li 本規約は、株式会社MMSが、ウェブサイト、電子メール、その他の電子情報媒体を通じて行う情報や機能を提供するサービス（以下総称して「当サービス」といいます）の全てに適用されます。但し、本規約は、提供する情報内容や機能を特化するためにテーマごとに細分して設けるウェブサイトなどで、固有の利用規約（以下「個別利用規約」）において、本規約と異なる条項を定めることを妨げず、その場合は、個別利用契約の定めが本規約の定めに優先します。
						li 本規約は、後述するメンバー登録の有無に関わらず、当サービスの利用者全てに適用されます。
				section
					h3 第２条（サービス内容）
					ol
						li 当社は、当サービスを用い、健康・医療に関する情報提供と、その質・量を高めるための付随サービスを行います。当該サービスには当サービス上に情報公開する医療機関、医薬品、治療法などに対する利用者からの評価、感想などの口コミ（以下「口コミ」とい　います）の投稿を受け付け掲載するサービスや、当サービス上に公開する各種の編集記事に対する利用者からの評価、感想などのコメ　ント（以下「コメント」といいます）の投稿を受け付け掲載するサービスなどを含みます。
						li 当社は、利用者のうち、当社が定める所定の手続きを踏みメンバー登録していただいた方（以下「メンバー」といいます）には、口コミの投稿を受け付ける機能、当社が運営する独自のポイント（以下「ポイント」といいます）制度、メンバーのログイン状態において利用可能になる個々のメンバー専用の情報表示エリア（以下「マイページ」といいます）など各種の追加サービスを提供します。その詳細は当サービスにおいて公表します。
				section
					h3 第３条（メンバー登録について）
					ol
						li 当サービス上で、口コミを投稿するなど、一定以上のサービスを利用するためにはメンバー登録が必要です。
						li メンバーに、当社は ＩＤおよびログインパスワード（以下「アカウント」といいます）を発行します。
						li メンバー登録は、本規約を承諾の上、当社所定の方法にて行います。
						li メンバー登録に際しては、メールアドレスなどの個人情報をいただきます。必ず正しい情報を入力してください。
				section
					h3 第４条（アカウントの使用停止・削除）
					ol
						li 当社は、メンバーが本規約の定めに違反した場合、事前の警告をすることなくアカウントの使用を一時停止、またはアカウントを削除する場合があります。本規約において、別途、アカウント使用停止・削除の対象となる場合を定めていますが、アカウントの使用　 停止・削除はそれらの場合に限りません。
						li 当社は、メンバーのアカウントを使用停止または削除したことにより何らかの損害が生じた場合であっても、これらについて一切責任を負いません。
				section
					h3 第５条（禁止行為）
					ol
						li 当社は、メンバーに不適切な行為があった場合、そのアカウントを使用停止又は削除することがあります。不適切な行為は様々であるため、その全てを列挙することはできませんが、例示すれば以下のとおりです。
							ol
								li 当サービスの情報を改ざん・消去すること
								li 当サービスを利用して犯罪行為の全部又は一部をなすこと
								li 当サービスを特定の医師、医療機関、医療機器、化粧品、医薬品、医薬部外品などの宣伝広告のために利用すること。当サービスにおいて宣伝広告を行う場合だけでなく、他の宣伝広告の一部として活用する場合を含みます
								li 有償無償を問わず、当サービスのアカウントを売買し、又は貸借すること
								li アカウントの運用を第三者に委ねること
								li 他のメンバーまたは第三者になりすまして当サービスを利用すること
								li サーバーまたはネットワークに著しい負荷をかけること
								li メンバー登録に際して事実に反した個人情報を登録すること
								li 他のメンバーの個人情報を収集することおよび当サービスの利用を通じて得た他のメンバーの個人情報を公表すること
								li 当サービスを誹謗中傷するなど、当サービスの印象を損なう行為をなすこと
								li 当サービスに表示された当社または第三者の権利に属する著作物を、権利者の許諾を得ずに利用すること
								li ポイントを不正な手段により取得するなど、ポイント制度運営に支障を与えること
								li 本規約の定め、当社が定める他の規約、あるいは当社の指導に違反すること
								li その他当サービスの運営を妨げること
				p.update 制定日： 2011年4月1日<br>最終改訂日： 2012年1月21日

			include _footer.pug


	script(type="text/javascript", src="js/jquery-3.1.0.min.js")
	script(type="text/javascript", src="js/jquery-ui.min.js")
	script(type="text/javascript", src="js/common.js")







