.branding__wrapper {
  height: 563px;
  background: #f9f9f9 url("../img/top/top_mainimg.jpg") center top no-repeat;
}
.branding {
  width: 1100px;
  height: 430px;
  margin: 0 auto;
  padding: 160px 0 0;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}
.branding strong {
  color: #ee8593;
  font-size: 2.8rem;
}
