doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="css/app.css")
		title gulp test
	body
		header
			p.header-title My Portfolio
		nav
			ul.menu
				li.menu-list
					a(href="http://gulpjs.com/" title="gulp.js") gulp.js
				li.menu-list
					a(href="http://learnboost.github.io/stylus/" title="stylus") stylus
		script(src="js/bundle.js")
		