doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300")
		link(rel="stylesheet" href="css/app.css")

		title My Portfolio

	body
		header.header
			h1 Sample Blog

		main.main
			ul.article__list
				li.article: a(href="")
					img(src="img/bg.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/rocky.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/meadow.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/bg.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/rocky.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/meadow.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/bg.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/rocky.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
				li.article: a(href="")
					img(src="img/meadow.jpg")
					h2 Sample Title
					p Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text.
			
		script(src="js/sample.js")
		