footer.footer__wrapper
	.pagetop
		a(href="javascript:void(0)") PAGE TOP
	
	.footer
		h2.footer-title
			img(src="img/sp_top/footer_logo.png", alt="柔整ワーカー")
		p.address 株式会社アーベイン・スタイル メディカルリクルーティング事業部<br>〒160-0023　東京都新宿区西新宿3-1-5
		ul.sns
			li: a(href=""): img(src="img/sp_top/footer_icon_01.png")
			li: a(href=""): img(src="img/sp_top/footer_icon_02.png")
			li: a(href=""): img(src="img/sp_top/footer_icon_03.png")
