header.header__wrapper
	.header
		h1.header-title
			a(href="./")
				img(src="img/sp_top/header_logo.png", alt="柔整ワーカー")
		nav.header-nav
			a(href="").keeping-items キープ
				small 12
			a(href="javascript:vlid(0)").menu-btn メニュー

nav.globalnav__wrapper
	.header
		h1.header-title
			a(href="./")
				img(src="img/sp_menu/header_logo.png", alt="柔整ワーカー")
		nav.header-nav
			a(href="").keeping-items キープ
				small 12
			a(href="javascript:vlid(0)").close-btn CLOSE
	ul.headeritems
		li: a(href="").keeping-btn キープ
			small 12
		li: a(href="").recentry-btn 最近見た
		li: a(href="ad.html").for-recruiter 採用ご担当者様へ
	ul.globalnav
		li: a(href="").gnav-search 求人を探す
		li: a(href="about.html").gnav-about 柔整ワーカーとは
		li: a(href="").gnav-faq Ｑ＆Ａ
		li: a(href="").gnav-login 企業ログイン
		li: a(href="").gnav-step 転職の流れ
	.contact__wrapper
		a(href="").contact-btn お問合せフォーム
		a(href="").tel-btn お電話でのお問合せ
			small 10:00～18:00 (土日祝除く)
	
