doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 柔道整復師の求人『柔整ワーカー』
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/detail.css")
	body.detail
		.wrapper

			include _header.pug

			main.main
				.contents-area
					section.item-data
						h3.itemdata-title
							small 整形外科
							strong エムアイ整形外科クリニック
							| の柔道整復師求人
							nav.itemdata-attribute
								ul
									li PT
									li 柔整師
									li あん摩
							ul
								li 正
								li パ
						p.itemdata-comment
							img(src="img/sp_detail/sp_item_sample_large.jpg")
							strong ★★★未経験者大歓迎！充実の無料研修制度！経験者優遇！
							span
								| 求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ
						ul.itemdata-characters
							li 正社員
							li オープニング
							li 社会保険完備
							li 完全週休2日
						.itemdata-status
							dl
								dt 業態
								dd 整形外科クリニック
								dt 職種
								dd 理学療法士（PT)　柔道整復師　あん摩マッサージ指圧師
								dt 給与
								dd 正社員
									strong 月給
										b 25.0
										| 万円　～　
										b 30.0
										| 万円
									| <br>
									| パート・アルバイト
									strong 時給
										b 900
										| 円　～　
										b 1200
										| 円
								dt アクセス
								dd 東京都西新宿0-0-0　西新宿ビル5階<br>新宿駅：徒歩9分、都庁前駅：徒歩3分、初台駅：徒歩6分
				
						.recruit-data
							h3 募集要項
							dl
								dt 業績
								dd 整形外科クリニック
								dt 職種
								dd 柔道整復師 , あん摩マッサージ指圧師
								dt 応募条件
								dd 柔道整復師（経験不問）
								dt 仕事内容
								dd
									ul
										li 保険診療
											ul
												li 柔整（骨折、脱臼、捻挫、打撲、挫傷）
												li 外傷処置（ギプス固定、ギプスシーネ固定、アルフェンス固定、テーピング固定）
										li 自費診療
											ul
												li 骨盤プログラム（トムソンテクニック）
												li 猫背プログラム（トムソンテクニック）
								dt 雇用形態
								dd 正社員　パート・アルバイト<br>※入社後6か月は研修期間となります。
								dt 給与
								dd 正社員
									strong 月給
										b 25.0
										| 万円　～　
										b 30.0
										| 万円
									| <br>
									| パート・アルバイト
									strong 時給
										b 900
										| 円　～　
										b 1200
										| 円
									| <br>※入社後6か月は研修期間として月額20万。それ以降は配属に応じて決定します。
								dt 給与例
								dd 30歳男性　:　年収450万円<br>40歳女性　:　年収600万円
								dt 勤務時間
								dd ① 09：00 ～ 18：00<br>② 18：00 ～ 24：00<br>③ 24：00 ～ 09：00
								dt 休日・<br>休暇
								dd 完全週休2日制<br>GW<br>夏季休暇<br>年末年始休暇
								dt 待遇・<br>福利厚生
								dd 社会保険完備、社員寮あり
					
						.about-entry
							h3 応募について
							dl
								dt 応募方法
								dd メールにて履歴書・経歴書を送付してください。
								dt 面接地
								dd 本社（東京都西新宿0-0-0西新宿ビル5階）までお越しください。
								dt 採用まで<br>の流れ
								dd 一次面接→役員面接→社長面接→採用
								dt 応募先
								dd 株式会社エムアイメイズ
									p 〒160-0023<br>東京都新宿区西新宿3-5-1　新宿嘉泉ビル８F<br>※オフィスエムアイの受付にて採用面接の旨をお伝えください。
									p TEL：03-5321-6999（担当：松浦朱美）
						
					section.item-message
						h3 メッセージ
						div
							p 求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ求人メッセージ
							figure
								img(src="img/sp_detail/sp_item_sample_small.jpg")
								figcaption テキストテキストテキストテキストテキストテキスト
							figure
								img(src="img/sp_detail/sp_item_sample_small.jpg")
								figcaption テキストテキストテキストテキストテキストテキスト
					
					section.office-data
						h3 勤務先データ
						dl
							dt 勤務地
							dd エムアイ整形外科クリニック
							dt アクセス
							dd 〒160-0023　東京都新宿区西新宿3-1-5　新宿嘉泉ビル８F<br>JR新宿駅西口より徒歩9分
							dt 設立
							dd 1995年10月
							dt 診療時間
							dd ＜月～金、祝日＞　9:00 ~ 11:30  /  15:00 ～ 20:00<br>＜土曜＞　9:00 ~ 14:00  ※土曜が祝日の場合は土曜日の時間帯で診療
							dt 機材／<br>診療内容
							dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ テキストテキストテキストテキスト
							dt スタッフ／<br>雰囲気
							dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ テキストテキストテキストテキスト
						
					section.company-data
						h3 法人データ
						dl
							dt 法人名
							dd 医療法人エムアイ整形会
							dt 所在地
							dd 〒160-0023　東京都新宿区西新宿3-1-5　新宿嘉泉ビル８F<br>JR新宿駅西口より徒歩9分
							dt TEL
							dd 03-0000-0000
					
					.btn-area
						a(href="").btn-keep キープ
						a(href="").btn-submit 応募する

			include _footer.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/jquery.ellipsis.min.js")
		script(type="text/javascript", src="js/common.js")

