doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title エムアイ整形外科クリニックの柔道整復師求人に応募する｜柔道整復師の求人『柔整ワーカー』
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/entry.css")
	body.entry
		.wrapper

			include _header.pug

			main.main
				.contents-area
					h2
						strong エムアイ整形外科クリニック
						| の柔道整復師求人に応募する
					
					section.item-data
						h3
							nav.itemdata-attribute
								ul
									li PT
									li 柔整師
									li あん摩
							small 整形外科
							strong エムアイ整形外科クリニック
							| の柔道整復師求人
						p: strong ★★★未経験者大歓迎！充実の無料研修制度！経験者優遇！
						.itemdata-status
							figure
								img(src="img/sp_top/sp_item_sample2.jpg")
							div
								dl
									dt 正社員
									dd 月給	
										b 25.0
										| 万円 ～　
										b 30.0
										| 万円
									dt パート・アルバイト
									dd 時給
										b 900
										| 円 ～　
										b 1200
										| 円
								p 東京都西新宿0-0-0　西新宿ビル5階
								
					ul.form-step.step3
						li 情報の入力
						li 入力内容の<br>確認
						li 完了
					section.form-end
						h3 -送信完了-
						p ご応募ありがとうございました。<br>担当者よりご連絡させていただきますので<br>しばらくお待ちください。
						a(href="index.html") 柔整ワーカートップへ

								
			include _footer.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/jquery.ellipsis.min.js")
		script(type="text/javascript", src="js/common.js")

