$white = #fff
$lightgray = #c5c5c5
$lightgray2 = #f4f3f1
$gray = #e4e2df
$gray2 = #646468
$gray3 = #999
$black = #000

$red = #bd3613
$orange = #e78000
$navy = #006794

$area1 = #6699cc
$area2 = #52bbd1
$area3 = #71d5cb
$area4 = #c0c743
$area5 = #efb838
$area6 = #f58c3f
$area7 = #f1a296
$area8 = #e77a72
$area9 = #e05147


