fieldset
	display: block
	margin: 0
	padding: 0
	font-weight: normal
	border: none

input[type=text]
	color: $gray2
	font-size: 1.29rem
	line-height: 1.1
	padding: 1em .5em
	background: $lightgray3
	border: none transparent
	box-shadow: rgba(100,100,100,.1) 1px 1px 1px inset

textarea
	color: $gray2
	font-size: 1.29rem
	line-height: 1.1
	padding: 1em .5em
	border: 1px solid $gray
	box-shadow: rgba(0,0,0,.2) 1px 1px 2px inset
	

:placeholder-shown
	color: $lightgray
::-webkit-input-placeholder
	color: $lightgray
:-moz-placeholder
	color: $lightgray
::-moz-placeholder
	color: $lightgray
:-ms-input-placeholder
	color: $lightgray

.select, .select>select
	color: $gray2
	display: block
	font-size: 1.29rem
	line-height: 1.1
.select>select
	width: 100%
	position: absolute
	top: 0
	left: 0
	padding: 1em 0
	height: 60px
	opacity: 0
	background: none transparent
	border: 0 none
	z-index: 2
	cursor: pointer
.select
	position: relative
	width: 200px
	padding: 1em .5em
	background: $lightgray3
	cursor: pointer	
	box-shadow: rgba(100,100,100,.1) 1px 1px 1px inset
.select::after
	content: "▼"
	color: $lightgray
	position: absolute
	right: 0
	top: 0
	padding: 1em .5em
	z-index: 1
	cursor: pointer
.label-desc
	&.default
		color: $lightgray
		
.radiolist
	padding: .25em 0
	font-size: 1.29rem
	input[type=radio]
		display: none
	label:before
		content: "●"
		display: inline-block
		width: 1.25em
		height: 1.25em
		margin-right: .15em
		background: $lightgray3
		border-radius: .7em
		text-align: center
		color: $lightgray3
		line-height: 1.33
		position: relative
		top: -1px
		box-shadow: rgba(100,100,100,.1) 1px 1px 1px inset
	input:checked + label:before
		color: $cian
	span
		display: inline-block
		margin-right: 1em
		
.checklist
	padding: .25em 0
	font-size: 1.29rem
	input[type=checkbox]
		display: none
	label
		display: inline-block
		margin-bottom: 5px
	label:before
		content: "✔"
		display: inline-block
		width: 1.25em
		height: 1.25em
		margin-right: .15em
		background: $lightgray3
		text-align: center
		color: $lightgray3
		line-height: 1.33
		position: relative
		top: -1px
		box-shadow: rgba(100,100,100,.1) 1px 1px 1px inset
	input:checked + label:before
		color: $cian
	span
		display: inline-block
		margin-right: 1em
		
			
			
// mobile
@media screen and (max-width: 767px)

	input[type=text]
		font-size: 1rem
		padding: 1em .5em

	textarea
		font-size: 1rem
		padding: 1em .5em

	.select, .select>select
		font-size: 1rem
	.select>select
		height: 43px

	.radiolist
		font-size: 1rem
		label:before
			font-size: 1.29rem
			line-height: 1.4
		span
			vertical-align: top

	.checklist
		font-size: 1rem
		label:before
			font-size: 1.29rem
		span
			vertical-align: top
			min-width: 4em



		
		