@import "common/_color"
@import "common/_form"

.contents-area
	section.form__block
		float: none
		width: 1100px
		margin: 0 auto
		.login__block
			margin: 40px 0
			padding: 60px 150px
			background: $lightgray2
			dl
				display: block
				border: none transparent
				background: none transparent
				dt,dd
					border: none transparent
				dt
					display: block
					width: auto
					text-align: left
					font-size: 1.14rem
					font-weight: normal
					img
						margin-right: .5em
						vertical-align: baseline
				dd:before
					display: none
				dd
					padding: 0
					fieldset
						padding: 15px 0 40px
						
						
					input[type=text]
						width: 100%
						margin: 0
						padding: .8em 1.5em
	
	.btn-login
		display: inline-block
		width: 310px
		height: 64px
		margin: 0 25px
		background: $orange
		border: 0px solid transparent
		border-radius: 4px
		text-align: center
		color: $white
		font-size: 1.5em
		font-weight: bold
		line-height: 64px
	.btn-login:hover
		background: $orange1		
	.btn-entry
		display: block
		width: 330px
		height: 42px
		margin: 40px auto
		background: $white
		border: 1px solid $gray2
		border-radius: 4px
		color: $blue3
		text-align: center
		font-size: 1.14rem
		line-height: 42px
		&:hover
			border-color: $gray3
			color: $blue2
