
@import "common/_color"
@import "common/_modal"

// branding
.branding
	width: 100%
	height: 613px
	max-width: 1700px
	margin: 0 auto
	padding-top: 114px
	background: url("../img/sales/pc/pc_sales_mainimg_bg.jpg") center top no-repeat
	box-shadow: rgba(0,0,0,.2) 0 1px 2px inset
	text-align: center
	h1
		width: 450px
		margin: 0 auto
		text-align: center
		color: $orange
		font-size: 2rem
		line-height: 1.2
		position: relative
		b
			color: $green
		strong
			font-size: 3rem
			line-height: 1.75
		small
			display: block
			width: 170px
			height: 170px
			padding: 47px 0 0
			background: $yellow
			border-radius: 85px
			text-align: center
			color: $black
			font-size: 1.28rem
			line-height: 1.5
			position: absolute
			top: -70px
			left: -120px

.main
	width: 100%
	max-width: 1700px

.contents-area
	width: 100%
	max-width: 1700px
	margin: 0 auto
	
	section
		text-align: center
		h2
			display: inline-block
			text-align: center
			position: relative
			&:before
				content: url(../img/sales/pc/pc_sales_point_icon_01.png)
				display: block
				width: 125px
				height: 115px
				position: absolute
				background: none
				left: -130px
				bottom: 20px
				top: auto
				margin: 0
			small
				display: block
				color: $black
				font-size: 1.1rem
			strong 
				display: block
				color: $green
				font-size: 2.5rem
				font-weight: bold
				line-height: 2

	// introduction
	.introduction
		width: 1100px
		margin: 0 auto
		padding: 100px 0 50px
		h2
			width: 400px
			margin: -70px auto 0
			text-align: center
			color: $green
			font-size: 1.7rem
			font-weight: bold
			line-height: 2.5rem
			position: relative
			border-bottom: 3px dashed $orange
			strong
				display: inline
				font-size: 1.7rem
				font-weight: bold
				line-height: 2.5rem
				color: $orange
				b
					font-size: 2em
			&:before
				content: url(../img/sales/pc/pc_sales_mainimg_obokun.png)
				background: none
				position: absolute
				left: -270px
				top: -110px
		>ul
			margin: 20px auto 0
			text-align: center
			li
				display: inline-block
				margin: 0 40px
				color: $green
				font-size: 1.7rem
			for i in (1..3)
				li:nth-of-type({i}):before
					content: "" + i
					display: inline-block
					width: 1.25em
					height: 1.25em
					margin-right: .25em
					background: $orange
					color: $white
					line-height: 1.4
					border-radius: 1em
				
	// address
	.sales_address
		width: 100%
		min-width: 1100px
		max-width: 1700px
		margin: 0 auto 0
		padding: 45px 0
		background: $green
		address
			width: 1100px
			margin: 0 auto
			display: flex
			flex-wrap: nowrap
			justify-content: space-between
			font-style: normal
			p
				display: block
				text-align: center
				font-size: 1.28rem
				color: $white
				b
					display: block
					color: $lightyellow2
					font-size: 3rem
					line-height: 1.1
					&:before
						content: url(../img/sales/pc/pc_sales_icon_tel.png)
						margin-right: .25em
						vertical-align: middle
					small
						display: inline-block
						color: $white
						font-size: 1.2rem
						vertical-align: middle
			a
				display: block
				width: 432px
				height: 80px
				padding-top: 18px
				background: $pink
				border-bottom: 5px solid $darkpink
				border-radius: 10px
				text-align: center
				color: $white
				font-size: 1.7rem
				line-height: 1.2
				small
					display: block
					font-size: 1rem
					font-weight: normal
		
	// plan
	.sales_plan
		width: 100%
		min-width: 1100px
		max-width: 1700px
		padding: 130px 0
		background: $lightgreen
		text-align: center
		h2
			display: inline-block
			text-align: center
			position: relative
			&:before
				content: url(../img/sales/pc/pc_sales_point_icon_01.png)
				display: block
				position: absolute
				left: -130px
				bottom: 10px
			small
				display: block
				color: $black
				font-size: 1.1rem
			strong 
				display: block
				color: $green
				font-size: 2.5rem
				font-weight: bold
				line-height: 2
		p
			margin: 20px auto
			text-align: center
			font-size: 1.28rem
			line-height: 2
		h3
			font-size: 1.7rem
			text-align: center
			&:before
				content: url(../img/sales/pc/pc_sales_sec03_img01.png)
				display: inline-block
				margin: 0 .5em
				vertical-align: text-top
			&:after
				content: url(../img/sales/pc/pc_sales_sec03_img02.png)
				display: inline-block
				margin: 0 .5em
				vertical-align: text-top
		ul
			margin: 20px auto 40px
			text-align: center
			li
				display: inline-block
				width: 331px
				height: 253px
				margin: 0 20px
				padding: 30px 0 0
				background: $orange
				border-radius: 5px
				text-align: center
				dt
					height: auto
					background: none
					line-height: 1
					border-radius: 10px
					color: $white
					font-size: 1.8rem
					strong
						color: $yellow
						font-size: 2.1rem
						font-weight: bold
				dd
					padding: 0
					span
						display: block
						width: 60%
						height: auto
						margin: 15px auto 20px
						padding: 0
						background: $white
						border-radius: 3rem
						color: $orange
						text-align: center
						font-size: 1.5rem
						line-height: 1.75
					strong
						color: $yellow
						font-weight: bold
						font-size: 4.2rem
						line-height: .6
						small
							font-size: 1.28rem
							font-weight: normal
							position: relative
							margin-left: -1em
							vertical-align: bottom
		a
			display: block
			width: 710px
			height: 100px
			margin: 0 auto
			padding-top: 36px
			background: $green
			border-bottom: 5px solid $darkgreen
			border-radius: 10px
			text-align: center
			color: $white
			font-size: 1.7rem
			line-height: 1.2
	
	// area
	.sales_area
		width: 1100px
		margin: 0 auto
		margin-top: 0
		padding: 75px 0 60px
		text-align: center
		&:after
			content: ""
			display: block
			clear: both
			width: 1px
			height: 1px
		>p
			margin: 20px auto
			text-align: center
			font-size: 1.28rem
			line-height: 2
			>img
				margin: 10px auto
		h3
			width: 565px
			height: 93px
			margin: 80px auto 30px
			background: url(../img/about/sp_about_sec03_img01.png) 0 0 no-repeat
			text-align: center
			color: $white
			font-size: 2.14rem
			line-height: 93px
		
		h4
			text-align: center
			color: $orange
			font-size: 1.7rem
			margin: 0 auto 20px
			
		.area8
			float: left
			position: relative
			margin: 50px auto 0
				
		.special4
			float: right
			position: relative
			width: 440px
			margin: 50px auto 0
			ul
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				li
					width: 215px
					height: 260px
					margin: 0 0 10px
					padding: 20px 0 10px
					border: 1px solid $orange
					border-radius: 5px
					color: $orange
					font-size: 1.1rem
					text-align: center
					position: relative
					&:after
						content: ""
						display: block
						width: 165px
						height: 165px
						margin: 10px auto 0
				li:nth-of-type(1):after
					background: url(../img/sales/pc/pc_sales_point02_map_02.png) no-repeat 0 0
				li:nth-of-type(2):after
					background: url(../img/sales/pc/pc_sales_point02_map_03.png) no-repeat 0 0
				li:nth-of-type(3):after
					background: url(../img/sales/pc/pc_sales_point02_map_04.png) no-repeat 0 0
				li:nth-of-type(4):after
					background: url(../img/sales/pc/pc_sales_point02_map_05.png) no-repeat 0 0
	
	// seo
	.sales_seo
		position: relative
		width: 100%
		height: 548px
		padding: 120px 0 0 51%
		min-width: 1100px
		max-width: 1700px
		background:url(../img/sales/pc/pc_sales_point03_img01.png) no-repeat 0 0,  url(../img/about/about_bg_pat.png) repeat 0 0
		overflow: hidden
		text-align: left
		h2
			margin-left: 100px
		p
			width: 530px
			margin: 20px 0 0
			font-size: 1.28rem
			line-height: 1.75
	
	// entry
	.sales_entry
		position: relative
		width: 100%
		height: 548px
		margin: 0
		padding: 120px 51% 0 0
		min-width: 1100px
		max-width: 1700px
		background: $white url(../img/sales/pc/pc_sales_point03_img02.png) no-repeat right top
		overflow: hidden
		text-align: right
		p
			width: 530px
			margin: 20px -12px 0 0
			font-size: 1.28rem
			line-height: 1.75
			display: inline-block
			text-align: left
	
	// btnarea
	.btn-area
		width: 100%
		padding: 90px 0
		background: $green
		a
			display: block
			width: 760px
			height: 116px
			margin: 0 auto
			padding-top: 39px
			background: $pink
			border-bottom: 5px solid $darkpink
			border-radius: 0px
			text-align: center
			color: $white
			font-size: 2rem
			line-height: 1.2
			position: relative
			&:after
				content: url(../img/sales/pc/pc_sales_contact_obokun01.png)
				position: absolute
				top: -10px
				right: 0
					
	// contentsnavi
	.contentsnavi
		width: 100%
		min-width: 1100px
		max-width: 1700px
		margin: 0 auto
		padding: 60px 0
		background: url(../img/plan/pc/pc_obo_sec08_bg.png) 0 0 repeat
		ul
			width: 100%
			text-align: center
			li
				display: inline-block
				margin: 0 14px
				a
					display: block
					width: 220px
					height: 110px
					padding-top: 50px
					background: $white
					border: 2px solid $orange
					border-radius: 5px
					text-align: center
					color: $orange
					font-size: 1.4rem
					position: relative
					&:before
						display: block
						position: absolute
						left: 50%
					&:after
						content: url(../img/plan/pc/pc_sales_navi_icon05.png)
						display: block
						width: 26px
						position: absolute
						bottom: -18px
						left: 50%
						margin-left: -13px
			li:nth-of-type(1)
				a:before
					content: url(../img/plan/pc/pc_sales_navi_icon01.png)
					width: 24px
					margin-left: -12px
					top: 15px
			li:nth-of-type(2)
				a:before
					content: url(../img/plan/pc/pc_sales_navi_icon02.png)
					width: 20px
					margin-left: -10px
					top: 21px
			li:nth-of-type(3)
				a:before
					content: url(../img/plan/pc/pc_sales_navi_icon03.png)
					width: 31px
					margin-left: -16px
					top: 20px
			li:nth-of-type(4)
				a:before
					content: url(../img/plan/pc/pc_sales_navi_icon04.png)
					width: 19px
					margin-left: -10px
					top: 19px
					
	// flow
	.sales_flow
		width: 1100px
		margin: 100px auto 0
		h3
			width: 454px
			height: 94px
			margin: 0 auto
			background: url(../img/sales/pc/pc_sales_titleRibbon.png) no-repeat 0 0
			text-align: center
			color: $white
			font-size: 2rem
			padding-top: 12px
		figure
			text-align: center
		figcaption
			display: block
			margin: 30px auto
			text-align: center
			font-size: 1.28rem
			color: $black2
					
	// image
	.sales_image
		width: 1100px
		margin: 100px auto 0
		h3
			width: 454px
			height: 94px
			margin: 0 auto
			background: url(../img/sales/pc/pc_sales_titleRibbon.png) no-repeat 0 0
			text-align: center
			color: $white
			font-size: 2rem
			padding-top: 12px
		dl
			margin: 60px 100px 60px 195px
			position: relative
			dt
				display: block
				width: 105px
				height: 105px
				padding-top: 25px
				background: $orange
				border-radius: 53px
				text-align: center
				color: $white
				font-size: 1.28rem
				line-height: 1.5
				position: absolute
				top: -36px
				left: -135px
			dd
				display: flex
				flex-wrap: nowrap
				justify-content: space-between
				figure
					display: inline-block
				figcaption
					display: block
					text-align: center
					font-size: 1rem
					margin: 0 0 20px
		p
			text-align: center
			font-size: 1.28rem
			line-height: 2
			img
				display: block
				
	// address2
	.sales_address2
		@extend .contents-area .sales_address
		padding: 100px 0
		h3
			color: $white
			font-size: 2rem
			text-align: center
			margin-bottom: 30px
		address
			p
				b
					font-weight: bold
					display: block
					font-size: 3.7rem
					line-height: 1.2
				small
					display: block
			a
				padding-top: 24px
				border-radius: 0
				small
					display: inline
	
	// faq
	.sales_faq
		width: 1100px
		margin: 100px auto 0
		h3
			width: 454px
			height: 94px
			margin: 0 auto
			background: url(../img/sales/pc/pc_sales_titleRibbon.png) no-repeat 0 0
			text-align: center
			color: $white
			font-size: 2rem
			padding-top: 12px
		h4
			display: block
			width: 270px
			height: 48px
			margin: 60px 0 30px
			background: $orange
			border-radius: 24px
			text-align: center
			color: $white
			font-size: 1.5rem
			line-height: 48px
		dl
			padding: 2.5rem
			font-size: 1.28rem
			text-align: left
			border-top: 1px solid $gray
			&:last-of-type
				border-bottom: 1px solid $gray
		dt
			display: block
			color: $green
			&:before
				content: "Q."
				font-size: 1.57rem
				margin-right: .5em
		dd
			display: block
			margin-top: .75em;
			&:before
				content: "A."
				color: $orange
				font-size: 1.57rem
				margin-right: .5em
		a
			display: block
			width: 435px
			height: 55px
			margin: 30px auto 0
			border: 1px solid $green
			border-radius: 5px
			text-align: center
			color: $green
			font-size: 1.5rem
			font-weight: bold
			line-height: 53px
			
	// project
	.sales_project
		width: 100%
		min-width: 1100px
		max-width: 1700px
		margin: 100px auto
		background: url(../img/about/about_bg_pat.png) repeat 0 0
		h3
			padding: 110px 0 20px
		p
			margin: 2em 0 0
			font-size: 1.28rem
			line-height: 2
		figure
			padding: 80px 0
			figcaption
				display: block
				margin: 30px 0 0
				color: $green
				font-size: 2rem
				
	
	// commons
	.information, .tokushu-area, .banner-area, .search-items, .about-area
		width: 850px
		margin: 70px auto 0
			