@import "common/_color"
@import "common/_form"

.contents-area
	section.form__block
		float: none
		width: auto
		margin: 20px
		.login__block
			margin: 20px 0
			padding: 30px 20px
			background: $lightgray2
			dl
				display: block
				border: none transparent
				background: none transparent
				dt,dd
					border: none transparent
				dt
					display: block
					width: auto
					text-align: left
					font-size: 1.14rem
					font-weight: normal
					img
						margin-right: .5em
						vertical-align: baseline
				dd:before
					display: none
				dd
					padding: 0
					fieldset
						padding: 15px 0 40px
						
						
					input[type=text]
						width: 100%
						margin: 0
						padding: .8em 1.5em
	
	.btn-login
		display: inline-block
		width: 243px
		height: 55px
		margin: 0 25px
		background: $orange
		border: 0px solid transparent
		border-bottom: 3px solid $orange2
		border-radius: 5px
		text-align: center
		color: $white
		font-size: 1.29em
		font-weight: bold
		line-height: 55px
	.btn-entry
		display: block
		width: 250px
		height: 30px
		margin: 20px auto
		background: $white
		border: 1px solid $gray2
		border-radius: 4px
		color: $blue3
		text-align: center
		font-size: .86rem
		line-height: 30px
