
@import "common/_color"
@import "common/_modal"

// branding
.branding
	width: 100%
	margin: 0 auto
	p
		img
			width: 100%
	// type select
	.type-select
		margin: 0 10px
		padding-top: 5px
		ul
			display: flex
			flex-wrap: nowrap
		li
			flex: 1
			display: block
			padding: 0 1px
			vertical-align: text-bottom
			span,a
				display: block
				border-radius: 5px 5px 0 0
				color: $white
				font-size: .75em
				font-weight: bold
				text-align: center
				vertical-align: text-bottom
			span
				height: 30px
				line-height: 30px
			a
				height: 27px
				line-height: 27px
				position: relative
				top: 3px
		.type-all
			a,span
				background: $green
		.type-part
			a,span
				background: $orange
		.type-full
			a,span
				background: $blue
.front-search
		width: 100%
		height: 185px
		margin: 0 auto
		padding: 10px 10px 0
		h2
			width: 300px
			height: 60px
			margin: 0 auto
			background: $green
			text-indent: 9999px
			white-space: nowrap
			overflow: hidden
			position: relative
			z-index: 2
		>div
			border: 2px solid $white
			position: relative
			top: -27px
			padding: 11px 0 0
		.search-item
			display: inline-block
			width: 49%
			vertical-align: top
			padding: 1em
			position: relative
			&:after
				content: ""
				display: block
				width: 11px
				height: 7px
				background: url("../img/top/sp/top_search_icon2.png") 0 0 no-repeat
				background-size: contain
				position: absolute
				top: 50%
				right: 24px
				margin-top: -3px
			select
				width: 100%
				height: 36px
				padding: 0 1.75em 0 .5em
				background: $white
				border-radius: 4px
				cursor: pointer
		.search-item:not(:first-of-type):before
			content: ""
			display: block
			width: 21px
			height: 21px
			background: url("../img/top/pc/top_search_icon03.png") 0 0 no-repeat
			background-size: contain
			position: absolute
			top: 50%
			left: -13px
			margin-top: -10px
		.btn-area
			display: block
			text-align: center
			.btn-submit
				width: 80%
				height: 36px
				margin: 0 0 14px
				background: $pink
				border: 0px solid transparent
				border-bottom: 3px solid $pink2
				border-radius: 20px
				text-align: center
				font-weight: bold
				color: $white
				line-height: 36px
				letter-spacing: .25em

.top-all .front-search
	background: $green
	h2
		background: $green url("../img/top/sp/top_search_icon01.png") center no-repeat
		background-size: contain
.top-part .front-search
	background: $orange
	h2
		background: $orange url("../img/top/sp/top_search_icon02.png") center no-repeat
		background-size: contain
.top-full .front-search
	background: $blue
	h2
		background: $blue url("../img/top/sp/top_search_icon03.png") center no-repeat
		background-size: contain

.contents-area

	// job search
	.job-search
		margin: 0 auto
		padding: 10px 10px 0 
		background: $orange
		h2
			display: inline-block
			margin: 0 6px
			padding: 0 6px
			background: $orange
			color: $white
			position: relative
			z-index: 2
			&:before
				background-image: url("../img/top/sp/title_icon02.png")
			strong
				color: $yellow
				font-size: 1.2em
		ul
			display: flex
			flex-wrap: wrap
			margin: 10px 0 0
			padding: 15px 10px 10px
			border: 2px solid $white
			position: relative
			top: -23px
		li
			display: block
			width: 33.33%
			text-align: center
			position: relative
			border: 1px solid transparent
			a
				display: block
				height: 85px
				padding: 1.5em 0 0
				text-align: center
				color: $white
				font-size: .75em
				line-height: 1.2
				&:before
					content: ""
					display: block
					height: 30px
					margin-bottom: 1em
					background-size: contain
					background-position: center top
					background-repeat: no-repeat 
		for $i in 1..9
			li:nth-of-type({$i}) a
				&:before
					background-image: url("../img/top/sp/top_search01_0" + $i + ".png")
		for $i in 10..12
			li:nth-of-type({$i}) a
				&:before
					background-image: url("../img/top/sp/top_search01_" + $i + ".png")
		li:nth-of-type(3n-2)
			border-bottom: 1px solid $white
		li:nth-of-type(3n-1)
			border-left: 1px solid $white
			border-bottom: 1px solid $white
		li:nth-of-type(3n)
			border-left: 1px solid $white
			border-bottom: 1px solid $white
		li.lastlow
			border-bottom: 1px solid transparent

	// salary search
	.salary-search
		margin: 0 auto
		padding: 10px 10px 0 
		background: $blue
		h2
			display: inline-block
			margin: 0 6px
			padding: 0 6px
			background: $blue
			color: $white
			position: relative
			z-index: 2
			&:before
				background-image: url("../img/top/sp/title_icon03.png")
			strong
				color: $yellow
				font-size: 1.2em
		form
			margin: 0
			padding: 15px 0 0
			background: $blue
			border: 2px solid $white
			position: relative
			top: -13px
		.search-item
			display: inline-block
			width: 49%
			vertical-align: top
			padding: 0 1em 1em
			position: relative
			&:after
				content: ""
				display: block
				width: 11px
				height: 7px
				background: url("../img/top/sp/top_search_icon2.png") 0 0 no-repeat
				background-size: contain
				position: absolute
				top: 50%
				right: 24px
				margin-top: -9px
			select
				width: 100%
				height: 36px
				padding: 0 1.75em 0 .5em
				background: $white
				border-radius: 4px
				cursor: pointer
		.search-item:not(:first-of-type):before
			content: ""
			display: block
			width: 21px
			height: 21px
			background: url("../img/top/pc/top_search_icon03.png") 0 0 no-repeat
			background-size: contain
			position: absolute
			top: 50%
			left: -13px
			margin-top: -16px
		.btn-area
			display: block
			text-align: center
			.btn-submit
				width: 80%
				height: 36px
				margin: 0 0 14px
				background: $pink
				border: 0px solid transparent
				border-bottom: 3px solid $pink2
				border-radius: 20px
				text-align: center
				font-weight: bold
				color: $white
				line-height: 36px
				letter-spacing: .25em
	section:not(:first-of-type).salary-search
		margin-top: 0

	// kawagoe items
	.kawagoe-items
		ul
			display: flex
			flex-wrap: wrap
			margin: 20px 10px
			li
				display: block
				width: 33.3%
				border: 1px solid transparent
			li a
				display: block
				height: 60px
				position: relative
				img
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					margin: auto
			li:nth-of-type(1)
				border-bottom: 1px solid $gray
			li:nth-of-type(2)
				border-left: 1px solid $gray
				border-bottom: 1px solid $gray
			li:nth-of-type(3)
				border-left: 1px solid $gray
				border-bottom: 1px solid $gray
			li:nth-of-type(5)
				border-left: 1px solid $gray
			li:nth-of-type(6)
				border-left: 1px solid $gray
			

	// keepitems
	// pickup items
	// new items
	.keep-items,.pickup-items,.new-items
		>ul
			margin: 10px 10px 60px
		>ul>li
			background: $white
			position: relative
		>ul>li
			width: 100%
			.celebration
				height: 30px
				padding: 3px 10px 0 30px
				background: $pink url("../img/top/sp/job_icon01.png") 10px 7px no-repeat
				background-size: 14px 17px
				border-radius: 0 0 4px 4px
				color: $yellow
				font-size: .87em
				text-align: center
				line-height: 25px
				position: absolute
				top: -4px
				right: 0
				strong
					font-size: 1.2em
					font-weight: bold
			.item-header
				padding: 10px 0 0
				font-size: .75em
				a
					display: inline-block
					margin-right: .5em
					padding: 0 1em
					background: $lightgray
					font-weight: bold
					vertical-align: middle
					text-decoration: underline
				p
					padding: 1em
			h3
				margin: 0 10px
				font-size: 1em
				font-weight: bold
				line-height: 1.5
				&:before
					content: ""
					display: block
					float: left
					width: 30px
					height: 30px
					margin: 0 6px 0 0
					position: relative
					top: 5px
			.item-status
				figure
					margin: 12px 6px
					img
						display: inline-block
						width: 90px
						margin: 5px 5px 0 0
						vertical-align: top
					p
						display: inline-block
						width: calc(100% - 100px)
						font-size: .75em
						line-height: 1.75
				table
					border-collapse: sepalate
					th,td
						padding: .5em 1em
						border: 6px solid $white
						font-size: .87em
					th
						background: $lightgray2
						text-align: center
					td
						text-align: left
						font-weight: bold
						a
							text-decoration: underline
						small
							display: inline-block
							font-weight: normal
							font-size: .87em
						strong
							display: inline-block
							margin-right: .25em
							font-weight: bold
							font-size: 1.2em
			.item-characters
				margin: 0 6px
				ul
					display: flex
					flex-wrap: wrap
					li
						width: 24%
						height: 18px
						margin: 0 3px 3px 0
						border: 1px solid $gray2
						border-radius: 2px
						color: $green
						font-size: .75em
						text-align: center
						line-height: 18px
			.item-footer
				width: calc(100% - 12px)
				margin: auto
				position: absolute
				left: 0
				right: 0
				bottom: -2em
				small
					font-size: .67em
					line-height: 1.2
				small:first-of-type
					float: left
				small:last-of-type
					float: right
			.btn-area
				margin: 10px 6px
				padding: 15px 0
				background: $lightgray2
				text-align: center
				a
					display: inline-block
					height: 40px
					border-radius: 4px
					font-size: 1em
					font-weight: bold
					line-height: 40px
					position: relative
				.btn-keep
					width: 100px
					background: $white
					border: 1px solid $green
					border-bottom: 2px solid $green
					color: $green
					&:after
						content: ""
						background: url("../img/top/pc/job_icon03.png") 0 0 no-repeat
						background-size: contain
						display: block
						width: 34px
						height: 22px
						position: absolute
						right: -2px
						bottom: -10px
				.btn-more
					width: 180px
					color: $white
		>ul>li.part
			border-top: 4px solid $orange
			h3
				color: $orange
				&:before
					background: url("../img/top/sp/job_icon02.png") 0 0 no-repeat
					background-size: contain
			.item-status table td strong
				color: $orange
			.btn-area
				border-bottom: 2px solid $orange
				.btn-more
					background: $orange
					border-bottom: 2px solid $orange2
					color: $white
		>ul>li.full
			border-top: 4px solid $blue
			h3
				color: $blue
				&:before
					background: url("../img/top/sp/job_icon02_02.png") 0 0 no-repeat
					background-size: contain
			.item-status table td strong
				color: $blue
			.btn-area
				border-bottom: 2px solid $blue
				.btn-more
					background: $blue
					border-bottom: 2px solid $blue2
					color: $white
		>ul>li.newitem
			margin-bottom: 12px
			padding-bottom: .5em
			border-top: 1px solid $gray
			border-bottom: 1px solid $gray
			.celebration
				top: -1px
			.item-header
				&:before
					content: ""
					display: inline-block
					width: 27px
					height: 27px
					vertical-align: middle
				a
					display: inline-block
					margin-right: 0
					padding: 0 .25em
					background: transparent
					font-weight: bold
					vertical-align: middle
					text-decoration: underline
			&.part
				.item-header:before
					background: url("../img/top/sp/job_icon02.png") 0 0 no-repeat
					background-size: contain
			&.full
				.item-header:before
					background: url("../img/top/sp/job_icon02_02.png") 0 0 no-repeat
					background-size: contain
			h3
				border-top: 1px solid $gray
				padding: .5em 0
				width: calc(100% - 1em)
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				&:before
					display: none
			.item-status
				display: flex
				margin: 0 6px
				figure
					width: 115px
					margin: 0
					img
						width: 115px
						margin: 0
				table
					flex: 1
					border-collapse: collapse
					th,td
						padding: 0 0 0 1em
						border: none
						font-size: .87em
						font-weight: bold
					th
						background: transparent
						text-align: left
					td
						text-align: left
						strong
							font-size: 1em
					

		

//////////////////////
// top-part

.pinpoint-search
	margin: 0 auto
	padding: 10px
	background: $green
	li
		margin: 0 0 10px
		a
			display: block
			height: 77px
			padding: 15px 10px 0 80px
			background: $white
			border-radius: 8px
			position: relative
			&:before
				content: ""
				display: block
				width: 80px
				height: 77px
				position: absolute
				top: 0
				left: 0
			strong
				display: block
				color: $orange
				font-size: 1em
				font-weight: bold
				text-align: center
				b
					font-size: 1.2em
					font-weight: bold
			small
				display: block
				font-size: .75em
				text-align: center
	li:nth-of-type(1) a:before
		background: url("../img/top/sp/top_serch_pinpoint.png") center no-repeat
		background-size: 62px 60px
	li:nth-of-type(2) a:before
		background: url("../img/top/sp/top_serch_pinpoint02.png") center no-repeat
		background-size: 66px 57px
	li:nth-of-type(3) a:before
		background: url("../img/top/sp/top_serch_pinpoint03.png") center no-repeat
		background-size: 61px 67px
					
.top-part .contents-area .job-search
	margin: 0 auto
	background: $blue
	h2
		background: $blue

	
	
//////////////////////
// top-full

.top-full .salary-search
		background: $green
		h2,form
			background: $green

					
					
					
					