
@import "common/_color"
@import "common/_modal"

// branding
.branding
	width: 100%
	height: 215px
	margin: 0 auto
	padding-top: 81px
	background: url("../img/unnei/sp_unei_mainimg_bg.jpg") center -60px no-repeat
	background-size: cover
	h1
		width: 284px
		margin: 0 auto
		text-align: right
		img
			width: 144px

.contents-area
	
	// message
	.message
		padding-top: 30px
		position: relative
		h2
			height: 79px
			padding: 35px 0
			background: url(../img/unnei/sp_unei_maggase_titilebg.png) center top no-repeat
			background-size: contain
			text-align: center
			color: $mosgreen
			font-size: 1.5rem
			font-weight: bold
			line-height: 1
			&:before
				display: none
		p
			margin: 2em 2em 0
			font-size: .87rem
			line-height: 2em
			text-align: left
			position: relative
			z-index: 2
			strong
				font-size: 1.2em
				color: $mosorange
				font-weight: bold
		h3
			margin: 2em 0 0
			color: $mosgreen
			font-size: 1.2rem
			line-height: 1.3
			text-align: center
			position: relative
			&:after
				content: ""
				display: block
				width: 100%
				height: 160px
				margin: 2em auto 0
				background: url(../img/unnei/sp_unei_tree_img01.png) center top no-repeat
				background-size: contain

	// company
	.company
		padding-top: 30px
		position: relative
		h2
			height: 44px
			margin: 0 0 40px
			background: url(../img/unnei/sp_unei_gaiyou_titilebg.png) center bottom no-repeat
			background-size: 19px 11px
			text-align: center
			color: $mosgreen
			font-size: 1.5rem
			font-weight: bold
			line-height: 1
			&:before
				display: none
		dl
			margin: 0 20px
			padding: 20px 0
			font-size: .87rem
			line-height: 1.5rem
			&:not(:first-of-type)
				border-top: 1px solid $gray
			dt
				display: block
				text-align: center
			dd
				display: block
				padding: .5rem 0 0
				text-align: center
				ul
					li
						text-align: center
			
	// project
	.project
		padding: 30px 0
		position: relative
		h2
			height: 70px
			padding: 30px 0
			background: url(../img/unnei/sp_unei_project_titilebg.png) center top no-repeat
			background-size: contain
			text-align: center
			color: $mosgreen
			font-size: 1.5rem
			font-weight: bold
			line-height: 1
			&:before
				display: none
		p
			margin: 2em 2em 0
			font-size: .87rem
			line-height: 2em
			text-align: center
			position: relative
			z-index: 2
		ul
			display: flex
			flex-wrap: wrap
			justify-content: center
			margin: 2em 2em 0
			li
				display: block
				width: 81px
				height: 72px
				margin: 0 5px
				background: url(../img/unnei/sp_unei_project_img01.png) 0 0 no-repeat
				background-size: contain
				text-align: center
				font-size: 1.1rem
				color: $white
				line-height: 78px
			