footer.footer__wrapper
	.pagetop
		a(href="javascript:void(0)"): img(src="img/top/pc/pagetop.png", alt="ページの先頭へ")
	
	.footer
		h2.footer-title
			small 川越市の求人情報(アルバイト・パート・正社員)
			img(src="img/top/footer_logo.png", alt="川越オーボ")
		p.address 川越事務所：埼玉県川越市松江町2丁目　KOEDOBASE
		.contact__block
			a(href="./inquiries.html").btn-contact お問合せフォーム
		nav.footer-nav
			ul
				li: a(href="") 川越ＯＢＯトップ
				li: a(href="") 川越ＯＢＯアルバイト・パート
				li: a(href="") 川越ＯＢＯ正社員
				li: a(href="") 求人を探す
				li: a(href="") 川越ＯＢＯとは
				li: a(href="") Ｑ＆Ａ
				li: a(href="") 採用ご担当者様へ
				li: a(href="") お祝い金制度
				li: a(href="") 利用規約
				li: a(href="") 個人情報保護方針
				li: a(href="") 運営会社
	
	.copyright copyright ©川越オーボ All Rights Reserved.
