nav.globalnav__wrapper
	ul.globalnav
		li: a(href="").gnavi_search 求人を探す
		li: a(href="about.html").gnavi_about 川越オーボとは
		li: a(href="").gnavi_flow 応募までの流れ
		li: a(href="inquiries.html").gnavi_contact お問合せ