h1.header-title
	a(href="./")
		img(src="img/top/pc/header_logo.png", alt="川越オーボ")
nav.header-nav
	a(href="").keeping-items キープ
	a(href="").recently-items 最近見た
	a(href="ad.html").for-recruiter 採用ご担当者様へ

	
