footer.footer__wrapper
	.footer
		.pagetop
			a(href="javascript:void(0)"): img(src="img/top/sp/pagetop.png", alt="ページの先頭へ")
		nav.footer-nav
			ul
				li: a(href="") 川越OBOについて
				li: a(href="") 採用をお考えの企業の方へ
				li: a(href="") お問合せ
		h2.footer-title
			small 川越市の求人情報(アルバイト・パート・正社員)
			img(src="img/top/sp/header_logo.png", alt="川越オーボ")
		p.address 川越事務所：埼玉県川越市松江町2丁目　KOEDOBASE
	
	.copyright copyright ©川越オーボ All Rights Reserved.
