h1.header-title
	a(href="./") 川越市の求人情報(アルバイト・パート・正社員)
		img(src="img/top/sp/header_logo.png", alt="川越オーボ")
nav.header-nav
	a(href="").keeping-items キープ
	a(href="javascript:void(0)").menu-items メニュー
