nav.sp_globalnav__wrapper
	header.header
		h1.header-title
			a(href="./") 川越市の求人情報(アルバイト・パート・正社員)
				img(src="img/top/sp/header_logo.png", alt="川越オーボ")
		nav.header-nav
			a(href="").keeping-items キープ
			a(href="javascript:void(0)").menu-close 閉じる

	ul.globalnav
		li: a(href="").gnav-search 求人を探す
		li: a(href="").gnav-about 川越オーボとは
		li: a(href="").gnav-flow 応募までの流れ
		li: a(href="").gnav-contact お問い合わせ
