doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 川越市のお仕事に特化した“お祝い金がもらえる”地元密着求人サイト「川越オーボ」
		link(rel="stylesheet", media="all", href="css/common/sp_common.css")
		link(rel="stylesheet", media="all", href="css/sp_about.css")
	body.about
		.wrapper
			
			// ヘッダー
			header.header__wrapper
				.header
					include _sp_header.pug
			
			// メニュー
			include _sp_globalnav.pug
			
			.branding
				h1
					strong 川越で働きたい！が見つかる求人サイト
					| 川越市内のアルバイト・パート・社員<br>求人情報を掲載「川越オーボ」
				small 会員登録不要
				small お祝い金求人有り！

			main.main
				
				.contents-area
				
					// introduction
					section.introduction
						h2 川越発！オーボはこんな<br>求人情報を掲載しています！
						ul
							li
								strong 川越市
								p 全国でも埼玉県でもなく<br>「川越市」の求人情報に<br>特化しています。
							li
								strong ママ・高校生応援
								p ママさんや高校生歓迎の<br>お仕事を一発検索できる<br>ボタンを設けています。
							li
								strong お祝い金
								p 嬉しいお祝い金が貰える<br>求人情報も掲載しています。
						p 「川越市の商店・企業」が気軽に使え、<br>「川越で働きたい人」が集まる求人サイトです。<br>川越市に特化することで、全国区の<br>求人サイトだとどうしても埋もれてしまいがちな<br>地元の優良求人情報を見つけることができます。<br>もちろんすべて無料でご利用いただけます。
						article
							h3: img(src="img/about/sp_about_sec02_title.png", alt="OBOの嬉しい4つの特徴")
							.points
								ul
									li <strong>川越市の求人情報に特化！</strong><br>川越で働きたい人の為だけの求人サイト
									li 川越地域発信の最新求人情報をチェック！<br><strong>お祝い金が貰える求人あり</strong>
									li <strong>会員登録不要</strong>で簡単応募！<br>直接エントリーでさくっと決まる！
									li 働きたい<strong>主婦・ママ・高校生応援！</strong><br>一発検索でマッチング求人を表示
					
					// check1
					section.check1
						p 川越市で働きたい皆さんを<br>川越OBOは応援します♪
						a(href="") 川越市の<br><strong>新着情報をチェック</strong>する
				
					// point1
					section.point1
						h2 <strong>川越市</strong>の求人情報に特化
						p 川越オーボは川越市内のパート・アルバイト・<br>社員の求人情報に特化しているから、<br>全国区の求人サイトで埋もれてしまいがちな<br>川越市の企業様や商店様の求人情報も<br>しっかりと求職者へお届けします。
						h3 川越OBOお仕事エリアマップ
						p オーボは独自のお仕事エリア設定により、<br>地域性の高い求人情報を<br>簡単に見つけることができます。
						p: img(src="img/about/sp_about_sec03_text01.png", alt="カワゴエシノ8つの地域エリア＋お仕事情報がある4つの特別エリア＝計12エリアから探せます")
						.area8
							h3 川越市の<br><strong>８</strong>つの地域エリア
							ul
								li
									a(href="") 名細・山田エリア
								li
									a(href="") 芳野・古谷エリア
								li
									a(href="") 霞ヶ関・的場エリア
								li
									a(href="") 川越市中心エリア
								li
									a(href="") 大東エリア
								li
									a(href="") 南古谷エリア
								li
									a(href="") 福原エリア
								li
									a(href="") 高階・新河岸エリア
						.special4
							h3 お仕事情報が多い<strong>4</strong>つの特別エリア
							ul
								li
									a(href="") クレアモール・丸広エリア
									p 「川越市中心エリア」の中に位置し、埼玉県では大宮駅周辺に次ぐ県内第2位の繁華街を形成しているため飲食店や販売店の求人情報が多いエリアです。
								li
									a(href="") アトレ・PePe・駅ビルエリア
									p 「川越市中心エリア」の中に位置し駅構内から直結していたり、駅の目の前を対象としたエリアです。駅チカの為、通うのにも便利な求人情報が多いです。
								li
									a(href="") 蔵のまち一番街エリア
									p 「川越市中心エリア」の中に位置し、蔵通りを中心とした観光エリアです。川越の文化を感じながら働いたり、観光客向けの接客をしたい人に人気です。
								li
									a(href="") 川越工業団地エリア
									p 「芳野・古谷エリア」の中に位置し川越市芳野台1丁目と芳野台2丁目にまたがる「川越工業団地」のエリアです。製造業の求人情報が多いです。
				
					// point2
					section.point2
						h2 嬉しい<br><strong>お祝い金</strong>求人にも対応
						figure
							figcaption お祝い金マークのついた<br>求人でお祝い金GET！
							img(src="img/about/sp_about_sec04_img01.png", alt="")
						p 川越オーボは、企業や商店が任意でお祝い金の設定ができる求人サイトです。お祝い金が付いているものとそうでないものがあります。<br>双方対応だからこそ、お祝い金サイトを敬遠していたお店も、流行のお祝い金求人情報を掲載してみたかったお店も集まってきます。優良な川越求人情報をお見逃しなく！
							a(href="") お祝い金について詳しく見る
				
					// point3
					section.point3
						h2 <strong>会員登録不要</strong>で楽々利用
						p 求職者の方は当サイトで会員登録などをせずに、すぐにご希望の求人へご応募頂くことができます。我々は個人情報を保有したり、別用途に個人情報を利用することもありません。<br>オーボは直接エントリー制度を取り入れておりますので、申込みいただいた応募データは直接応募先の採用担当者へ届きそこから選考スタートとなります。<br>川越で働きたい人たちを応援するサイトだから、煩わしいと思われる順序は排除しました。ストレスを感じず、スピーディにお仕事探しをして頂けます。
				
					// point4
					section.point4
						h2 <strong>主婦ママや高校生</strong>の<br>お仕事探しを応援
						p 働くための条件が多くなってしまう主婦ママワーカーさんや高校生のアルバイト・パート探しがスムーズに行えるように川越オーボは一括検索ができるボタンを設けています。川越市内には家庭や勉強と両立できるお仕事がたくさんあります。<br>
						ul
							li: a(href="") <strong>主婦ママ歓迎</strong>の<br>お仕事をチェック！
							li: a(href="") <strong>高校生歓迎</strong>の<br>お仕事をチェック！
					
					// cm
					section.cm
						figure
							figcaption いつでもどこでも<br>川越オーボでお仕事検索！
							img(src="img/about/sp_about_sec07_img01.png", alt="")
					
					// flow
					section.flow
						h2 応募の流れ
						ol
							li: div <strong>START!</strong><br>まずは希望の求人を見つけましょう！
							li: div <p class="voice">直接応募が嬉しい！</p>オーボの求人詳細より<br>応募先へ直接応募ができます。
								dl.note-keep
									dt キープ機能
									dd 気になる求人を保存しておけます。
							li: div 応募先から直接連絡が届きます。
							li: div <strong>選考・面接</strong><br>条件等も 確認しましょう。
							li: div <strong>採用・内定</strong>
							li: div <strong>初勤務</strong><br>新しい一歩が<br>始まります。
								dl.note-prize
									dt お祝い金
									dd お祝い金求人に<br>申し込んだ場合は<br>申請を忘れずに！
					
					// check2
					section.check2
						p 川越ママさんワーカーを<br>応援しています！
						a(href="") <strong>川越ママさん歓迎！</strong><br>求人情報をチェックする
					
					// faq
					section.faq
						h2 よくある質問
						- for (var i = 0; i < 6; i++)
							dl
								dt 川越オーボに掲載したいです。
								dd
									div ご検討ありがとうございます。<a href="">採用担当者様へ</a>をご確認をいただきお申込みください。
									span.accordion
					
					// check3
					section.check3
						p 高校生のアルバイトを<br>応援しています！
						a(href="") <strong>川越高校生歓迎！</strong><br>求人情報をチェックする
					
					// kbp
					section.kbp
						h2 KOEDO　BASE　PROJECT
						p 私たちができる小さなプロジェクトが大好きな「川越」にすこしでも貢献できるように川越地域の為にできることを小江戸基地より発信していきます。
						p 川越オーボは「川越で働きたい人」「川越市で営む人」のための求人サイトです。<br>川越オーボをご利用頂くことで、川越市の地域活性化に繋げていきます。
						figure
							img(src="img/about/sp_about_sec10_img01.png", alt="")
							figcaption 川越地域の皆さんと一緒に<br>川越オーボは育っていきます！
					
					// check4
					section.check4
						p 工場ワークを<br>応援しています！
						a(href="") 求人情報をチェックする
					
					// インフォメーション
					section.information
						h2 information
						ul
							- for (var i = 0; i < 3; i++) {
								li
									small 2017/06/21
									a(href="") テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							- }
					
					// 特集バナー
					section.tokushu-area
						a(href="").tokushu1
							h3 オフィスワーク特集
							p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト 
						a(href="").tokushu2
							h3 大学生歓迎のお仕事
							p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト 
					
					// バナー
					section.banner-area
						a(href="")
							img(src="img/top/pc/bnr_oiwai.jpg", alt="川越オーボで仕事が決まるとお祝い金もらえます！詳しくはこちら")
						img(src="img/top/pc/top_bnr_04.jpg", alt="川越OBOについて")
			
					// おすすめ情報
					section.special-items
						h2 おすすめ情報
						ul
							li: a(href=""): img(src="img/top/sp/top_bnr_05.jpg", alt="")
							li: a(href=""): img(src="img/top/sp/top_bnr_06.jpg", alt="")
							li: a(href=""): img(src="img/top/sp/top_bnr_07.jpg", alt="")
							li: a(href=""): img(src="img/top/sp/top_bnr_08.jpg", alt="")

					// エリア検索・職種検索
					section.search-items
						h2 エリアから探す
						ul
							each val in ["川越市中心","芳野・古谷","南古谷","高階・新河岸","福原","大東","霞ヶ関・的場","名細・山田","クレアモール・丸広","アトレ・PePe・駅ビル","蔵のまち","川越工業団地"]
								li: a(href="")=val
						h2 職種から探す
						ul
							each val in ["飲食／フード","販売","サービス","オフィスワーク","営業","医療・介護・福祉","教育","美容・理容・サロン","建築・土木","工場・製造","軽作業・物流","その他"]
								li: a(href="")= val

			// フッター
			include _sp_footer.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/jquery.ellipsis.min.js")
		script(type="text/javascript", src="js/common.js")
		script(type="text/javascript", src="js/accordion.js")
