doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 川越市のお仕事に特化した“お祝い金がもらえる”地元密着求人サイト「川越オーボ」
		link(rel="stylesheet", media="all", href="css/common/sp_common.css")
		link(rel="stylesheet", media="all", href="css/sp_oiwai.css")
	body.oiwai
		.wrapper
			
			// ヘッダー
			header.header__wrapper
				.header
					include _sp_header.pug
			
			// メニュー
			include _sp_globalnav.pug
			
			.branding
				h1
					span
						strong お祝い金
						| を<br>
						strong 手
						| に
						strong 入
						| れよう！
				p 川崎OBOは
					strong お祝い金マーク
					| がついている<br>お仕事情報がお祝い金対象の求人サイトです。<br>すべての求人案件にお祝い金がついているわけではありません。

			main.main
				
				.contents-area
				
					// introduction
					section.introduction
						h2 OBOお祝い金
						p 川崎OBO内に記載されている<br>
							strong お祝い金マーク
							| のついた求人で<br>採用されるとお祝い金がもらえる<br>システムです。
						p
							img(src="img/oiwai/sp/oiwai_sp_sec01_img02.png", alt="")
						p OBOでは企業様やお店へお祝い金を<br>強制していない為、<b>お祝い金対象の<br>求人情報</b>と<b>対象外の求人情報</b>が<br>あります。その為、「お祝い金が絶対<br>もらえる求人サイト」に掲載できない<br>川越の求人情報が豊富に掲載されています。
						.comment
							h3 本当に大切なことは<br>
								strong 「働く場所を見つけること」
							p お祝い金マークの求人チェックと共に、<br>マークのない川越OBO求人も要チェック！
					
					// aboutmark
					section.aboutmark
						ul
							li.yellowmark
								h2 黄色のお祝い金マーク
								figure
									img(src="img/oiwai/pc/oiwai_pc_sec02_yellow_img03.png", alt="")
									figcaption
										span 求人募集企業
										small 直接
											img(src="img/oiwai/pc/oiwai_pc_sec02_yellow_img02.png", alt="→")
											| お支払い！
										span 採用者様
								p 求人募集企業が直接採用者へお支払いするお祝い金です。お支払い方法や金額については、<strong>各求人情報詳細ページをご確認ください</strong>。
							li.pinkmark
								h2 ピンクのお祝い金マーク
								figure
									img(src="img/oiwai/pc/oiwai_pc_sec02_pink_img03.png", alt="")
									figcaption
										span OBO運営事務局
										small
											img(src="img/oiwai/pc/oiwai_pc_sec02_pink_img02.png", alt="→")
											| お支払い！
										span 採用者様
								p OBO運営事務局が採用者様へお支払いするお祝い金です。お受け取り条件や方法は下記をご確認ください。
								
						.pinkflow
							h3
								small ピンクマーク
								| お祝い金簡単STEP
							ul
								li
									h4
										small STEP
										| 01
									p 川越OBO内お祝い金マークのついた求人に応募しよう！
										small ※当サイト以外からの応募の場合、<br>お祝い金対象にはなりません。
								li
									h4
										small STEP
										| 02
									p 採用決定したら、<br>働こう！
								li
									h4
										small STEP
										| 03
									p お祝い金申請が<br>できるようになる！
										small ※雇用形態により申請タイミングが<br>異なります
							p ※こちらはピンクのマークお祝い金となります。黄色マークのお祝い金は、各求人詳細に記載されている条件を満たすとお祝い金をもらうことができます。詳しくは各求人募集企業へお問合せください。
				
					// oiwaicheck
					section.oiwaicheck
						h2 申請金が受け取れるかチェック！
						ul
							li 川越OBOより応募を行いましたか？
							li お祝い金マークのついた求人に採用されましたか？
							li お祝い金の受給条件を満たしていますか？
							li 引き続き働く意思をもっていますか？
							li お祝い金を申請できます！
				
					// oiwaiflow
					section.oiwaiflow
						h2 お祝い金受け取りまでの流れ
						dl.oiwaiflow_pink
							dt ピンクマーク
								strong お祝い金
							dd
								small
									span OBO運営事務局
									img(src="img/oiwai/pc/oiwai_pc_sec04_pink_img03.png", alt="→")
									span 採用者様
								p 当サイトのお祝い金は<br><strong>楽天銀行提供サービス「メルマネ」を通じて進呈</strong>させていただきます。
						p: img(src="img/oiwai/pc/oiwai_pc_sec04_pink_img04.png", alt="")
						ol
							li <strong>アルバイト・パートは初出勤後、社員（正社員・派遣・契約）は入社日より30日後</strong>に<br>お祝い金申請フォームに従い<strong>申請</strong>を行ってください。<br>※応募時に使用したメールアドレスを入力してください。
							li 申請内容に基づきOBO事務局より勤務先へ<strong>「出勤状況」の確認</strong>を行います。（申請後30日以内）
							li 勤務先が採用確定した日の
								strong 翌月20日に楽天銀行の「かんたん振り込み（メルマネ）」から、<br>「川越OBOからのお知らせ」という件名のメールが届きます。
								small ※楽天銀行からのメールが届いた日から45日以内に手続きを完了しないと、<br>採用お祝い金がもらえる権利がなくなりますのでご注意ください。
							li 受け取り手続きを完了すると、数日でお祝い金が振り込まれます。
						dl.oiwaiflow_yellow
							dt 黄色マーク
								strong お祝い金
							dd
								small
									span 求人募集企業
									img(src="img/oiwai/pc/oiwai_pc_sec04_pink_img03.png", alt="→")
									span 採用者様
								p 各企業により、支払方法・条件が異なります。<br>求人詳細や面接時にしっかりとご確認ください。
				
					// oiwaiattention
					section.oiwaiattention
						div
							h2 必ずご確認ください。
							small 下記に該当する場合、お祝い金をお渡しできません。
							ul
								li 採用後、実際に勤務をしていない場合
								li 応募時に当サイト応募フォームをご利用いただいていない場合
								li 当サイト応募以前に他の求人媒体（アルバイト情報サイト、フリーペーパー、企業ホームページ、張り紙等）から、同じ求人案件にに応募した場合
								li 応募した求人先に出勤状況の確認ができない場合
								li 採用後に当サイトより応募した場合
								li 継続的に働く意思がないと判断された場合
								li 勤務開始後「私的理由での急な退社」や「企業・店舗へ損害を与えた」などの報告を頂いた場合
								li その他、OBO運営事務局が不適切と判断した場合
								li お客様にご自身名義の口座が用意できない場合
								li ご入力内容に嘘、偽りが発覚した場合
							
					// oiwaifaq
					section.oiwaifaq
							h2 お祝い金Q&A
							dl
								dt お祝い金とはなんですか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt お祝い金はいくらもらえますか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt お祝い金をもらうにはどうしたらいいですか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt お祝い金は誰から支払われますか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt ピンクマークのお祝い金と黄色マークのお祝い金の違いはなんですか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt お祝い金はが変わっていました。
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt お祝い金は確定申告が必要ですか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt お祝い金が振り込まれません。
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt 申請期限はありますか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt 申請方法がわかりません。
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
							dl
								dt どのように振り込まれますか？
								dd テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
								
					// エリア検索・職種検索
					section.search-items
						h2 エリアから探す
						ul
							each val in ["川越市中心","芳野・古谷","南古谷","高階・新河岸","福原","大東","霞ヶ関・的場","名細・山田","クレアモール・丸広","アトレ・PePe・駅ビル","蔵のまち","川越工業団地"]
								li: a(href="")=val
						h2 職種から探す
						ul
							each val in ["飲食／フード","販売","サービス","オフィスワーク","営業","医療・介護・福祉","教育","美容・理容・サロン","建築・土木","工場・製造","軽作業・物流","その他"]
								li: a(href="")= val

			// フッター
			include _sp_footer.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/jquery.ellipsis.min.js")
		script(type="text/javascript", src="js/common.js")
		script(type="text/javascript", src="js/accordion.js")
