footer.footer__wrapper
	.pagetop
		a(href="javascript:void(0)") PAGE TOP
	
	.footer
		h2.footer-title
			img(src="img/top/footer_logo.png", alt="柔整ワーカー")
		p.address 株式会社アーベイン・スタイル メディカルリクルーティング事業部<br>〒160-0023　東京都新宿区西新宿3-1-5
		.contact__block
			h3 お電話でのお問合せ
			p
				a(href="tel:0120000000") 0120-000-000
				small 10:00～18:00<br>（土日祝除く）
			a(href="./inquiries.html").btn-contact お問合せフォーム
			ul.sns
				li: a(href=""): img(src="img/top/footer_icon_01.png")
				li: a(href=""): img(src="img/top/footer_icon_02.png")
				li: a(href=""): img(src="img/top/footer_icon_03.png")
		a(href="").keep-items キープした<br>求人を見る
		nav.footer-nav
			ul
				li: a(href="./index.html") 柔整ワーカーTOP
				li: a(href="./list.html") 求人を探す
				li: a(href="./about.html") 柔整ワーカーとは
				li: a(href="./faq.html") Q&A
				li: a(href="./ad.html") 採用ご担当者様へ
			h4 ▼取扱業態
			ul
				each val in ["柔道整復師", "あん摩マッサージ指圧師", "看護師・准看護師", "理学療法士（PT）", "作業療法士（OT）", "言語聴覚士（SP）", "鍼灸師", "整体師", "カイロプラクター", "スポーツトレーナー", "リラクゼーション系"]
					li: a(href="list.html")= val
	
	.copyright copyright ©柔整ワーカー All Rights Reserved.
