footer.footer
	nav.footer__social
		a(href=""): img(src="img/top/footer_icon_01_off.png")
		a(href=""): img(src="img/top/footer_icon_02_off.png")
	h1.footer__title office MI
		p 株式会社エムアイメイズが運営する新宿のレンタルオフィス・バーチャルオフィス「オフィスエムアイ新宿」は中小企業庁承認事業です。
	p.footer__text バーチャルオフィスMIは、東京都新宿の住所をレンタルできるサービスです。法人登記が出来る住所なので、起業される方や団体の事務局として、個人事業主の方のビジネスの拠点地としてご利用頂いています。バーチャルオフィスMIの魅力は東京の中心である都庁のすぐそばという立地と常駐している受付スタッフです。バーチャルオフィス会員様への急な来客もベテラン受付スタッフが柔軟に対応させていただきます。おかげさまでレンタルオフィスを始めて13周年を迎えるオフィスMIでは、会員様のビジネスをしっかりサポートできるようスタッフ一同心がけております
	nav.footer__nav
		a(href="index.html") TOP
		a(href="service.html") 料金表
		a(href="about.html") オフィスMIについて
		a(href="flow.html") ご契約までの流れ
		a(href="virtual.html") バーチャルオフィスMI
		a(href="profile.html") 運営会社
		a(href="access.html") アクセス
		a(href="privacy.html") 個人情報保護理念
		a(href="privacy.html#handling") 個人情報の取り扱いについて
	p.copyright Copyright (c) 2017 MIMAZE All Rights Reserved.
		a(href="", onClik="backToTop(); return false").pagetop
			img(src="img/top/pagetop.png", alt="ページトップへ")
	.contact_menu
		a(href="contact.html",class="btn_mail") お問い合わせフォーム
			small お問い合わせ・内覧予約
		a(href="tel:0353216966",class="btn_tel") お電話でのお問合せ
			small 平日9：00～17：00<br>（土日祝日除く）

