header.header__wrapper
	.header
		h1.header-title
			a(href="./")
				img(src="img/top/header_logo.png", alt="柔整ワーカー")
		nav.header-nav
			a(href="").keeping-items キープ
			a(href="").recently-items 最近見た
			a(href="ad.html").for-recruiter 採用ご担当者様へ
		p.breadclumbs
			span 柔道整復師の求人　＞　TOP

nav.globalnav__wrapper
	ul.globalnav
		li: a(href="").recruit-list 求人を探す
		li: a(href="about.html").about-jyusei 柔整ワーカーとは
		li: a(href="").faq Ｑ＆Ａ
		li: a(href="inquiries.html").contact お問合せ

	
