doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 求人掲載のお申込み｜柔道整復師の求人『柔整ワーカー』
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/ad.css")
	body.ad
		.wrapper

			include _header.pug

			main.main
				.contents-area
					h2 求人掲載のお申込み
					ul.form-step
						li 情報の入力
						li.on 入力内容の確認
						li 完了
					section.form-body
						form(method="post", action="ad_end.html")
							h3 お申込み内容
							table.form-table
								tr
									th 法人・企業名
									td.must 必須
									td
										p 株式会社エムアイクリニック
								tr
									th 法人・企業名（カナ）
									td.any 任意
									td
										p カブシキガイシャエムアイクリニック
								tr
									th 郵便番号
									td.must 必須
									td
										p 1600014
								tr
									th(rowspan="2") 住所
									td.must 必須
									td
										p 東京都新宿区西新宿3-1-5
								tr
									td.any 任意
									td
										p 新宿嘉泉ビル８階
								tr
									th 担当者氏名
									td.must 必須
									td
										p 山田　　太郎
								tr
									th 担当者氏名（カナ）
									td.any 任意
									td 
										p やまだ　　たろう
								tr
									th 担当者所属部署
									td.any 任意
									td
										p 人事部
								tr
									th メールアドレス
									td.must 必須
									td
										p example@jusei-kyujin.com
										small ※こちらのメールアドレス宛に求人掲載に関する連絡を行います。
								tr
									th 電話番号
									td.must 必須
									td
										p 09012345678
							
							.policy-check
								h3 利用規約と個人情報の取り扱いについて
									small 必須
								fieldset
									input(type="checkbox", id="policy-check")
									fieldset 以下の利用規約と個人情報の取り扱いについて同意する
								article
									div
										p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							
							.btn-area
								button(onClick="location.href='ad.html'").btn-cancel 修正する
								button(onClick="submit()").btn-submit 送信する
			
				aside.side-area
					ul.banner-items
						li: a(href=""): img(src="img/top/side_bnr_01.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_02.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_03.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_04.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_05.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_06.jpg", alt="")


			include _footer.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/jquery.ellipsis.min.js")
		script(type="text/javascript", src="js/common.js")
