
@import "_color"

// step
.form-step
	margin: 30px 0
	li
		@extend .m
		list-style: none
		display: inline-block
		height: 45px
		margin-right: -11px
		background-repeat: no-repeat
		background-position: 0 0
		background-size: contain
		text-align: center
		color: white
		font-size: 1.2em
		line-height: 45px
	li:nth-of-type(1)
		width: 291px
		background-image: url(../img/inquiries/form_step1_off.png)
	li:nth-of-type(1).on
		background-image: url(../img/inquiries/form_step1_on.png)
	li:nth-of-type(2)
		width: 292px
		background-image: url(../img/inquiries/form_step2_off.png)
	li:nth-of-type(2).on
		background-image: url(../img/inquiries/form_step2_on.png)
	li:nth-of-type(3)
		width: 281px
		background-image: url(../img/inquiries/form_step3_off.png)
	li:nth-of-type(3).on
		background-image: url(../img/inquiries/form_step3_on.png)

// form body
.contents-area section.form-body
	margin-top: 0
	>p
		font-size: 1em

.error-list
	margin: 20px 0 0
	li
		list-style: none
		color: $red
		font-size: 1.2em
		text-align: center
		&:before
			content: "*"

// form table
.form-table
	width: 100%
	margin: 20px 0 0
	border: 2px solid $gray
	th,td
		padding: 20px
		border: 1px solid $gray
		font-size: 1rem
		vertical-align: middle
		small
			display: block
			margin: .5em 0 0
			font-size: .75em
		li:not(:last-of-type)
			margin-bottom: .5em
	th
		@extend .m
		width: 13em
	td.must,td.any
		@extend .m
		width: 6em
		text-align: center
		font-size: 1em
	td.must
		background: $lightpink
		color: $pink
	td.any
		background: $lightgray2
	input[type=radio],input[type=checkbox]
		display: none
		& + label
			margin-right: 1rem
	input[type=radio] + label:before
		content: ""
		display: inline-block
		width: 1.2rem
		height: 1.2rem
		background: white
		border: 2px solid $lightgreen
		border-radius: .7rem
		position: relative
		top: 0
		margin-right: .5rem
		vertical-align: text-top
		color: $lightgreen
		line-height: 1.1
		text-align: center
	input[type=radio]:checked + label:before
		content: "●"
		background: none
	input[type=checkbox] + label:before
		content: ""
		display: inline-block
		width: 1.2rem
		height: 1.2rem
		background: white
		border: 2px solid $lightgreen
		position: relative
		top: 1px
		margin-right: .5rem
		color: white
		font-size: 1.4rem
		vertical-align: text-top
		line-height: 1
	input[type=checkbox]:checked + label:before
		background: $lightgreen
		content: "✓"
	input[type=text],textarea
		box-sizing: border-box
		display: block
		width: 100%
		padding: .5em .75em
		border: 1px solid $lightgreen
		border-radius: 5px
	.btn-green
		display: inline-block
		padding: .5em .75em
		background: $green2
		border: 1px solid $green2
		border-radius: 5px
		color: white
		&:hover
			background: $green2_o
			border-color: $green2_o
	.err
		background: $lightpink
		color: $red
	fieldset:not(.select) + fieldset
		margin-top: 1em

// policy check
.policy-check
	margin: 40px 0 0
	h3
		@extend .r
		color: $pink
		line-height: 1.5
		&:before
			content: url(../img/ad/form_icon01.png)
			display: inline-block
			margin: 0 .5em 0 0
			vertical-align: middle
		small
			display: inline-block
			padding: 0 .5em
			background: $lightpink
			color: $pink
	fieldset
		display: block
		padding: 1em
		font-size: 1.1em
		text-align: center
		input[type=checkbox]
			display: none
		label
			margin-right: 1rem
		label:before
			content: ""
			display: inline-block
			width: 1.2rem
			height: 1.2rem
			background: white
			border: 2px solid $lightgreen
			position: relative
			top: 1px
			margin-right: .5rem
			color: white
			font-size: 1.4rem
			vertical-align: text-top
			line-height: 1
		input:checked + label:before
			content: "✓"
			background: $lightgreen
	article
		padding: 10px 15px 10px 25px
		border: 2px solid $gray
		>div
			height: 145px
			overflow: auto
			font-size: 1em
			line-height: 1.75

.btn-area
	padding: 30px 0 0
	text-align: center
	.btn-submit
		width: 280px
		margin: 0 .5em
		padding: 1.5rem
		border: none
		border-radius: 4px
		font-size: 1.5rem
	.btn-cancel
		width: 280px
		margin: 0 .5em
		padding: 1.5rem
		border: none
		border-radius: 4px
		font-size: 1.5rem

// form end
.contents-area section.form-end
	margin-top: 0
	text-align: center
	>h3
		@extend .b
		margin: 40px auto
		font-size: 1.5em
		letter-spacing: .25em
	>p
		font-size: 1.2em
	>a
		display: block
		width: 240px
		margin: 60px auto
		padding: .75rem
		border: 1px solid $pink
		border-radius: 4px
		color: $pink
		font-size: 1.2rem
		&:hover
			border-color: $darkpink
			color: $darkpink
		
