@import "_font"
@import "_color"

.header__wrapper
	width: 100%
	border-bottom: 2px solid $pink

.header
	margin: 0 auto
	
.header-title
	display: inline-block
	padding: 15px 10px 10px 10px
	a, a img
		display: block
		width: 133px
		height: 21px

.header-nav
	float: right
	text-align: right
	margin: 0
	a
		display: inline-block
		width: 56px
		height: 56px
		margin: 0
		padding: 11px 0 0
		text-align: center
		color: $pink
		font-size: .67rem
		position: relative
		vertical-align: top;
	a:before
		content: ""
		display: block
		margin: 0 auto
	.keeping-items small
		display: block
		position: absolute
		top: 6px
		right: 2px
		width: 18px
		height: 18px
		background: $yellow2
		border-radius: 9px
		text-align: center
		color: $black2
		font-size: .67rem
		line-height: 17px
	.keeping-items:before
		width: 19px
		height: 20px
		background: url(../../img/sp_top/header_icon_keep.png) 0 0 no-repeat
		background-size: contain
	.menu-btn:before
		width: 20px
		height: 20px
		background: url(../../img/sp_top/header_icon_menu.png) 0 0 no-repeat
		background-size: contain


	
// global nav
.globalnav__wrapper
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 9999
	background: white
	box-shadow: rgba(0,0,0,.5) 0 3px 12px
	.header
		background: $pink
	.header-nav
		.keeping-items
			color: white
		.keeping-items:before
			background: url(../../img/sp_menu/header_icon_keep.png) 0 0 no-repeat
			background-size: contain
		.close-btn
			background: white
		.close-btn:before
			width: 16px
			height: 20px
			background: url(../../img/sp_menu/menu_close.png) 0 0 no-repeat
			background-size: contain
	.headeritems
		display: flex
		flex-wrap: wrap
		width: 300px
		margin: 15px auto
		justify-content: space-between
		li
			display: inline-block
			margin-bottom: 10px
		li a
			display: block
			text-align: center
			border-radius: 4px
		.keeping-btn
			width: 142px
			height: 48px
			background: $orange
			border-bottom: 2px solid $darkorange
			color: white
			font-weight: bold
			line-height: 48px
			small
				font-weight: normal
				&:before
					content: "("
				&:after
					content: ")"
			&:before
				content: ""
				display: inline-block
				width: 17px
				height: 17px
				background: url(../../img/sp_menu/menu_keep.png) center no-repeat
				background-size: contain
				position: relative
				top: 2px
				margin-right .5em
		.recentry-btn
			width: 142px
			height: 48px
			background: white
			border: 2px solid $gray
			border-bottom: 4px solid $gray
			line-height: 44px
			&:before
				content: ""
				display: inline-block
				width: 16px
				height: 16px
				background: url(../../img/sp_menu/menu_history.png) center no-repeat
				background-size: contain
				position: relative
				top: 2px
				margin-right .5em
		.for-recruiter
			width: 300px
			height: 48px
			background: $pink
			border-bottom: 3px solid $darkpink2
			color: white
			font-weight: bold
			font-size: 1.1em
			line-height: 48px

	.globalnav
		margin: 0 auto

		li
			display: block
			a
				display: block
				height: 55px
				padding-left: 37px
				background: white
				border-top: 1px solid $gray
				text-align: left
				color: $black
				text-decoration: none
				line-height: 55px
				position: relative
			a:before
				content: ""
				display: inline-block
				width: 32px
				position: absolute
				left: 5px
			.gnav-search:before
				height: 16px
				background: url(../../img/sp_menu/menu_icon_01.png) center no-repeat
				background-size: contain
				top: 18px
			.gnav-about:before
				height: 15px
				background: url(../../img/sp_menu/menu_icon_02.png) center no-repeat
				background-size: contain
				top: 20px
			.gnav-faq:before
				height: 17px
				background: url(../../img/sp_menu/menu_icon_03.png) center no-repeat
				background-size: contain
				top: 18px
			.gnav-login:before
				height: 16px
				background: url(../../img/sp_menu/menu_icon_04.png) center no-repeat
				background-size: contain
				top: 18px
			.gnav-step:before
				height: 19px
				background: url(../../img/sp_menu/menu_icon_05.png) center no-repeat
				background-size: contain
				top: 17px
			a:after
				content: ""
				display: inline-block
				width: 6px
				height: 10px
				background: url(../../img/sp_menu/menu_arrow.png) center no-repeat
				background-size: contain
				position: absolute
				top: 21px
				right: 8px

	.contact__wrapper
		display: block
		width: 100%
		padding: 12px
		background: rgba(0,0,0,.5)
		text-align: center
		a
			display: inline-block
			width: 40%
			min-width: 143px
			height: 49px
			margin: 0 5px
			border-radius: 6px
			@extend .b
			text-align: center
			color: white
			font-size: .87rem
			vertical-align: top
		.contact-btn
			background: $green
			border-bottom: 3px solid $darkgreen
			line-height: 46px
			&:before
				content: ""
				display: inline-block
				width: 17px
				height: 13px
				background: url(../../img/sp_menu/menu_mail.png) center no-repeat
				background-size: contain
				margin-right: .25em
				position: relative
				top: 2px
		.tel-btn
			padding-top: 8px
			background: $pink
			border-bottom: 3px solid $darkpink
			small
				display: block
				@extend .r
				font-size: .67rem
			&:before
				content: ""
				display: inline-block
				width: 13px
				height: 13px
				background: url(../../img/sp_menu/menu_tel.png) center no-repeat
				background-size: contain
				margin-right: .25em
				position: relative
				top: 2px
