
@import "common/_font"
@import "common/_color"
@import "common/_item"
	
// search wrapper
.search__wrapper
	display: none
	width: 100%
	background: white
	position: absolute
	top: 54px
	left: 0
	z-index: 999

.searchmodal
	width: 100%
	>h4
		padding: 15px
		@extend .b
		color: $pink
		font-size: 1.07rem
		position: relative
		.close-btn
			display: inline-block
			width: 56px
			height: 56px
			margin: 0
			padding: 11px 0 0
			text-align: center
			color: $pink
			font-size: .67rem
			position: absolute
			top: 0
			right: 0
		.close-btn:before
			content: ""
			display: block
			margin: 0 auto
			width: 16px
			height: 20px
			background: url(../img/sp_menu/menu_close.png) 0 0 no-repeat
			background-size: contain
	footer
		background white
		text-align: center
		.close-btn
			display: block
			width: 100%
			height: 56px
			margin: 0
			padding: 11px 0 0
			text-align: center
			color: $pink
			font-size: .67rem
		.close-btn:before
			content: ""
			display: block
			margin: 0 auto
			width: 16px
			height: 20px
			background: url(../img/sp_menu/menu_close.png) center no-repeat
			background-size: contain
			
	form section>nav>ul
		display: flex
		flex-wrap: nowrap
		justify-content: space-around
		margin: 10px
		li
			display: block
			width: 40%
			padding: 10px
			border: 2px solid $gray
			border-bottom: 4px solid $gray
			border-radius: 4px
			@extend .b
			font-size: .71rem
			text-align: center
			strong
				font-size: 1.07rem
	form h4
		margin: 10px 15px 20px
		padding: 10px
		background: $pink
		border-radius: 4px
		@extend .b
		color: white
		font-size: .71rem
		text-align: center
		position: relative
		b
			font-size: 1.07rem
		&:after
			content: ""
			display: block
			width: 0
			height: 0
			border-top: 10px solid $pink
			border-left: 10px solid transparent
			border-right: 10px solid transparent
			position: absolute
			left: 50%
			bottom: -10px
			margin-left: -10px
	fieldset
		padding: 0 15px
		h5
			padding: 20px 15px
			border-top: 1px solid $gray
			@extend .b
			color: $pink
			font-size: 1.07rem
			position: relative
			&:after
				content: ""
				display: block
				width: 15px
				height: 9px
				background: url(../img/sp_list/list_serch_arrow02.png) center no-repeat
				background-size: contain
				position: absolute
				top: 50%
				right: 10px
				margin-top: -5px
				transition: .5s
			&.opened:after
				transform: rotate(540deg)
				transition: .5s
		ul
			li
				display: block
			li:not(:last-of-type)
				border-bottom: 1px solid $gray
		input[type=checkbox]
			display: none
		input[type=checkbox] + label, a
			display: block
			padding: 10px 0
			@extend .b
			color: $black
			font-size: 1rem
		input[type=checkbox] + label:before
			content: ""
			display: inline-block
			width: 1.25rem
			height: 1.25rem
			background: white
			border: 2px solid $lightpink3
			border-radius: 2px
			position: relative
			margin-right: 1rem
			vertical-align: middle
			text-align: center
			color: $pink
		input[type=checkbox]:checked + label:before
			content: "✓"
			background: $lightpink
 fieldset h5:not(.opened) + ul
		height 0
		padding: 0 15px
		opacity: 0
		overflow: hidden
		transition: .5s
	fieldset h5.opened + ul
		height: auto
		padding: 0 15px
		opacity: 1
		overflow: default
		transition .5s
	section fieldset:last-of-type
		border-bottom: 1px solid $gray

// searchmodal area route
#searchmodal-area-route
	>p
		padding: 0 15px 15px
		@extend .b
		font-size: .71rem
		strong
			font-size: 1.07rem
		a
			float: right
			width: 40%
			display: inline-block
			padding: .5rem
			border: 2px solid $lightpink3
			border-radius: 4px
			text-align: center
			@extend .b
			color: $pink
			font-size: 1rem
			line-height: 1.2
			position: relative
			top: -.5rem

// btn area
.searchmodal
	.btn-area
		padding: 20px
		background: $lightpink3
		@extend .r
		dl
			font-size: .85rem
			dt
				display: inline-block
				color: $pink
			dd
				display: inline-block
				color: $black
		.btn-submit
			display: block
			width: 300px
			margin: 15px auto 0
			padding: .5rem
			border: none
			border-bottom: 3px solid $darkgreen
			border-radius: 4px
			@extend .b
			font-size: 1.28rem
			text-align: center
