
@import "common/_font"
@import "common/_color"
@import "common/_item"

// branding

.branding__wrapper
	height: auto
	min-height: 163px
	margin: 0 auto
	background: url(../img/sp_about/about_img01.jpg) right center no-repeat
	background-size: cover

.branding
	margin: 0 auto
	padding: 20px 10px
	h2
		@extend .r
		color: white
		font-size: 1.28rem
		line-height: 1.5
		>strong
			display: inline-block
			margin: .25em .2rem 0 0
			padding: 0 .75rem
			background: $yellow2
			font-size: 1.43rem
			color: $pink2
			>span
				display: inline-block
				position: relative
				left: -.2em
				color: $black
				font-size: 1.28rem
		>b
			display: block
			font-size: 1.43rem
			color: $yellow2
		>span
			display: inline-block
			position: relative
			left: -.2em
			bottom: -.2em

// check-rec
.check-rec__wrapper
	min-height: 188px
	margin: 0 auto
	padding: 25px 0 0
	background: url(../img/sp_about/about_img06.png) center bottom no-repeat
	background-size: cover
.check-rec
	width: 260px
	margin: 0 auto
	p
		@extend .m
		font-size: 1rem
		line-height: 1.5
		text-align: left
		a
			display: block
			margin: 1em auto
			padding: .5em
			background: $green
			border-radius: 4px
			box-shadow: 3px 3px 0 rgba(23,157,133,1)
			@extend .b
			color: white
			font-size: 1.1rem
			text-align: center
			position: relative
			&:before
				content: ""
				display: block
				width: 50px
				height: 30px
				background: url(../img/sp_about/about_icon01.png) center no-repeat
				background-size: contain
				position: absolute
				top: -15px
				left: -15px
			&:hover
				background: $green_o

.content__wrapper
	margin: 0 auto
	>section
		margin: 0 auto
		padding: 20px 12px
		>h2
			margin: 0 auto
			@extend .m
			font-size: 1.28rem
			text-align: center
			letter-spacing: .1em
			
// content01
.content01
	h2
		display: inline-block
		border-bottom: 2px solid $pink2
		line-height: 1.75
	ul
		text-align: cetner
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		li
			display: block
			width: 135px
			height: 135px
			margin: 20px 0 0
			padding: .5rem 0 0
			border-radius: 70px
			@extend .r
			text-align: center
			color: white
			font-size: 1rem
		for $i in 1..4
			li:nth-of-type({$i})
				background: url('../img/sp_about/about_img0' + ($i + 1) + '.png') center top no-repeat
				background-size: cover
				&:before
					content: '0' + $i
					display: block
					margin: 0 0 .2rem
					font-size: .85rem
	p
		margin: 25px 0 0
		padding: 10px 15px
		background: $lightgray
		@extend .m
		font-size: .85rem
		text-align: left
		letter-spacing: .1rem
		line-height: 1.75
		strong
			color: $pink

// content02
.content02
	div
		margin: 3.5rem 0 0
		padding: 65px 12px 20px
		border: 3px solid $lightpink
		border-radius: 5px
		position: relative
		&:before
			content: ""
			display: block
			position: absolute
			top: -40px
			left: 0
		&:after
			position: absolute
			top: -3rem
			right: 0
			@extend .j
			font-size: 3rem
			color: $pink
		h3
			@extend .m
			color: $green3
			font-size: 1rem
			text-align: center
			position: relative
			&:after
				content: ""
				display: inline-block
				position: absolute
				top: -35px
				left: 50%
				margin-left: -14px
		p
			margin: 20px 0 0
			@extend .m
			font-size: .85rem
			line-height: 1.75
			text-align: left
	.content02_01
		&:before
			width: 122px
			height: 107px
			background: url(../img/sp_about/about_img07_2.png) center no-repeat
			background-size: contain
		&:after
			content: "01"
		h3:after
			width: 28px
			height: 25px
			background: url(../img/sp_about/about_img07_1.png) center no-repeat
			background-size: contain
	.content02_02
		text-align: center
		&:before
			width: 134px
			height: 99px
			background: url(../img/sp_about/about_img08_2.png) center no-repeat
			background-size: contain
		&:after
			content: "02"
		h3:after
			width: 28px
			height: 24px
			background: url(../img/sp_about/about_img08_1.png) center no-repeat
			background-size: contain
		li
			display: block
			margin: 10px 0 0
			padding: 10px
			background: $pink
			border-radius: 5px
			@extend .r
			color: white
			strong
				display: block
				@extend .m
				color: $yellow2
				font-size: 1.15rem
	.content02_03
		&:before
			width: 70px
			height: 103px
			background: url(../img/sp_about/about_img09_2.png) center no-repeat
			background-size: contain
		&:after
			content: "03"
		h3:after
			content: ""
			width: 28px
			height: 22px
			background: url(../img/sp_about/about_img09_1.png) center no-repeat
			background-size: contain


// content03
.content03
	ol
		width: 284px
		height: 444px
		margin: 20px auto
		background: url(../img/sp_about/about_img11.png) center top no-repeat
		background-size: contain
	li
		opacity: 0

// faq
.faq__wrapper
	margin: 0 auto
	padding: 40px 12px
	background: $lightgray2
	h2
		@extend .m
		font-size: 1.43rem
		text-align: center
.faqitems
	margin: 0 auto
.faqitem
	margin: 12px 0 0
	padding: 12px
	background: white
	&:first-of-type
		margin: 24px 0 0
	h3
		@extend .m
		color: $green4
		font-size: 1rem
		position: relative
		&:before
			content: "Q."
			display: block
			margin-bottom: .25rem
			@extend .b
			font-size: 1.28rem
			text-align: center
	p
		height: 0
		opacity: 0
		@extend .r
		margin: 0
		font-size: .85rem
		line-height: 1.5
		position: relative
		transition: .4s
		&:before
			content: "A."
			display: block
			margin-bottom: .25rem
			@extend .b
			color: $pink
			font-size: 1.28rem
			text-align: center
		&:after
			content: ""
	p.opened
		height: auto
		padding: 10px 0
		opacity: 1
		transition: .4s
	i
		display: block
		height: 22px
		margin: 20px 0 0
		background: url(../img/sp_about/about_qa_arrow02.png) center no-repeat
		background-size: 19px 12px
		transition: .4s
		position: relative
		z-index: 2
	p.opened + i
		margin: 10px 0 0
		transform: rotate(540deg)
		transition: .4s

// content04
.content04
	@extend .small-items
	padding-top: 40px 
	>h3
		margin: 20px 0 10px
		@extend .m
		color: $pink
		font-size: 1.15rem
		text-decoration: underline
	.recitem
		@extend .smallitem
	.recitem-attribute
		@extend .smallitem-attribute
	.recitem-status
		@extend .smallitem-status

.front-search
	margin: 0 12px 40px
	padding: 10px 0 0
	border: 3px solid $lightpink_o
	border-radius: 5px
	fieldset
		margin: 10px 15px
		position: relative
		label
			display: block
			@extend .m
			color: $pink
			font-size: 1.07rem
			line-height: 1
			text-align: center
			position: absolute
			span
				display: block
			small
				display: block
				margin-top: .2rem
				color: $black
				font-size: .64rem
				position: relative
		.select
			display: block
			margin-left: 2.5rem
			padding-top: .25rem
			border: 1px solid $pink
			border-radius: 5px
			position: relative
			&:after
				content: ""
				display: inline-block;
				width: 9px
				height: 6px
				background: url(../img/sp_top/top_serch_arrow.png) 0 0 no-repeat
				background-size: contain
				position: absolute
				top: 50%
				right: 10px
				margin-top: -3px
			select
				width: 100%
				padding: .5em
				border: none
		&:not(:last-of-type) label
			top: 8px
			
	.btn-area
		padding: 20px 15px
		background: $lightpink_o
		.btn-submit
			display: block
			width: 100%
			height: 42px
			border: none
			border-bottom: 3px solid $darkgreen
			border-radius: 5px
			font-size: 1.2em
			font-weight: bold
			text-align: center
			line-height: 39px

// information
.information
	padding: 20px 12px
	h2
		margin: 0 10px
		@extend .b
		color: $pink
		font-size: 1.28rem
		&:before
			content: ""
			display: inline-block
			width: 9px
			height: 9px
			background: url(../img/sp_top/main_title_icon01.png) 0 0 no-repeat
			background-size: contain
			position: relative
			top: -2px
			margin-right: .5rem
			font-size: 1.28rem
	ul
		margin: 10px 0 0
		border-top: 1px solid $gray
	li
		small
			display: block
			margin: 0 0 .5rem
			font-size: .64rem
		a
			display: block
			padding: 1rem 1rem 1rem .5rem
			border-bottom: 1px solid $gray
			color: $black
			font-size: .85rem
			line-height: 1.25
			position: relative
			&:after
				content: ""
				display: block
				width: 6px
				height: 10px
				background: url(../img/sp_top/top_info_icon.png) center no-repeat
				background-size: contain
				position: absolute
				top: 50%
				right: 5px
				margin-top: -5px








