
@import "common/_font"
@import "common/_color"
@import "common/_item"
@import "common/_form"
	
.ad
	.contents-area
		h2
			margin: 0 12px
			@extend .b
			font-size: 1rem
		h2:before
			content: ""
			display: inline-block
			width: 17px
			height: 15px
			margin: 0 .5em 0 0
			background: url(../img/sp_ad/ad_icon01.png) center no-repeat
			background-size: contain
			position: relative
			top: 1px

// form title
.form-body
	>form
		>h3
			@extend .m
			color: $pink
		>h3:before
			content: ""
			display: inline-block
			width: 17px
			height: 18px
			background: url(../img/sp_ad/ad_icon02.png) center no-repeat
			background-size: contain
			margin: 0 .5em 0 0
			position: relative
			top: 3px
		small + textarea
			margin-top: 1.5em
		ul + p
			margin-top: 1.5em


// input size
.form-item
	.btn-green
		width: 45%
		padding: .25em .75em 0
		font-size: .71rem
		line-height: 1.2
		vertical-align: bottom
	input[type=text] + small, p + small
		display: block
		padding: .5em .75em .5em 1.25em
		line-height: 1.2
		position: relative
		&:before
			content: "※"
			position: absolute
			top: .5em
			left: .5em
	.postcode input[type=text]
		width: 45%
		display: inline-block

	.name input[type=text]
		width: 45%
		display: inline-block
		&:last-of-type
			margin-left: .5em
	.select,.address
		display: inline-block
		width: 45%
		margin: .75em .5em 0 0
		background: $lightpink2
		border: 1px solid $lightgreen
		position: relative
		&:after
			content: "▼"
			display: inline-block;
			position: absolute
			top: 50%
			right: 10px
			margin-top: -.75em
		select
			width: 100%
			padding: .5em
			border: none
	.select:first-of-type
		display: block
	fieldset + fieldset.address_any
		margin-top: .5em
		input[type=text]
			background: white
