
@import "common/_font"
@import "common/_color"
@import "common/_item"
@import "common/_search"

// search-items
.searchitems__header
	margin: 0 10px
	border: 2px solid $pink
	border-radius: 5px
	>dl
		display: flex
		flex-wrap: nowrap
		@extend .m
		font-size: .85rem
		&:not(:first-of-type)
			border-top: 1px solid $pink
		dt
			width: 4rem
			padding: 15px 10px
			background: $lightpink
			color: $pink
			text-align: center
		dd
			flex: 1
			padding: 15px 10px
			color: $black
			small
				display: inline-block
				float: right
				padding: 0 10px
				color: $pink
				font-size: 1em
				position: relative
				&:after
					content: ""
					display: block
					width: 6px
					height: 9px
					background: url(../img/sp_list/list_icon01.png) center no-repeat
					background-size: contain
					position: absolute
					top: 50%
					right: 0
					margin-top: -5px

.searchitems__counts
	margin: 10px
	@extend .m
	font-size: 1rem
	b
		@extend .b
		color: $orange
.searchitems__pager
	display: flex
	flex-wrap: nowrap
	justify-content: space-around
	padding: 0 10px 10px
	a
		display: block
		width: 140px
		height: 40px
		padding: 8px 0
		border: 2px solid $pink
		border-radius: 4px
		@extend .b
		color: $pink
		text-align: center
		position: relative
		&.disabled
			border: 2px solid $gray4
			color: $gray4
		&:after
			content: ""
			display: block
			width: 6px
			height: 9px
			position: absolute
			top: 50%
			margin-top: -5px
		&:first-of-type:after
			background: url(../img/sp_list/list_icon04.png) center no-repeat
			background-size: contain
			left: 5px
		&:first-of-type.disabled:after
			background: url(../img/sp_list/list_icon05.png) center no-repeat
			background-size: contain
			left: 5px
		&:last-of-type:after
			background: url(../img/sp_list/list_icon02.png) center no-repeat
			background-size: contain
			right: 5px
		&:last-of-type.disabled:after
			background: url(../img/sp_list/list_icon03.png) center no-repeat
			background-size: contain
			right: 5px
		
			
// searchitem
.search-items
	.searchitem
		@extend .large-item
	.searchitem-title
		@extend .largeitem-title
	.searchitem-attribute
		@extend .largeitem-attribute
	.searchitem-status
		@extend .largeitem-status
	.searchitem-comment
		@extend .largeitem-comment
	.searchitem-characters
		@extend .largeitem-characters



