header.header
	.header-container
		h1: a(href="")
			small ウィズメディカル
			img(src="img/title_logo.png", alt="")
			strong 医院開業のトータルサポート
		address
			a(href="tel:039876543").tel
				i.fas.fa-phone
				span 03-987-6543
			a(href="").mail
				span お問い合わせ
				i.far.fa-envelope
		nav.globalnav
			input(type="checkbox", id="spGnav")
			label(for="spGnav").sp-gnav
				i.fas.fa-bars
			ul
				li: a(href="") TOP
				li: a(href="") NZDのサービス
				li: a(href="") コンサルタント紹介
				li: a(href="") 開業までの流れ
				li: a(href="") 実績紹介
				li: a(href="") コラム
