doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 医院開業のトータルサポート「WithMedical」
		link(rel="stylesheet", media="all", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/search.css")
	body.top
		.wrapper

			include _header.pug
			
			main.contents__container
				.contents__block
					header.contents__header
						h2
							small Search
							| 開業物件詳細
							
					section.search__detail
						header.detail__header
							.detail-item-area: small.kantou 関東
							h3 恵比寿メディカルセンター
							p 東京都渋谷区恵比寿南１－１<br>JR恵比寿駅から徒歩３分
							dl.detail-item-charactor
								dt 特徴
								- var list = ['戸建','医療ビル','商業施設内','継承案件','新築','駅近']
								each item, index in list
									dd= item
							dl.detail-item-course
								dt 科目
								dd.on 内科
								dd 小児科
								dd 耳鼻咽喉科
								dd 泌尿器科
								dd 整形外科
								dd.on 皮膚科
								dd 眼科
								dd.on 産婦人科
								dd 心療内科
								dd.on その他
									
						.view
							ul.slides
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								li(data-thumb="img/search/sample_photo.jpg"): img(src="img/search/sample_photo.jpg", alt="")
								
						.detail__contents
							iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.2979148998056!2d139.70764690087694!3d35.64503103010562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b3f89d08ccb%3A0x97b68b99d1c58e4d!2z44CSMTUwLTAwMjIg5p2x5Lqs6YO95riL6LC35Yy65oG15q-U5a-_5Y2X77yR5LiB55uu!5e0!3m2!1sja!2sjp!4v1543820608538", frameborder="0", allowfullscreen)

							h4 診療圏調査
							p この文章はダミーこの文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています

							h4 賃料
							p この文章はダミーこの文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています

							h4 竣工予定
							p この文章はダミーこの文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています

							h4 担当営業
							figure
								img(src="img/dummy.png", alt="")
								figcaption
									small 営業部主任
									strong 矢吹 丈
									p 先生方の開業が成功するために、チーム一丸となって頑張ります！

				.contact__block
					header.contact__header
						h2 この物件について問い合わせる
					
					section.contact__phone: a(href="tel:039876543")
						i.fas.fa-phone
						h3 お電話でのお問い合わせ
						p
							strong 03-987-6543
							small 10:00-18:00
					
					section.contact__mail
						h3 インターネットでのお問い合わせは下記より
						form
							fieldset.must
								strong お名前
								input(type="text", name="", placeholder="例）医療　太郎")
							fieldset.must
								strong フリガナ
								input(type="text", name="", placeholder="例）イリョウ タロウ")
							fieldset
								strong お住まい
								.postcode
									input(type="text", name="zip", placeholder="〒", maxlength="7")
									input(type="button", value="自動検索").btn-zip
								.address
									input(type="text", name="pref", placeholder="都道府県").pref
									input(type="text", name="city", placeholder="市区町村以下").city
							fieldset.must
								strong TEL
								input(type="text", name="", placeholder="例）0900000000")
							fieldset.must
								strong EMAIL
								input(type="text", name="", placeholder="例）0900000000")
							fieldset
								strong 開業予定（希望）地
								input(type="text", name="", placeholder="未選択")
							fieldset
								strong 開業予定（希望）時期
								.radiolist
									input(type="radio", name="opentime",id="opentime1", val="", checked)
									label(for="opentime1")
										span 1年以内
									input(type="radio", name="opentime",id="opentime2", val="")
									label(for="opentime2")
										span 3年以内
									input(type="radio", name="opentime",id="opentime3", val="")
									label(for="opentime3")
										span 未定
							fieldset.must
								strong 標榜予定科目（３つまで選択可）
								.checklist
									- var list = ['内科', '小児科', '耳鼻咽喉科', '泌尿器科', '整形外科', '皮膚科', '眼科', '産婦人科', '心療内科', 'その他']
									each item, index in list
										input(type="checkbox", name="course", id="course" + index, val="")
										label(for="course" + index)
											span= item
								input(type="text", name="course-other", placeholder="例）〇〇科　〇〇外来　など")
							fieldset
								textarea(name="", placeholder="その他質問やご相談を入力ください")
							article
								h4 個人情報保護方針
								div
									h5 個人情報保護方針
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
									dl
										dt 個人情報保護方針について
										dd ダミーテキストをしている場合を除き、事業上取扱うお客様･お取引先関係者などの特定の個人を識別できる情報（以下「個人情報」といい
								fieldset.checklist
									input(type="checkbox", name="privacypolicy-check", id="privacypolicy-check")
									label(for="privacypolicy-check")
										span 個人情報保護方針に同意する
							.btn-area
								button.btn-submit 送信
						
				
			include _footer.pug
			
			include _fixheader.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery.flexslider-min.js")
		script(type="text/javascript", src="js/ajaxzip3.js")
		script(type="text/javascript", src="js/common.js")
		script(type="text/javascript", src="js/search.js")

