doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 医院開業のトータルサポート「WithMedical」
		link(rel="stylesheet", media="all", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/search.css")
	body.top
		.wrapper

			include _header.pug
			
			main.contents__container
				.contents__block
					header.contents__header
						h2
							small Search
							| 開業物件詳細
							
					section.flowchart
						ol
							li 基本コンセプトの<br>策定
							li 開催場所の決定
							li 資金調達
							li 内装設計
							li 機器選定
							li 広告戦略
							li 人財採用
							li 届出・申請
							li 内覧会
							li ご開業
							
					section.contents__item
						h3 基本コンセプトの策定
						p
							img(src="img/flow/flow_image01.jpg")
							| クリニックを経営・運営していく上で大切なことは、『経営理念』や『診療方針』を明確にする事です。「どのようなリニックをめざすのか」、「どのような療を提供していきたいのか」、「どのな患者層が対象となるのか」を慎重に考コンセプトを固めていくことが大切です。
							
					section.contents__item
						h3 開催場所の決定
						p
							img(src="img/flow/flow_image02.jpg")
							| 立地条件はクリニックを経営に大きく影します。昼間人口（就労者）・夜間人口（住民）の数や、競合医療機関、交通のなど、色々な要素で、診療圏調査なども使し慎重に選びましょう。
							
					section.contents__item
						h3 資金調達
						p
							img(src="img/flow/flow_image03.jpg")
							| クリニックの開業には、診療科目や診為によって変わりますが、およそ数千から1億円かかる場合があります。自己金で賄うにはなかなか難しい場合があすし、返済に余裕を持った借入とは何考えて調達しなければなりません。
							
					section.contents__item
						h3 内装設計
						p
							img(src="img/flow/flow_image04.jpg")
							| 医療機関の内装は、やさしい見栄えやはもちろん、設置する機器によっては工事が発生する場合などもあり、設計事を行う業者は専門の業者に依頼するです。
							
					section.contents__item
						h3 機器選定
						p
							img(src="img/flow/flow_image05.jpg")
							| 医療機器・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・
							
					section.contents__item
						h3 広告戦略
						p
							img(src="img/flow/flow_image06.jpg")
							| 現代においては競合となる医療機関が業する土地に必ずと言っていいほど存ます。まずは新規に開院することを知もらい、また継続的に情報発信して患んに認知して頂かなくてはなりません
							
					section.contents__item
						h3 人財採用
						p
							img(src="img/flow/flow_image07.jpg")
							| 医療事務スタッフ、看護師、リハビリスタッフ・・・診療科によって職種や必要人数は異なりますが、数名のスタッフを雇用することになります。
							
					section.contents__item
						h3 届出・申請
						p
							img(src="img/flow/flow_image08.jpg")
							| 保険医療機関を開業するには様々な機関に対して様々な書類を提出しなければなりません。<br>また、従業員を雇用する場合は健康保険や年金などの手続きも必要です。
							
					section.contents__item
						h3 内覧会
						p
							img(src="img/flow/flow_image09.jpg")
							| 開院に当たってはまず地域の皆様にクリニックの存在を知って頂き、ふれあいの中で先生およびスタッフさんと患者さんとの距離を縮めることができます。・・・・・・

			include _footer.pug
			
			include _fixheader.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery.flexslider-min.js")
		script(type="text/javascript", src="js/slick.min.js")
		script(type="text/javascript", src="js/common.js")

