
html,body
	background: #f4f4f4
	font-family: "メイリオ", sans-serif;
	font-size: 14px
	color: #333

html,body,h1,h2,h3,h4,h5,h6,table,p,dl,dt,dd,ul,ol,li,hr,header,main,footer,section,article
	margin: 0
	padding: 0
ul,ol,li
	list-style: none

img
	vertical-align: text-bottom

a
	text-decoration: none

fieldset
	display: block
	margin: 0
	padding: 0
	border: 0
input[type=text],textarea
	box-sizing: border-box
	padding: .35em .5em
	border: 1px solid #ccc
	font-weight: normal
	line-height: 1.5
	vertical-align: text-bottom

select
	box-sizing: border-box
	padding: .2em .35em
	border: 1px solid #ccc
	font-weight: normal
	line-height: 1
	vertical-align: text-bottom


.main
	padding: 0 0 50px
	position: relative
	z-index: 1

// ダイアログ
.dialog
	display: none

.ui-widget-overlay
	box-sizing: border-box
	background: #000
	opacity: .5

.ui-dialog
	box-sizing: border-box
	padding: 0
.ui-dialog .ui-dialog-titlebar
	display: none
.ui-dialog .ui-dialog-buttonpane
	border-width: 0
.ui-dialog .ui-dialog-content
	width: 100%
	padding: 0 .5em
	font-family: "メイリオ", sans-serif;
	font-size: 1.1em
.ui-dialog .ui-dialog-buttonpane
	margin: 0 0 .75em
	padding: 0
	.ui-dialog-buttonset
		float: none
		text-align: center
		button
			width: 8em
			height: 2.2em
			margin: 0 .2em
			background: #fca831
			border: none
			color: #fff
			font-size: 1.1em
			font-weight: bold