
.footer
	display: block
	width: 100%
	margin: 0 auto
	background: #fca831
	position: relative
	z-index: 2

	.pagetop
		display: block
		width: 47px
		margin: 0 auto
		position: relative
		top: -30px
		img
			width: 47px

	.footernav
		text-align: center
		position: relative
		top: -20px
		a
			box-sizing: border-box
			display: inline-block
			width: 137px
			margin: 3px
			padding: .5em
			background: #e8941d
			border-radius: 4px
			color: #fff
			font-size: .87em
	p
		padding: 0 0 10px
		color: #fff
		font-size: .87em
		text-align: center
