article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background: #fff;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 14px;
  color: #373737;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
table,
p,
dl,
dt,
dd,
ul,
ol,
li,
hr,
header,
main,
footer,
section,
article,
figure,
strong,
b {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: text-bottom;
}
a {
  color: #373737;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
dt,
th {
  font-weight: normal;
}
fieldset {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border: none;
}
select {
  outline: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
select option {
  background: #fff;
  color: #373737;
}
select::-ms-expand {
  display: none;
}
select::-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}
:placeholder-shown {
  color: #aaa9a9;
}
::-webkit-input-placeholder {
  color: #aaa9a9;
}
:-moz-placeholder {
  color: #aaa9a9;
}
::-moz-placeholder {
  color: #aaa9a9;
}
:-ms-input-placeholder {
  color: #aaa9a9;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label:before {
  content: "　";
  display: inline-block;
  width: 1.2em;
  height: 1.14em;
  margin: 0 0.5em 0 0;
  background: #fff;
  border: 2px solid #c9c9c9;
  border-radius: 0.7em;
  color: #535353;
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  vertical-align: text-top;
}
input[type=radio]:checked + label:before {
  content: "●";
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  content: "　";
  display: inline-block;
  width: 1.14em;
  height: 1.14em;
  margin: 0 0.5em 0 0;
  background: #fff;
  border: 2px solid #fd9f3a;
  color: #fd9f3a;
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  vertical-align: text-top;
}
input[type=checkbox]:checked + label:before {
  content: "✔";
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.main {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 50px;
  overflow: hidden;
}
.contents-area {
  width: 100%;
}
.contents-area section h2 {
  margin: 0 10px;
  font-weight: normal;
  font-size: 1rem;
  font-weight: bold;
}
.contents-area section h2:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../../img/top/pc/title_icon.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: 0;
  margin-right: 0.25rem;
}
.contents-area section:not(:first-of-type) {
  margin-top: 30px;
}
.side-area {
  float: right;
}
.banner-items li {
  margin: 0 0 20px;
}
.banner-items li a:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis.multiline {
  white-space: normal;
}
.contents-area .information ul {
  margin: 20px 10px 0;
}
.contents-area .information ul li {
  padding: 1em;
  border-bottom: 1px solid #e3e3e3;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.contents-area .information ul li small {
  display: block;
  width: 70px;
  font-size: 0.75em;
}
.contents-area .information ul li a {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.87em;
}
.contents-area .tokushu-area {
  margin: 0 10px;
}
.contents-area .tokushu-area a {
  display: block;
  width: 300px;
  height: 82px;
  margin: 0 auto 15px;
  padding: 10px;
}
.contents-area .tokushu-area a:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.contents-area .tokushu-area a h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.2;
}
.contents-area .tokushu-area a p {
  font-size: 0.67em;
  line-height: 1.3;
  margin: 0.5em 0 0;
}
.contents-area .tokushu-area .tokushu1 {
  padding-left: 90px;
  padding-right: 65px;
  background: url("../../img/top/sp/bnr_tokushu.jpg") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area .tokushu-area .tokushu1 h3 {
  color: #58b244;
}
.contents-area .tokushu-area .tokushu2 {
  padding-left: 65px;
  padding-right: 90px;
  background: url("../../img/top/sp/bnr_tokushu02.jpg") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area .tokushu-area .tokushu2 h3 {
  color: #fd9f3a;
}
.contents-area section:not(:first-of-type).banner-area {
  margin: 0 10px;
}
.contents-area section:not(:first-of-type).banner-area >img {
  width: 100%;
  margin: 0;
}
.contents-area section:not(:first-of-type).banner-area a {
  display: block;
  margin: 15px 0;
}
.contents-area section:not(:first-of-type).banner-area a img {
  width: 100%;
}
.contents-area section:not(:first-of-type).banner-area .address {
  display: block;
  margin: 15px 10px;
  position: relative;
}
.contents-area section:not(:first-of-type).banner-area .address img {
  width: 100%;
}
.contents-area section:not(:first-of-type).banner-area .address address {
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 98px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.contents-area section:not(:first-of-type).banner-area .address address a {
  display: inline-block;
  width: 139px;
  height: 88px;
  padding-top: 0.5em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border-radius: 4px;
}
.contents-area section:not(:first-of-type).banner-area .address address a:before {
  content: "";
  display: block;
  height: 30px;
  margin-bottom: 0.5em;
}
.contents-area section:not(:first-of-type).banner-area .address address .btn-tel {
  background: #fff;
  border: 2px solid #dd205e;
  border-bottom: 8px solid #dd205e;
  color: #dd205e;
}
.contents-area section:not(:first-of-type).banner-area .address address .btn-tel:before {
  background: url("../../img/top/sp/top_bnr_02_tel.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area section:not(:first-of-type).banner-area .address address .btn-mail {
  background: #fe4280;
  border: 2px solid #fe4280;
  border-bottom: 8px solid #fe4280;
  color: #fff;
}
.contents-area section:not(:first-of-type).banner-area .address address .btn-mail:before {
  background: url("../../img/top/sp/top_bnr_02_mail.png") center no-repeat;
  -webkit-background-size: 30px 23px;
  -moz-background-size: 30px 23px;
  background-size: 30px 23px;
}
.contents-area section:not(:first-of-type).special-items {
  margin: 20px 10px 0;
  padding: 12px;
  background: #effeeb;
}
.contents-area section:not(:first-of-type).special-items li {
  width: 100%;
  margin: 10px 0 0;
}
.contents-area section:not(:first-of-type).special-items li a img {
  width: 100%;
}
.contents-area .search-items {
  margin: 0 10px;
  padding: 20px 12px;
  background: url("../../img/top/sp/top_serch03_bg01.png") center bottom no-repeat, url("../../img/top/sp/top_serch03_bg02.png") top right no-repeat;
  border: 1px solid #e3e3e3;
}
.contents-area .search-items h2 {
  margin: 0;
}
.contents-area .search-items ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 10px 0 30px;
}
.contents-area .search-items ul li {
  display: block;
  width: 48%;
  margin: 0 0 0.75em;
}
.contents-area .search-items ul li a {
  display: block;
  padding: 0.5em;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  font-size: 0.75em;
  line-height: 1.75;
  text-align: center;
}
.header__wrapper {
  width: 100%;
  border-bottom: 3px solid #58b244;
}
.header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.header-title {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 13px 0 8px 10px;
  font-size: 0.5em;
}
.header-title img {
  display: block;
  width: 150px;
  margin-top: 2px;
}
.header-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 114px;
}
.header-nav a {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 57px;
  padding: 13px 0 7px;
  color: #58b244;
  font-size: 0.5em;
  text-align: center;
}
.header-nav .keeping-items:before,
.header-nav .menu-items:before,
.header-nav .menu-close:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.header-nav .keeping-items:before {
  background: url("../../img/top/sp/header_icon_keep.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.header-nav .menu-items:before {
  background: url("../../img/top/sp/header_icon_menu.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.header-nav .menu-close:before {
  background: url("../../img/top/sp/header_icon_close.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.type-select {
  display: block;
  width: 100%;
  position: relative;
}
.type-select ul {
  width: 300px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.type-select li {
  display: block;
  width: 98px;
}
.type-select li span,
.type-select li a {
  display: block;
  border-radius: 10px 10px 0 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}
.type-select li span {
  height: 31px;
  line-height: 31px;
}
.type-select li a {
  height: 27px;
  line-height: 27px;
}
.type-select .type-all a,
.type-select .type-all span {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-bottom: 1px solid #fff;
}
.type-select .type-part a,
.type-select .type-part span {
  background: #fd9f3a;
  border: 1px solid #fd9f3a;
  color: #fff;
}
.type-select .type-full a,
.type-select .type-full span {
  background: #42cbfe;
  border: 1px solid #42cbfe;
  color: #fff;
}
.sp_globalnav__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 3px 12px;
  box-shadow: rgba(0,0,0,0.5) 0 3px 12px;
}
.sp_globalnav__wrapper .globalnav {
  margin: 0 auto;
}
.sp_globalnav__wrapper .globalnav li {
  display: block;
}
.sp_globalnav__wrapper .globalnav li a {
  display: block;
  height: 55px;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  text-align: left;
  text-decoration: none;
  line-height: 55px;
  position: relative;
}
.sp_globalnav__wrapper .globalnav li a:before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 53px;
  vertical-align: top;
}
.sp_globalnav__wrapper .globalnav li .gnav-search:before {
  background: url("../../img/top/pc/navi_icon_01.png") center no-repeat;
  -webkit-background-size: 17px 17px;
  -moz-background-size: 17px 17px;
  background-size: 17px 17px;
}
.sp_globalnav__wrapper .globalnav li .gnav-about:before {
  background: url("../../img/top/pc/navi_icon_02.png") center no-repeat;
  -webkit-background-size: 17px 20px;
  -moz-background-size: 17px 20px;
  background-size: 17px 20px;
}
.sp_globalnav__wrapper .globalnav li .gnav-flow:before {
  background: url("../../img/top/pc/navi_icon_03.png") center no-repeat;
  -webkit-background-size: 24px 17px;
  -moz-background-size: 24px 17px;
  background-size: 24px 17px;
}
.sp_globalnav__wrapper .globalnav li .gnav-contact:before {
  background: url("../../img/top/pc/navi_icon_04.png") center no-repeat;
  -webkit-background-size: 18px 14px;
  -moz-background-size: 18px 14px;
  background-size: 18px 14px;
}
.sp_globalnav__wrapper .globalnav li a:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 7px;
  background: url("../../img/top/sp/top_search_icon2.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 21px;
  right: 8px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.footer__wrapper {
  width: 100%;
}
.pagetop {
  display: block;
  width: 97px;
  height: 85px;
  position: absolute;
  top: -22px;
  right: 10px;
}
.pagetop img {
  width: 100%;
}
.footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 20px;
  position: relative;
}
.footer .footer-nav {
  padding: 10px 20px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}
.footer .footer-nav ul li {
  margin: 0.25em 0;
}
.footer .footer-nav ul li a {
  color: #373737;
  font-size: 0.75em;
}
.footer .footer-nav ul li a:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 9px;
  background: url("../../img/top/pc/footer_icon_list.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-right: 0.5rem;
}
.footer .footer-title {
  margin: 20px 0 10px;
  text-align: center;
}
.footer .footer-title small {
  font-size: 0.5em;
  display: block;
}
.footer .footer-title img {
  width: 140px;
}
.footer .address {
  text-align: center;
  font-size: 0.75em;
}
.copyright {
  width: 100%;
  height: 40px;
  background: #58b244;
  color: #fff;
  font-size: 0.75em;
  text-align: center;
  line-height: 40px;
}
