
@import "common/_font"
@import "common/_color"
@import "common/_item"
@import "common/_form"

.inquiries
	.contents-area
		h2
			@extend .b
		h2:before
			content: url(../img/inquiries/inquiries_icon01.png)
			display: inline-block
			margin: 0 .5em 0 0

// form header
.form-header
	p
		@extend .m
		margin: 1em 0 0
		font-size: 1.2em
		text-align: center
		small
			@extend .r
			display: block
			margin: 1em 0 0

// form-table
.form-table
	th,td
		font-size: 1.2em
	input[type=radio] + label:before
		top: 2px
			

		
