
@import "common/_font"
@import "common/_color"
@import "common/_item"


// search items

.search-items
	.searchitem
		@extend .large-item
	.searchitem-title
		@extend .largeitem-title
	.searchitem-attribute
		@extend .largeitem-attribute
	.searchitem-status
		@extend .largeitem-status
	.searchitem-comment
		@extend .largeitem-comment
	.searchitem-characters
		@extend .largeitem-characters

.searchitems__header
	dl
		display: flex
		flex-wrap: nowrap
		margin-bottom: 10px 
	dt
		width: 10rem
		padding: 1rem 0
		background: $pink
		border-radius: 11px 0 0 8px
		@extend .b
		color: white
		
		font-size: 1.17rem
		text-align: center
	dd
		flex: 1
		padding: 1.1rem 2rem
		background: $lightgray
		border-radius: 0 8px 8px 0
		position: relative
		@extend .m
		a
			position: absolute
			top: 12px
			right: 30px
			display: inline-block
			width: 10rem
			padding: 3px
			background: white
			border: 1px solid $pink
			border-radius: 4px
			color: $pink
			text-align: center
			&:hover
				background: $lightpink
	p
		margin: 20px 0
		@extend .m
		b
			color: $orange
			@extend .b
			font-size: 1.2rem
	div
		text-align: center
		a
			display: inline-block
			padding: .25rem .8rem
			background: $lightgray3
			color: $black
			@extend .b
		.disabled
			background: white
			border: 1px solid $gray2
			color: $gray3
			cursor: default
		.selected
			background: $lightpink
			border: 1px solid $pink
			color: $pink
			cursor: default

@import "common/_modal"