$white = #fff
$black = #373737
$black2 = #535353
$gray = #e3e3e3
$gray2 = #c9c9c9
$lightgray = #f6f6f6
$lightgray2 = #f3f3f3

$green = #58b244
$green1 = #5c9a4e
$green2 = #7ac768
$lightgreen = #effeeb

$orange = #fd9f3a
$orange1 = #ca7f2e
$orange2 = #dc7c16
$orange3 = #fd7a3a

$blue = #42cbfe
$blue1 = #35a2cb
$blue2 = #0497fe

$pink = #fe4280
$pink1 = #cb3566
$pink2 = #dd205e
$pink3 = #b11a4b

$yellow = #f5fd0f