$white = #fff
$black = #373737
$gray = #e3e3e3
$gray2 = #c9c9c9
$lightgray = #f6f6f6
$lightgray2 = #f3f3f3

$green = #58b244

$orange = #fd9f3a

$blue = #42cbfe

$pink = #fe4280
$pink2 = #dd205e

$yellow = #f5fd0f