$white = #fff
$black = #373737
$black2 = #535353
$black3 = #939393
$gray = #e3e3e3
$gray2 = #c9c9c9
$gray3 = #aaa9a9
$lightgray = #f6f6f6
$lightgray2 = #f4f3f3

$green = #58b244
$green1 = #5c9a4e
$green2 = #7ac768
$lightgreen = #effeeb
$lightgreen2 = #bddc9a
$mosgreen = #58844e

$orange = #fd9f3a
$orange1 = #ca7f2e
$orange2 = #dc7c16
$orange3 = #fd7a3a
$orange4 = #fc8508
$lightorange = #fde8cd
$lightorange2 = #fff8f0
$mosorange = #fd6b0a

$blue = #42cbfe
$blue1 = #35a2cb
$blue2 = #0497fe
$blue3 = #143fde
$lightblue = #eff4f7
$lightblue2 = #fafcfd

$pink = #fe4280
$pink1 = #cb3566
$pink2 = #dd205e
$pink3 = #b11a4b
$lightpink = #fdd8de

$yellow = #f5fd0f
$yellow2 = #fbf023
$red = #f81425
$red2 = #e64141

$map1 = #fc6497
$map2 = #40bf5b
$map3 = #4494c2
$map3txt = #2b6c91
$map4 = #9cbb30
$map4txt = #819736
$map5 = #cd5ac3
$map5txt = #b53eab
$map6 = #d18234
$map6txt = #a36528
$map7 = #6dbeb9
$map8 = #d4b65b
$map8txt = #bda14c
