// @file _menu.styl
nav
	display: block
	flex: 1
	width: 100%
	padding: 100px
	background: url(../img/rocky.jpg) 0 0 no-repeat
	background-size: cover
	.menu-list
		display: inline-block
		width: 100px
		margin: 10px
		
		a
		text-deoration: underline