.wrapper-shadow,
.wrapper-shadow-keep,
.wrapper-shadow-kodawari,
.wrapper-shadow-policy {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}
body.underwrapper {
  overflow: hidden;
}
.wrapper-shadow-keep {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.keepmodal {
  display: none;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -150px;
  background: #58b244;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.keepmodal p {
  display: block;
}
.keepmodal p:after {
  content: url("../img/top/pc/job_icon03.png");
  position: absolute;
  height: 45px;
  right: -5px;
  bottom: 10px;
}
.wrapper-shadow-kodawari {
  overflow: auto;
}
.kodawarimodal {
  display: none;
  width: 984px;
  height: auto;
  position: relative;
  margin: 45px auto;
  padding: 60px 67px 0;
  background: #fff;
  border-radius: 10px;
}
.kodawarimodal h2 {
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 1.5rem;
}
.kodawarimodal h2:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/kodawari/pc/pc_kodawari_titleicon.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: -1px;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.kodawarimodal .btn-close:first-of-type {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.kodawarimodal .btn-close:last-of-type {
  display: block;
  padding: 33px;
  text-align: center;
}
.kodawarimodal .type-select {
  position: relative;
  right: auto;
  bottom: 0;
  z-index: 2;
}
.kodawarimodal .type-select span {
  height: 41px;
  line-height: 41px;
  cursor: pointer;
}
.kodawarimodal .type-select span.selected {
  height: 48px;
  line-height: 48px;
  position: relative;
  bottom: -1px;
}
.kodawarimodal section {
  padding: 30px;
  border: 1px solid #e3e3e3;
  position: relative;
  color: #535353;
}
.kodawarimodal section:before {
  content: url("../img/kodawari/pc/pc_kodawari_obokun.png");
  position: absolute;
  top: -50px;
  right: 10px;
}
.kodawarimodal section.kodawari-all {
  padding-top: 32px;
}
.kodawarimodal section.kodawari-part {
  border-top: 3px solid #fd9f3a;
}
.kodawarimodal section.kodawari-full {
  border-top: 3px solid #42cbfe;
}
.kodawarimodal section p:first-of-type {
  padding: 0 10px 25px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 1.14em;
}
.kodawarimodal section .kodawari-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 30px 13px;
  border-bottom: 1px solid #e3e3e3;
}
.kodawarimodal section .kodawari-item h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 102px;
  background: #7ac768;
  border-radius: 2px;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
}
.kodawarimodal section .kodawari-item fieldset {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 17px;
}
.kodawarimodal section .kodawari-item fieldset h4 {
  margin: 1em 0;
  color: #5c9a4e;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 1.75;
}
.kodawarimodal section .kodawari-item fieldset h4:first-of-type {
  margin: 0 0 1em;
}
.kodawarimodal section .kodawari-item fieldset h4:before {
  content: "▼";
}
.kodawarimodal section .kodawari-item fieldset ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -14px;
}
.kodawarimodal section .kodawari-item fieldset ul li {
  display: block;
  width: 32%;
  margin: 0 1.33% 14px 0;
}
.kodawarimodal section .kodawari-item fieldset ul li input[type=checkbox] {
  display: none;
}
.kodawarimodal section .kodawari-item fieldset ul li label {
  display: block;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1.14em;
  line-height: 2.4;
  text-align: center;
  cursor: pointer;
}
.kodawarimodal section .kodawari-item fieldset ul li input:checked + label {
  background: #effeeb;
  border-color: #58b244;
  color: #58b244;
}
.kodawarimodal section .kodawari-item fieldset .search-item {
  display: inline-block;
  position: relative;
  margin-right: 0.2em;
}
.kodawarimodal section .kodawari-item fieldset .search-item:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background: url("../img/top/pc/top_search_icon02.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -3px;
}
.kodawarimodal section .kodawari-item fieldset .search-item select {
  width: auto;
  height: 41px;
  padding: 0 4em;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1.14em;
  cursor: pointer;
}
.kodawarimodal .btn-area {
  text-align: center;
}
.kodawarimodal .btn-area .btn-submit {
  display: inline-block;
  width: 460px;
  height: 75px;
  margin: 30px auto;
  background: #fe4280;
  border: 0px solid transparent;
  border-bottom: 9px solid #dd205e;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 2.14em;
  line-height: 65px;
}
.kodawarimodal .btn-area .btn-submit:hover {
  background: #cb3566;
  border-color: #b11a4b;
}
.wrapper-shadow-policy {
  overflow: auto;
}
.policymodal {
  display: none;
  width: 90%;
  max-width: 1100px;
  height: auto;
  position: relative;
  margin: 45px auto;
  padding: 60px 67px 0;
  background: #fff;
}
.policymodal .btn-close:first-of-type {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.policymodal .btn-close:last-of-type {
  display: block;
  padding: 33px;
  text-align: center;
}
.policymodal h3 {
  font-size: 1.5em;
  font-weight: normal;
}
.policymodal >p {
  margin: 2rem 0 0;
}
.policymodal .footertext {
  margin: 2rem 0 0;
  text-align: right;
}
.policymodal dl {
  margin: 2rem 0 0;
  font-size: 1rem;
  line-height: 1.75;
}
.policymodal dl dt {
  display: block;
}
.policymodal dl dd {
  display: block;
}
.policymodal dl dd ol li {
  list-style: decimal;
  margin-left: 1.5em;
}
.policymodal dl dd ol li ol li {
  list-style: none;
  margin: 0;
}
.policymodal dl dd ol li ol li:before {
  margin-right: 0.5em;
}
.policymodal dl dd ol li ol li:nth-of-type(1):before {
  content: "①";
}
.policymodal dl dd ol li ol li:nth-of-type(2):before {
  content: "②";
}
.policymodal dl dd ol li ol li:nth-of-type(3):before {
  content: "③";
}
.policymodal dl dd ol li ol li:nth-of-type(4):before {
  content: "④";
}
.policymodal dl dd ol li ol li:nth-of-type(5):before {
  content: "⑤";
}
.policymodal dl dd ol li ol li:nth-of-type(6):before {
  content: "⑥";
}
.policymodal dl dd ol li ol li:nth-of-type(7):before {
  content: "⑦";
}
.policymodal dl dd ol li ol li:nth-of-type(8):before {
  content: "⑧";
}
.policymodal dl dd ol li ol li:nth-of-type(9):before {
  content: "⑨";
}
@media screen and (max-width: 900px) {
  .policymodal {
    width: auto;
    height: auto;
    position: relative;
    margin: 15px 10px;
    padding: 60px 15px 0;
    background: #fff;
  }
  .policymodal .btn-close:first-of-type {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .policymodal .btn-close:last-of-type {
    display: block;
    padding: 15px;
    text-align: center;
  }
  .policymodal h3 {
    font-size: 0.79rem;
  }
  .policymodal p {
    font-size: 0.79rem;
  }
  .policymodal dl {
    font-size: 0.79rem;
    line-height: 1.75;
  }
  .policymodal dl dt {
    display: block;
  }
  .policymodal dl dd {
    display: block;
  }
  .policymodal dl dd ol li {
    margin-left: 0;
    list-style-position: inside;
  }
}
.branding {
  width: 100%;
  height: 565px;
  min-width: 1100px;
  max-width: 1700px;
  margin: 0 auto;
  background: url("../img/oiwai/pc/oiwai_pc_mainimg_bg.jpg") center top no-repeat;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px inset;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px inset;
  text-align: center;
}
.branding h1 {
  display: inline-block;
  margin: 0 auto;
  padding-top: 36px;
  border-bottom: 10px solid #fbf023;
  position: relative;
  color: #fe4280;
  font-size: 4.28rem;
  line-height: 1;
  text-shadow: #fff 1px 1px 1px;
}
.branding h1 strong {
  font-size: 1.33em;
  margin-left: -0.1em;
}
.branding h1:before {
  content: url("../img/oiwai/pc/oiwai_pc_mainimg_img01.png");
  display: block;
  position: relative;
  left: -116px;
}
.branding p {
  position: relative;
  top: 70px;
  left: 43%;
  font-size: 1.43rem;
  line-height: 2.71rem;
  text-align: left;
}
.branding p strong {
  color: #fe4280;
  font-size: 1.5em;
}
.branding p strong:before {
  content: url("../img/oiwai/pc/oiwai_pc_mainimg_img02.png");
  position: relative;
  bottom: -6px;
  margin-right: 0.25em;
}
.main {
  width: 100%;
  max-width: 1700px;
}
.contents-area {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}
.contents-area .introduction {
  width: 1100px;
  height: 1067px;
  margin: 0 auto;
  padding: 210px 0;
  background: url("../img/oiwai/pc/oiwai_pc_sec01_frame.png") no-repeat center 55px;
  text-align: center;
}
.contents-area .introduction h2 {
  display: inline-block;
  margin: 0 auto;
  border-bottom: 2px dashed #58b244;
  text-align: center;
  color: #58b244;
  font-size: 3.43rem;
  font-weight: normal;
  line-height: 1.5;
}
.contents-area .introduction h2:before {
  display: none;
}
.contents-area .introduction >p {
  margin: 30px auto 0;
}
.contents-area .introduction >p:first-of-type {
  font-size: 1.71rem;
  line-height: 2;
}
.contents-area .introduction >p:first-of-type strong {
  color: #fe4280;
  font-weight: bold;
}
.contents-area .introduction >p:first-of-type strong:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec01_icon01.png");
  position: relative;
  bottom: -0.25em;
  margin-right: 0.25em;
}
.contents-area .introduction >p:last-of-type {
  font-size: 1.43rem;
  line-height: 2.4;
}
.contents-area .introduction >p:last-of-type b {
  font-size: 1.2em;
  color: #58b244;
}
.contents-area .introduction .comment {
  width: 820px;
  margin: 10px 0 0 200px;
  padding: 20px 40px;
  background: #58b244;
  border-radius: 8px;
  position: relative;
  text-align: left;
}
.contents-area .introduction .comment:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec01_obokun.png");
  position: absolute;
  left: -140px;
}
.contents-area .introduction .comment:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 26px solid #58b244;
  border-bottom: 18px solid transparent;
  position: absolute;
  left: -26px;
  bottom: 20%;
}
.contents-area .introduction .comment h3 {
  color: #f5fd0f;
  font-size: 2.3rem;
}
.contents-area .introduction .comment h3 strong {
  text-decoration: underline;
}
.contents-area .introduction .comment p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2;
}
.contents-area .aboutmark {
  width: 1100px;
  height: 944px;
  margin: 100px auto 0;
  padding: 44px 0 0;
  background: url("../img/oiwai/pc/oiwai_pc_sec02_pink_frame.png") no-repeat left top, url("../img/oiwai/pc/oiwai_pc_sec02_yellow_frame.png") no-repeat right top;
  position: relative;
}
.contents-area .aboutmark:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec01_icon02.png");
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -41px;
}
.contents-area .aboutmark >ul:after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  clear: both;
}
.contents-area .aboutmark >ul li {
  width: 530px;
  padding: 0 30px;
}
.contents-area .aboutmark >ul li:before {
  display: block;
  width: 168px;
  margin: 0 auto;
}
.contents-area .aboutmark >ul li h2 {
  width: 360px;
  margin: 0 auto;
  border-bottom: 2px dashed #373737;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}
.contents-area .aboutmark >ul li h2:before {
  display: none;
}
.contents-area .aboutmark >ul li p {
  padding: 10px 20px;
  background: #f4f3f3;
  border-radius: 8px;
  font-size: 1.28rem;
  line-height: 1.67;
}
.contents-area .aboutmark >ul li figure {
  margin: 12px;
  overflow: hidden;
}
.contents-area .aboutmark >ul li figure >img {
  float: left;
}
.contents-area .aboutmark >ul li figure figcaption {
  float: right;
  font-size: 1.28rem;
  line-height: 54px;
}
.contents-area .aboutmark >ul li figure figcaption span {
  display: block;
  width: 170px;
  height: 54px;
  border-radius: 27px;
  text-align: center;
}
.contents-area .aboutmark >ul li figure figcaption small {
  display: block;
  color: #373737;
  text-align: right;
  font-size: 1em;
  position: relative;
  right: -1em;
}
.contents-area .aboutmark >ul li figure figcaption small img {
  position: relative;
  margin: 0 0.5em;
  bottom: -3px;
}
.contents-area .aboutmark .pinkmark {
  float: left;
}
.contents-area .aboutmark .pinkmark:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img01.png");
  display: block;
}
.contents-area .aboutmark .pinkmark h2 {
  color: #fe4280;
  border-color: #fe4280;
}
.contents-area .aboutmark .pinkmark figure figcaption span {
  background: #fe4280;
  color: #fff;
}
.contents-area .aboutmark .yellowmark {
  float: right;
}
.contents-area .aboutmark .yellowmark:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_yellow_img01.png");
  display: block;
}
.contents-area .aboutmark .yellowmark h2 {
  color: #fd9f3a;
  border-color: #f5fd0f;
}
.contents-area .aboutmark .yellowmark figure figcaption span {
  background: #f5fd0f;
  color: #fe4280;
}
.contents-area .aboutmark .pinkflow:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img04.png");
  display: block;
  width: 45px;
  height: 21px;
  margin: 30px 240px 30px;
}
.contents-area .aboutmark .pinkflow h3 {
  margin-left: 30px;
  font-size: 2rem;
  font-weight: bold;
}
.contents-area .aboutmark .pinkflow h3 small {
  display: inline-block;
  padding: 0 1em;
  background: #fe4280;
  border-radius: 1em;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  position: relative;
  top: -6px;
  margin-right: 0.5em;
}
.contents-area .aboutmark .pinkflow ul {
  margin: 20px 0 20px 30px;
}
.contents-area .aboutmark .pinkflow ul li {
  width: 326px;
  height: 216px;
  display: inline-block;
  position: relative;
  background: #fe4280;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  vertical-align: text-bottom;
}
.contents-area .aboutmark .pinkflow ul li h4 {
  font-weight: normal;
  font-size: 2.57rem;
  line-height: 1.1;
  width: 1.5em;
  margin: 20px auto 0;
  border-bottom: 2px solid #fff;
}
.contents-area .aboutmark .pinkflow ul li h4:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img05.png");
  position: absolute;
  top: 5px;
  left: 5px;
}
.contents-area .aboutmark .pinkflow ul li h4 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}
.contents-area .aboutmark .pinkflow ul li p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 20px 25px;
}
.contents-area .aboutmark .pinkflow ul li p small {
  display: block;
  color: #373737;
  font-size: 0.8em;
  margin: 7px;
  line-height: 1.2;
  text-align: left;
}
.contents-area .aboutmark .pinkflow ul li:not(:last-of-type) {
  margin-right: 24px;
}
.contents-area .aboutmark .pinkflow ul li:not(:last-of-type):after {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img07.png");
  position: absolute;
  right: -21px;
  top: 50%;
  margin-top: -11px;
}
.contents-area .aboutmark .pinkflow ul li:nth-of-type(1):before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img06.png");
  position: absolute;
  top: 20px;
  right: 40px;
}
.contents-area .aboutmark .pinkflow ul li:nth-of-type(2):before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img08.png");
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.contents-area .aboutmark .pinkflow ul li:nth-of-type(3):before {
  content: url("../img/oiwai/pc/oiwai_pc_sec02_pink_img09.png");
  position: absolute;
  top: -5px;
  right: -1px;
}
.contents-area .aboutmark .pinkflow >p {
  margin: 30px 50px;
  font-size: 1.28rem;
}
.contents-area .oiwaicheck {
  width: 100%;
  min-width: 1100px;
  max-width: 1700px;
  height: 659px;
  margin: 110px auto 0;
  padding: 60px 0 0 330px;
  background: url("../img/oiwai/pc/oiwai_pc_sec03_bg.jpg") no-repeat center top;
  text-align: center;
}
.contents-area .oiwaicheck h2 {
  width: 548px;
  height: 63px;
  margin: 0 auto;
  background: url("../img/oiwai/pc/oiwai_pc_sec03_titilebg.png") no-repeat center top;
  text-align: center;
  color: #fff;
  font-size: 2.14rem;
  line-height: 63px;
  position: relative;
  z-index: 2;
}
.contents-area .oiwaicheck h2:before {
  display: none;
}
.contents-area .oiwaicheck ul {
  position: relative;
  top: -33px;
  width: 765px;
  height: 510px;
  margin: 0 auto;
  padding-top: 78px;
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}
.contents-area .oiwaicheck ul li:not(:last-of-type) {
  display: block;
  width: 694px;
  height: 64px;
  margin: 12px auto 0;
  padding: 8px 20px;
  border: 5px solid #58b244;
  border-radius: 32px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}
.contents-area .oiwaicheck ul li:not(:last-of-type):before {
  content: url("../img/oiwai/pc/oiwai_pc_sec03_img01.png");
  margin-right: 0.5em;
  position: relative;
  top: 5px;
}
.contents-area .oiwaicheck ul li:last-of-type {
  display: inline-block;
  margin: 20px auto 0;
  color: #fd9f3a;
  font-size: 2.14rem;
  line-height: 1.5;
  border-bottom: 3px solid #fd9f3a;
  position: relative;
}
.contents-area .oiwaicheck ul li:last-of-type:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec03_img04.png");
  display: block;
  line-height: 20px;
}
.contents-area .oiwaicheck ul li:last-of-type:after {
  content: url("../img/oiwai/pc/oiwai_pc_sec03_img03.png");
  display: block;
  position: absolute;
  right: -120px;
  top: 0;
}
.contents-area .oiwaiflow {
  width: 100%;
  min-width: 1100px;
  max-width: 1700px;
  margin: 130px auto 0;
  text-align: center;
}
.contents-area .oiwaiflow h2 {
  width: 650px;
  height: 94px;
  margin: 0 auto;
  background: url("../img/oiwai/pc/oiwai_pc_sec04_titilebg.png") no-repeat center top;
  color: #fff;
  font-size: 2.5rem;
  line-height: 2;
}
.contents-area .oiwaiflow h2:before {
  display: none;
}
.contents-area .oiwaiflow .oiwaiflow_pink {
  width: 1085px;
  height: 247px;
  margin: 50px auto;
  background: url("../img/oiwai/pc/oiwai_pc_sec04_pink_img01.png") no-repeat 0 0;
  text-align: left;
}
.contents-area .oiwaiflow .oiwaiflow_pink dt {
  display: inline-block;
  width: 247px;
  height: 247px;
  padding: 47px 0 0;
  color: #fe4280;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
.contents-area .oiwaiflow .oiwaiflow_pink dt strong {
  font-size: 1.4em;
}
.contents-area .oiwaiflow .oiwaiflow_pink dt strong:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec04_pink_img02.png");
  display: block;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd {
  display: inline-block;
  width: 800px;
  height: 247px;
  padding: 70px 0 0;
  color: #fff;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd small {
  display: block;
  width: 640px;
  text-align: center;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd small span {
  display: inline-block;
  width: 184px;
  height: 32px;
  margin: 0 10px;
  background: #fff;
  border-radius: 16px;
  text-align: center;
  color: #373737;
  font-size: 1.27rem;
  line-height: 34px;
  vertical-align: middle;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd p {
  font-size: 1.71rem;
  line-height: 1.5;
  margin: 20px 0 0 20px;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd p strong {
  color: #f5fd0f;
  font-weight: bold;
}
.contents-area .oiwaiflow ol {
  margin: 50px 0 0;
}
.contents-area .oiwaiflow ol li {
  display: block;
  width: 1000px;
  min-height: 120px;
  margin: 12px auto 0;
  padding: 20px;
  border: 5px solid #e3e3e3;
  border-radius: 70px;
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
}
.contents-area .oiwaiflow ol li strong {
  color: #fe4280;
}
.contents-area .oiwaiflow ol li small {
  display: block;
  font-size: 1.2rem;
}
.contents-area .oiwaiflow ol li:nth-of-type(even) {
  padding: 40px 20px;
}
.contents-area .oiwaiflow ol li:not(:first-of-type):before {
  content: "▼";
  display: block;
  width: 36px;
  height: 36px;
  background: #7ac768;
  border-radius: 18px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 38px;
  position: absolute;
  top: -29px;
  left: 50%;
  margin-left: -18px;
}
.contents-area .oiwaiflow ol li:nth-of-type(1):after {
  content: '1';
  display: block;
  width: 46px;
  height: 46px;
  background: #fd9f3a;
  border-radius: 23px;
  color: #fff;
  font-size: 2rem;
  line-height: 48px;
  position: absolute;
  top: 0;
  left: -10px;
}
.contents-area .oiwaiflow ol li:nth-of-type(2):after {
  content: '2';
  display: block;
  width: 46px;
  height: 46px;
  background: #fd9f3a;
  border-radius: 23px;
  color: #fff;
  font-size: 2rem;
  line-height: 48px;
  position: absolute;
  top: 0;
  left: -10px;
}
.contents-area .oiwaiflow ol li:nth-of-type(3):after {
  content: '3';
  display: block;
  width: 46px;
  height: 46px;
  background: #fd9f3a;
  border-radius: 23px;
  color: #fff;
  font-size: 2rem;
  line-height: 48px;
  position: absolute;
  top: 0;
  left: -10px;
}
.contents-area .oiwaiflow ol li:nth-of-type(4):after {
  content: '4';
  display: block;
  width: 46px;
  height: 46px;
  background: #fd9f3a;
  border-radius: 23px;
  color: #fff;
  font-size: 2rem;
  line-height: 48px;
  position: absolute;
  top: 0;
  left: -10px;
}
.contents-area .oiwaiflow .oiwaiflow_yellow {
  width: 1085px;
  height: 247px;
  margin: 50px auto;
  background: url("../img/oiwai/pc/oiwai_pc_sec04_yellow_img01.png") no-repeat 0 0;
  text-align: left;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dt {
  display: inline-block;
  width: 247px;
  height: 247px;
  padding: 47px 0 0;
  color: #fd9f3a;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dt strong {
  font-size: 1.4em;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dt strong:before {
  content: url("../img/oiwai/pc/oiwai_pc_sec04_yellow_img02.png");
  display: block;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd {
  display: inline-block;
  width: 640px;
  height: 247px;
  padding: 70px 0 0;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd small {
  display: block;
  text-align: center;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd small span {
  display: inline-block;
  width: 184px;
  height: 32px;
  margin: 0 10px;
  background: #fff;
  border-radius: 16px;
  text-align: center;
  color: #fd9f3a;
  font-size: 1.27rem;
  line-height: 34px;
  vertical-align: middle;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd p {
  font-size: 1.71rem;
  line-height: 1.5;
  margin: 20px 0 0 20px;
  color: #373737;
  text-align: center;
}
.contents-area .oiwaiattention {
  width: 1080px;
  margin: 160px auto 0;
  padding: 40px;
  text-align: center;
  background: url("../img/oiwai/pc/oiwai_pc_sec05_bg.png32.png") 0 0;
}
.contents-area .oiwaiattention >div {
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  position: relative;
}
.contents-area .oiwaiattention >div h2 {
  position: absolute;
  top: -64px;
  left: 50%;
  margin-left: -360px;
  width: 720px;
  height: 165px;
  background: url("../img/oiwai/pc/oiwai_pc_sec05_titilebg.png") no-repeat center top;
  color: #fd9f3a;
  font-size: 2.5rem;
  padding-top: 100px;
  text-align: center;
}
.contents-area .oiwaiattention >div h2:before {
  display: none;
}
.contents-area .oiwaiattention >div small {
  display: block;
  padding: 140px 0 0;
  color: #58b244;
  font-size: 1.4rem;
  font-weight: bold;
}
.contents-area .oiwaiattention >div ul {
  padding: 40px 100px;
}
.contents-area .oiwaiattention >div ul li {
  list-style: disc;
  font-size: 1.28rem;
  line-height: 1.5;
  margin-bottom: 1em;
}
.contents-area .oiwaifaq {
  width: 1100px;
  margin: 0 auto;
  padding: 110px 0 0;
}
.contents-area .oiwaifaq h2 {
  width: 454px;
  height: 94px;
  background: url("../img/oiwai/pc/oiwai_pc_sec06_titilebg.png") no-repeat center top;
  color: #fff;
  font-size: 2.5rem;
  line-height: 2;
}
.contents-area .oiwaifaq h2:before {
  display: none;
}
.contents-area .oiwaifaq dl {
  padding: 2.5rem 0;
  font-size: 1.28rem;
  border-bottom: 1px solid #e3e3e3;
}
.contents-area .oiwaifaq dt {
  display: block;
  color: #58b244;
}
.contents-area .oiwaifaq dt:before {
  content: "Q.";
  font-size: 1.57rem;
  margin-right: 0.5em;
}
.contents-area .oiwaifaq dd {
  display: block;
  margin-top: 0.75em;
}
.contents-area .oiwaifaq dd:before {
  content: "A.";
  color: #fd9f3a;
  font-size: 1.57rem;
  margin-right: 0.5em;
}
.contents-area .oiwaifaq dd a {
  color: #fd9f3a;
  text-decoration: underline;
}
.contents-area .kbp {
  width: 1100px;
  margin: 0 auto;
  padding: 110px 0 0;
}
.contents-area .kbp h2 {
  margin-bottom: 60px;
  color: #58b244;
  font-size: 2.14rem;
  text-align: center;
}
.contents-area .kbp h2:before {
  display: none;
}
.contents-area .kbp p {
  margin: 1.75em 0 0;
  font-size: 1.28rem;
  text-align: center;
}
.contents-area .kbp figure {
  margin: 80px 0 0;
  text-align: center;
}
.contents-area .kbp figcaption {
  display: block;
  margin: 60px 0 0;
  color: #58b244;
  font-size: 1.86rem;
}
.contents-area .information,
.contents-area .tokushu-area,
.contents-area .banner-area,
.contents-area .search-items,
.contents-area .about-area {
  width: 850px;
  margin: 70px auto 0;
}
