.wrapper-shadow,
.wrapper-shadow-keep,
.wrapper-shadow-kodawari,
.wrapper-shadow-policy {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}
body.underwrapper {
  overflow: hidden;
}
.wrapper-shadow-keep {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.keepmodal {
  display: none;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -150px;
  background: #58b244;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.keepmodal p {
  display: block;
}
.keepmodal p:after {
  content: url("../img/top/pc/job_icon03.png");
  position: absolute;
  height: 45px;
  right: -5px;
  bottom: 10px;
}
.wrapper-shadow-kodawari {
  overflow: auto;
}
.kodawarimodal {
  display: none;
  width: 984px;
  height: auto;
  position: relative;
  margin: 45px auto;
  padding: 60px 67px 0;
  background: #fff;
  border-radius: 10px;
}
.kodawarimodal h2 {
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 1.5rem;
}
.kodawarimodal h2:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/kodawari/pc/pc_kodawari_titleicon.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: -1px;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.kodawarimodal .btn-close:first-of-type {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.kodawarimodal .btn-close:last-of-type {
  display: block;
  padding: 33px;
  text-align: center;
}
.kodawarimodal .type-select {
  position: relative;
  right: auto;
  bottom: 0;
  z-index: 2;
}
.kodawarimodal .type-select span {
  height: 41px;
  line-height: 41px;
  cursor: pointer;
}
.kodawarimodal .type-select span.selected {
  height: 48px;
  line-height: 48px;
  position: relative;
  bottom: -1px;
}
.kodawarimodal section {
  padding: 30px;
  border: 1px solid #e3e3e3;
  position: relative;
  color: #535353;
}
.kodawarimodal section:before {
  content: url("../img/kodawari/pc/pc_kodawari_obokun.png");
  position: absolute;
  top: -50px;
  right: 10px;
}
.kodawarimodal section.kodawari-all {
  padding-top: 32px;
}
.kodawarimodal section.kodawari-part {
  border-top: 3px solid #fd9f3a;
}
.kodawarimodal section.kodawari-full {
  border-top: 3px solid #42cbfe;
}
.kodawarimodal section p:first-of-type {
  padding: 0 10px 25px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 1.14em;
}
.kodawarimodal section .kodawari-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 30px 13px;
  border-bottom: 1px solid #e3e3e3;
}
.kodawarimodal section .kodawari-item h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 102px;
  background: #7ac768;
  border-radius: 2px;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
}
.kodawarimodal section .kodawari-item fieldset {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 17px;
}
.kodawarimodal section .kodawari-item fieldset h4 {
  margin: 1em 0;
  color: #5c9a4e;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 1.75;
}
.kodawarimodal section .kodawari-item fieldset h4:first-of-type {
  margin: 0 0 1em;
}
.kodawarimodal section .kodawari-item fieldset h4:before {
  content: "▼";
}
.kodawarimodal section .kodawari-item fieldset ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -14px;
}
.kodawarimodal section .kodawari-item fieldset ul li {
  display: block;
  width: 32%;
  margin: 0 1.33% 14px 0;
}
.kodawarimodal section .kodawari-item fieldset ul li input[type=checkbox] {
  display: none;
}
.kodawarimodal section .kodawari-item fieldset ul li label {
  display: block;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1.14em;
  line-height: 2.4;
  text-align: center;
  cursor: pointer;
}
.kodawarimodal section .kodawari-item fieldset ul li input:checked + label {
  background: #effeeb;
  border-color: #58b244;
  color: #58b244;
}
.kodawarimodal section .kodawari-item fieldset .search-item {
  display: inline-block;
  position: relative;
  margin-right: 0.2em;
}
.kodawarimodal section .kodawari-item fieldset .search-item:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background: url("../img/top/pc/top_search_icon02.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -3px;
}
.kodawarimodal section .kodawari-item fieldset .search-item select {
  width: auto;
  height: 41px;
  padding: 0 4em;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1.14em;
  cursor: pointer;
}
.kodawarimodal .btn-area {
  text-align: center;
}
.kodawarimodal .btn-area .btn-submit {
  display: inline-block;
  width: 460px;
  height: 75px;
  margin: 30px auto;
  background: #fe4280;
  border: 0px solid transparent;
  border-bottom: 9px solid #dd205e;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 2.14em;
  line-height: 65px;
}
.kodawarimodal .btn-area .btn-submit:hover {
  background: #cb3566;
  border-color: #b11a4b;
}
.wrapper-shadow-policy {
  overflow: auto;
}
.policymodal {
  display: none;
  width: 90%;
  max-width: 1100px;
  height: auto;
  position: relative;
  margin: 45px auto;
  padding: 60px 67px 0;
  background: #fff;
}
.policymodal .btn-close:first-of-type {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.policymodal .btn-close:last-of-type {
  display: block;
  padding: 33px;
  text-align: center;
}
.policymodal h3 {
  font-size: 1.5em;
  font-weight: normal;
}
.policymodal >p {
  margin: 2rem 0 0;
}
.policymodal .footertext {
  margin: 2rem 0 0;
  text-align: right;
}
.policymodal dl {
  margin: 2rem 0 0;
  font-size: 1rem;
  line-height: 1.75;
}
.policymodal dl dt {
  display: block;
}
.policymodal dl dd {
  display: block;
}
.policymodal dl dd ol li {
  list-style: decimal;
  margin-left: 1.5em;
}
.policymodal dl dd ol li ol li {
  list-style: none;
  margin: 0;
}
.policymodal dl dd ol li ol li:before {
  margin-right: 0.5em;
}
.policymodal dl dd ol li ol li:nth-of-type(1):before {
  content: "①";
}
.policymodal dl dd ol li ol li:nth-of-type(2):before {
  content: "②";
}
.policymodal dl dd ol li ol li:nth-of-type(3):before {
  content: "③";
}
.policymodal dl dd ol li ol li:nth-of-type(4):before {
  content: "④";
}
.policymodal dl dd ol li ol li:nth-of-type(5):before {
  content: "⑤";
}
.policymodal dl dd ol li ol li:nth-of-type(6):before {
  content: "⑥";
}
.policymodal dl dd ol li ol li:nth-of-type(7):before {
  content: "⑦";
}
.policymodal dl dd ol li ol li:nth-of-type(8):before {
  content: "⑧";
}
.policymodal dl dd ol li ol li:nth-of-type(9):before {
  content: "⑨";
}
@media screen and (max-width: 900px) {
  .policymodal {
    width: auto;
    height: auto;
    position: relative;
    margin: 15px 10px;
    padding: 60px 15px 0;
    background: #fff;
  }
  .policymodal .btn-close:first-of-type {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .policymodal .btn-close:last-of-type {
    display: block;
    padding: 15px;
    text-align: center;
  }
  .policymodal h3 {
    font-size: 0.79rem;
  }
  .policymodal p {
    font-size: 0.79rem;
  }
  .policymodal dl {
    font-size: 0.79rem;
    line-height: 1.75;
  }
  .policymodal dl dt {
    display: block;
  }
  .policymodal dl dd {
    display: block;
  }
  .policymodal dl dd ol li {
    margin-left: 0;
    list-style-position: inside;
  }
}
.branding {
  width: 100%;
  height: 367px;
  margin: 0 auto;
  padding-top: 80px;
  background: url("../img/about/sp_about_mainimg_bg.jpg") center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
}
.branding h1 {
  width: 100%;
  height: 170px;
  margin: 0 auto;
  padding: 115px 0 0;
  background: url("../img/about/sp_about_mainimg_copy.png") center top no-repeat;
  -webkit-background-size: 262px 103px;
  -moz-background-size: 262px 103px;
  background-size: 262px 103px;
  position: relative;
  font-size: 0.87rem;
  line-height: 1.5;
}
.branding h1 strong {
  display: none;
}
.branding small {
  display: block;
  width: 188px;
  height: 30px;
  margin: 5px auto 0;
  background: #fd9f3a;
  border-radius: 15px;
  color: #fff;
  font-size: 1.14rem;
  text-align: center;
  line-height: 30px;
}
.contents-area .introduction {
  padding-top: 30px;
  position: relative;
}
.contents-area .introduction h2 {
  margin: 0 auto;
  text-align: center;
  color: #58b244;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}
.contents-area .introduction h2:before {
  display: none;
}
.contents-area .introduction >ul {
  margin: 20px 10px 0;
}
.contents-area .introduction >ul li {
  display: block;
  margin: 10px 0 0;
  padding: 10px 10px 10px 110px;
  background: #fd9f3a;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  position: relative;
}
.contents-area .introduction >ul li strong {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}
.contents-area .introduction >ul li p {
  margin: 0.5rem auto 0;
  font-size: 1rem;
  line-height: 1.2rem;
}
.contents-area .introduction >ul li:before {
  content: "";
  display: block;
  width: 120px;
  position: absolute;
  left: 0;
}
.contents-area .introduction >ul li:nth-of-type(1):before {
  height: 105px;
  background: url("../img/about/sp_about_sec01_img01.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  top: -7px;
}
.contents-area .introduction >ul li:nth-of-type(2):before {
  height: 80px;
  background: url("../img/about/sp_about_sec01_img02.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  top: 12px;
}
.contents-area .introduction >ul li:nth-of-type(3):before {
  height: 64px;
  background: url("../img/about/sp_about_sec01_img03.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  top: 16px;
}
.contents-area .introduction p {
  margin: 1rem 10px 0;
  font-size: 0.87rem;
  line-height: 2;
  text-align: center;
  position: relative;
}
.contents-area .introduction article {
  margin: 20px 10px 0;
}
.contents-area .introduction article h3 {
  height: 80px;
  padding: 10px 0 0;
  background: #7ac768;
  border-radius: 8px 8px 0 0;
  position: relative;
  text-align: center;
}
.contents-area .introduction article h3 img {
  position: relative;
  width: 253px;
}
.contents-area .introduction article .points {
  padding: 10px;
  background: -webkit-repeating-linear-gradient(135deg, #bddc9a 0, #bddc9a 15px, #fff 15px, #fff 30px);
  background: -moz-repeating-linear-gradient(135deg, #bddc9a 0, #bddc9a 15px, #fff 15px, #fff 30px);
  background: -o-repeating-linear-gradient(135deg, #bddc9a 0, #bddc9a 15px, #fff 15px, #fff 30px);
  background: -ms-repeating-linear-gradient(135deg, #bddc9a 0, #bddc9a 15px, #fff 15px, #fff 30px);
  background: repeating-linear-gradient(-45deg, #bddc9a 0, #bddc9a 15px, #fff 15px, #fff 30px);
  border-radius: 0 0 8px 8px;
}
.contents-area .introduction article .points ul li {
  display: block;
  margin: 35px 0 0;
  padding: 25px 0 10px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  color: #535353;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
  position: relative;
}
.contents-area .introduction article .points ul li:before {
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -25px;
}
.contents-area .introduction article .points ul li strong {
  color: #fd9f3a;
  font-weight: bold;
}
.contents-area .introduction article .points ul li:nth-of-type(1):before {
  background-image: url("../img/about/sp_about_sec02_img01.png");
}
.contents-area .introduction article .points ul li:nth-of-type(2):before {
  background-image: url("../img/about/sp_about_sec02_img02.png");
}
.contents-area .introduction article .points ul li:nth-of-type(3):before {
  background-image: url("../img/about/sp_about_sec02_img03.png");
}
.contents-area .introduction article .points ul li:nth-of-type(4):before {
  background-image: url("../img/about/sp_about_sec02_img04.png");
}
.contents-area .check,
.contents-area .check1,
.contents-area .check2,
.contents-area .check3,
.contents-area .check4 {
  width: 100%;
  margin: 30px 0 0;
}
.contents-area .check p,
.contents-area .check1 p,
.contents-area .check2 p,
.contents-area .check3 p,
.contents-area .check4 p {
  width: 300px;
  margin: 0 auto;
  color: #535353;
  font-size: 1.1rem;
  line-height: 1.6;
  position: relative;
}
.contents-area .check a,
.contents-area .check1 a,
.contents-area .check2 a,
.contents-area .check3 a,
.contents-area .check4 a {
  display: block;
  margin-top: 30px;
  background: #fe4280;
  border-bottom: 5px solid #dd205e;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  position: relative;
}
.contents-area .check a strong,
.contents-area .check1 a strong,
.contents-area .check2 a strong,
.contents-area .check3 a strong,
.contents-area .check4 a strong {
  font-size: 1.3rem;
  color: #f5fd0f;
}
.contents-area .check a:hover,
.contents-area .check1 a:hover,
.contents-area .check2 a:hover,
.contents-area .check3 a:hover,
.contents-area .check4 a:hover {
  background: #cb3566;
  border-color: #b11a4b;
}
.contents-area .check a:hover:before,
.contents-area .check1 a:hover:before,
.contents-area .check2 a:hover:before,
.contents-area .check3 a:hover:before,
.contents-area .check4 a:hover:before {
  margin-top: -2px;
}
.contents-area .check1 {
  height: 191px;
  padding-top: 47px;
  background: #e5f5f9 url("../img/about/sp_about_check_bg.jpg") left top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area .check1 p {
  padding-left: 105px;
  text-align: left;
}
.contents-area .check1 p:before {
  content: "";
  display: block;
  width: 111px;
  height: 52px;
  background: url("../img/about/sp_about_check_img01.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -60px;
  right: -7px;
}
.contents-area .check1 a {
  display: block;
  width: 274px;
  height: 64px;
  margin: 10px auto 0;
  padding: 10px 30px 0 0;
  font-size: 1rem;
  line-height: 1.3rem;
}
.contents-area .check1 a:before {
  content: "";
  display: block;
  width: 63px;
  height: 54px;
  background: url("../img/about/sp_about_check_img02.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 2px;
  right: -14px;
}
.contents-area .check2 {
  height: 170px;
  padding-top: 31px;
  background: #dbeff4 url("../img/about/sp_about_check02_bg.jpg") right top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area .check2 p {
  padding-right: 100px;
  text-align: center;
}
.contents-area .check2 p:before {
  content: "";
  display: block;
  width: 111px;
  height: 38px;
  background: url("../img/about/sp_about_check_obo.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -50px;
  left: 3px;
}
.contents-area .check2 a {
  display: block;
  width: 274px;
  height: 64px;
  margin: 10px auto 0;
  padding: 13px 0 0 50px;
  font-size: 1rem;
  line-height: 1.3rem;
}
.contents-area .check2 a:before {
  content: "";
  width: 77px;
  height: 67px;
  background: url("../img/about/sp_about_check02_img01.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -12px;
  left: -20px;
}
.contents-area .check3 {
  height: 170px;
  padding-top: 30px;
  background: #dbeff4 url("../img/about/sp_about_check03_bg.jpg") left top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area .check3 p {
  padding-left: 100px;
  text-align: center;
}
.contents-area .check3 p:before {
  content: "";
  display: block;
  width: 111px;
  height: 38px;
  background: url("../img/about/sp_about_check_obo.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -45px;
  left: 80px;
}
.contents-area .check3 a {
  display: block;
  width: 274px;
  height: 64px;
  margin: 10px auto 0;
  padding: 13px 50px 0 0;
  font-size: 1rem;
  line-height: 1.3rem;
}
.contents-area .check3 a:before {
  content: "";
  width: 77px;
  height: 67px;
  background: url("../img/about/sp_about_check03_img01.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -15px;
  right: -12px;
}
.contents-area .check4 {
  height: 170px;
  padding-top: 25px;
  background: #dbeff4 url("../img/about/sp_about_check04_bg.jpg") right top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.contents-area .check4 p {
  padding-right: 100px;
  text-align: center;
}
.contents-area .check4 p:before {
  content: "";
  display: block;
  width: 111px;
  height: 38px;
  background: url("../img/about/sp_about_check_obo.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -50px;
  left: 3px;
}
.contents-area .check4 a {
  display: block;
  width: 274px;
  height: 64px;
  margin: 10px auto 0;
  padding: 21px 40px 0 0;
  font-size: 1rem;
  line-height: 1.3rem;
}
.contents-area .check4 a:before {
  content: "";
  width: 72px;
  height: 70px;
  background: url("../img/about/sp_about_check04_img01.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -13px;
  right: -13px;
}
.contents-area .point,
.contents-area .point1,
.contents-area .point2,
.contents-area .point3,
.contents-area .point4 {
  position: relative;
  padding: 20px 0;
}
.contents-area .point h2,
.contents-area .point1 h2,
.contents-area .point2 h2,
.contents-area .point3 h2,
.contents-area .point4 h2 {
  width: 287px;
  height: 124px;
  margin: 0 auto;
  padding: 63px 0 0;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  color: #5c9a4e;
  font-size: 1.5rem;
  text-align: center;
}
.contents-area .point h2:before,
.contents-area .point1 h2:before,
.contents-area .point2 h2:before,
.contents-area .point3 h2:before,
.contents-area .point4 h2:before {
  display: none;
}
.contents-area .point h2 strong,
.contents-area .point1 h2 strong,
.contents-area .point2 h2 strong,
.contents-area .point3 h2 strong,
.contents-area .point4 h2 strong {
  color: #fe4280;
  position: relative;
  margin-left: -0.4em;
  font-weight: bold;
}
.contents-area .point p,
.contents-area .point1 p,
.contents-area .point2 p,
.contents-area .point3 p,
.contents-area .point4 p {
  font-size: 0.87rem;
  line-height: 2;
}
.contents-area .point1 {
  padding: 0;
}
.contents-area .point1 h2 {
  background-image: url("../img/about/sp_about_sec03_titlebg.png");
}
.contents-area .point1 p {
  margin: 2em auto 0;
  text-align: center;
}
.contents-area .point1 p img {
  width: 280px;
}
.contents-area .point1 >h3 {
  width: 282px;
  height: 46px;
  margin: 20px auto 0;
  background: url("../img/about/sp_about_sec03_img01.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  line-height: 46px;
}
.contents-area .point1 .area8 {
  position: relative;
  margin: 2em auto 0;
}
.contents-area .point1 .area8 h3 {
  display: block;
  width: 300px;
  height: 159px;
  margin: 0 auto;
  padding: 96px 152px 0 16px;
  background: url("../img/about/sp_about_sec03_img02.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  color: #fd9f3a;
  font-size: 1.1rem;
  line-height: 1;
  position: relative;
}
.contents-area .point1 .area8 h3 strong {
  font-size: 1.7rem;
}
.contents-area .point1 .area8 h3:after {
  content: "";
  display: block;
  width: 135px;
  height: 1px;
  background: #fd9f3a;
  position: absolute;
  bottom: 20px;
  left: 17px;
}
.contents-area .point1 .area8 ul {
  width: 300px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.contents-area .point1 .area8 li {
  display: block;
  width: 49%;
  margin-top: 6px;
}
.contents-area .point1 .area8 li a {
  display: block;
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 20px;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  position: relative;
}
.contents-area .point1 .area8 li a:after {
  content: "";
  display: block;
  background: url("../img/about/sp_about_sec03_img03.png") center top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 3px;
  height: 5px;
  line-height: 5px;
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin-top: -3px;
}
.contents-area .point1 .area8 li:nth-of-type(1) a {
  background: #fc6497;
}
.contents-area .point1 .area8 li:nth-of-type(2) a {
  background: #40bf5b;
}
.contents-area .point1 .area8 li:nth-of-type(3) a {
  background: #4494c2;
}
.contents-area .point1 .area8 li:nth-of-type(4) a {
  background: #9cbb30;
}
.contents-area .point1 .area8 li:nth-of-type(5) a {
  background: #cd5ac3;
}
.contents-area .point1 .area8 li:nth-of-type(6) a {
  background: #d18234;
}
.contents-area .point1 .area8 li:nth-of-type(7) a {
  background: #6dbeb9;
}
.contents-area .point1 .area8 li:nth-of-type(8) a {
  background: #d4b65b;
}
.contents-area .point1 .special4 {
  position: relative;
  padding: 60px 0 0;
}
.contents-area .point1 .special4 h3 {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 5px;
  color: #fd9f3a;
  font-size: 1.1rem;
  line-height: 1;
  text-align: center;
  position: relative;
}
.contents-area .point1 .special4 h3 strong {
  font-size: 1.7rem;
}
.contents-area .point1 .special4 h3:after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background: #fd9f3a;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -125px;
}
.contents-area .point1 .special4 ul {
  margin: 0 10px;
}
.contents-area .point1 .special4 ul li {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 4px;
  box-shadow: rgba(0,0,0,0.1) 0 0 4px;
}
.contents-area .point1 .special4 ul li a {
  display: block;
  height: 28px;
  margin: 5px;
  background: #7ac768;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  position: relative;
}
.contents-area .point1 .special4 ul li a:before {
  content: "";
  display: block;
  background: url("../img/about/sp_about_sec03_img03.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 7px;
  height: 9px;
  line-height: 9px;
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -5px;
}
.contents-area .point1 .special4 ul li p {
  min-height: 101px;
  margin: 7px 0 0 0;
  padding: 7px 0 0 110px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 101px 101px;
  -moz-background-size: 101px 101px;
  background-size: 101px 101px;
  font-size: 0.87rem;
  line-height: 1.5;
  text-align: left;
}
.contents-area .point1 .special4 ul li:nth-of-type(1) p {
  background-image: url("../img/about/sp_about_sec03_img04.png");
}
.contents-area .point1 .special4 ul li:nth-of-type(2) p {
  background-image: url("../img/about/sp_about_sec03_img05.png");
}
.contents-area .point1 .special4 ul li:nth-of-type(3) p {
  background-image: url("../img/about/sp_about_sec03_img06.png");
}
.contents-area .point1 .special4 ul li:nth-of-type(4) p {
  background-image: url("../img/about/sp_about_sec03_img07.png");
}
.contents-area .point2 {
  background: url("../img/about/about_bg_pat.png");
}
.contents-area .point2 h2 {
  padding-top: 60px;
  background-image: url("../img/about/sp_about_sec04_bg.png");
  line-height: 1.1;
}
.contents-area .point2 figure {
  width: 290px;
  margin: 20px auto 0;
  position: relative;
}
.contents-area .point2 figure img {
  width: 290px;
}
.contents-area .point2 figcaption {
  position: absolute;
  font-size: 1.1rem;
  line-height: 1.1;
  color: #fc8508;
}
.contents-area .point2 p {
  width: 290px;
  margin: 20px auto 0;
  font-size: 0.87rem;
  line-height: 1.5;
}
.contents-area .point2 a {
  display: block;
  width: 275px;
  height: 66px;
  margin: 20px auto 0;
  background: #fe4280;
  border-bottom: 5px solid #dd205e;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  line-height: 65px;
  text-align: center;
  position: relative;
}
.contents-area .point2 a:hover {
  background: #cb3566;
  border-color: #b11a4b;
}
.contents-area .point2 a:hover:before {
  margin-top: -2px;
}
.contents-area .point3 {
  padding: 0;
}
.contents-area .point3 h2 {
  background-image: url("../img/about/sp_about_sec05_titilebg.png");
}
.contents-area .point3 h2 strong {
  letter-spacing: 0;
}
.contents-area .point3 p {
  width: 290px;
  margin: 20px auto 0;
  padding: 180px 0 0 0;
  background: url("../img/about/sp_about_sec05_img01.jpg") center top no-repeat;
  -webkit-background-size: 263px 166px;
  -moz-background-size: 263px 166px;
  background-size: 263px 166px;
  font-size: 0.87rem;
  line-height: 1.75;
}
.contents-area .point4 {
  background: url("../img/about/about_bg_pat.png");
}
.contents-area .point4 h2 {
  padding-top: 60px;
  background-image: url("../img/about/sp_about_sec06_titilebg.png");
  line-height: 1.1;
}
.contents-area .point4 h2 strong {
  letter-spacing: 0;
}
.contents-area .point4 p {
  width: 290px;
  margin: 20px auto 0;
  padding: 180px 0 0 0;
  background: url("../img/about/sp_about_sec06_img01.jpg") center top no-repeat;
  -webkit-background-size: 263px 166px;
  -moz-background-size: 263px 166px;
  background-size: 263px 166px;
  font-size: 0.87rem;
  line-height: 1.75;
}
.contents-area .point4 ul {
  width: 290px;
  margin: 20px auto 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.contents-area .point4 li {
  display: inline-block;
  position: relative;
}
.contents-area .point4 li:nth-of-type(1) a:before {
  content: "";
  display: block;
  width: 35px;
  height: 33px;
  background: url("../img/about/sp_about_sec06_img02.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -20px;
  left: -10px;
}
.contents-area .point4 li:nth-of-type(2) a:before {
  content: "";
  display: block;
  width: 37px;
  height: 32px;
  background: url("../img/about/sp_about_sec06_img03.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: -20px;
  right: -10px;
}
.contents-area .point4 a {
  display: inline-block;
  width: 130px;
  height: 60px;
  padding-top: 10px;
  background: #fe4280;
  border-bottom: 5px solid #dd205e;
  border-radius: 5px;
  color: #fff;
  font-size: 0.87rem;
  text-align: center;
  position: relative;
}
.contents-area .point4 a strong {
  color: #f5fd0f;
  font-size: 1.1em;
  font-weight: bold;
}
.contents-area .point4 a:hover {
  background: #cb3566;
  border-color: #b11a4b;
}
.contents-area .point4 a:hover:before {
  margin-top: -2px;
}
.contents-area section.cm {
  width: 100%;
  height: 296px;
  margin: 0 auto;
  background: url("../img/about/sp_about_sec07_bg.jpg") center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
}
.contents-area section.cm figure {
  width: 303px;
  margin: 0 auto;
  padding: 40px 0 0;
  text-align: center;
}
.contents-area section.cm figcaption {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
}
.contents-area section.cm img {
  position: relative;
  width: 303px;
  margin-top: 10px;
}
.contents-area .flow {
  width: 100%;
  padding-bottom: 30px;
}
.contents-area .flow h2 {
  margin: 0 auto;
  text-align: center;
  color: #58b244;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}
.contents-area .flow h2:before {
  display: none;
}
.contents-area .flow ol {
  margin: 0 10px;
}
.contents-area .flow ol li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 65px;
  padding-left: 85px;
  background-position: 10px 0;
  background-repeat: no-repeat;
  -webkit-background-size: 64px 65px;
  -moz-background-size: 64px 65px;
  background-size: 64px 65px;
  font-size: 0.87rem;
  line-height: 1.5;
  position: relative;
}
.contents-area .flow ol li strong {
  color: #58b244;
  font-size: 1rem;
}
.contents-area .flow ol li:not(:first-of-type) {
  margin-top: 15px;
}
.contents-area .flow ol li:not(:first-of-type) div {
  width: 100%;
  position: relative;
}
.contents-area .flow ol li:not(:first-of-type) div:before {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background: url("../img/about/sp_about_sec08_arrow.png") no-repeat center/contain;
  position: absolute;
  left: -50px;
  top: -25px;
}
.contents-area .flow ol li .voice {
  width: 140px;
  height: 25px;
  background-image: url("../img/about/sp_about_sec08_img02_1.png"), url("../img/about/sp_about_sec08_img02_2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  -webkit-background-size: contain, contain;
  -moz-background-size: contain, contain;
  background-size: contain, contain;
  text-align: center;
  font-size: 0.87rem;
  color: #58b244;
  line-height: 25px;
  position: relative;
  top: -6px;
  left: 15px;
}
.contents-area .flow ol li .note-keep {
  display: inline-block;
  margin: 0.5em 0 0;
  padding: 0.5em 1em;
  background: #f5fd0f;
}
.contents-area .flow ol li .note-keep dt {
  font-size: 1rem;
}
.contents-area .flow ol li .note-keep dt:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-right: 0.5em;
  background: url("../img/about/sp_about_sec08_img02_3.png") no-repeat 0 0/contain;
}
.contents-area .flow ol li .note-keep dd {
  font-size: 0.87rem;
}
.contents-area .flow ol li .note-prize {
  width: 106px;
  height: 106px;
  padding-top: 29px;
  background: #f5fd0f url("../img/about/sp_about_sec08_img06_2.png") no-repeat center 12px/24px 16px;
  border-radius: 53px;
  text-align: center;
  position: absolute;
  top: -45px;
  right: 0;
}
.contents-area .flow ol li .note-prize dt {
  font-size: 0.87rem;
}
.contents-area .flow ol li .note-prize dd {
  font-size: 0.714rem;
  line-height: 1.2;
}
.contents-area .flow ol li:nth-of-type(1) {
  background-image: url("../img/about/sp_about_sec08_img01.png");
}
.contents-area .flow ol li:nth-of-type(2) {
  background-image: url("../img/about/sp_about_sec08_img02.png");
}
.contents-area .flow ol li:nth-of-type(3) {
  background-image: url("../img/about/sp_about_sec08_img03.png");
}
.contents-area .flow ol li:nth-of-type(4) {
  background-image: url("../img/about/sp_about_sec08_img04.png");
}
.contents-area .flow ol li:nth-of-type(5) {
  background-image: url("../img/about/sp_about_sec08_img05.png");
}
.contents-area .flow ol li:nth-of-type(6) {
  background-image: url("../img/about/sp_about_sec08_img06.png");
}
.contents-area .faq {
  width: 100%;
  padding-bottom: 30px;
}
.contents-area .faq h2 {
  margin: 0 auto 20px;
  text-align: center;
  color: #58b244;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}
.contents-area .faq h2:before {
  display: none;
}
.contents-area .faq dl {
  margin: 10px 10px 0;
  padding: 20px 20px 10px;
  border: 1px solid #e3e3e3;
  font-size: 0.9rem;
}
.contents-area .faq dt {
  display: block;
  color: #58b244;
}
.contents-area .faq dt:before {
  content: "Q.";
  font-size: 1.1rem;
  margin-right: 0.5em;
}
.contents-area .faq dd {
  display: block;
  margin-top: 0.75em;
}
.contents-area .faq dd div:before {
  content: "A.";
  color: #fd9f3a;
  font-size: 1.1rem;
  margin-right: 0.5em;
}
.contents-area .faq dd div a {
  color: #fd9f3a;
  text-decoration: underline;
}
.contents-area .faq dd .accordion {
  display: block;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  padding: 10px;
  background: url("../img/about/sp_about_sec09_arrow02.png") no-repeat center/19px 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.contents-area .faq dd .accordion.opened {
  -webkit-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}
.contents-area .kbp {
  width: 100%;
  padding: 30px 0;
}
.contents-area .kbp h2 {
  margin: 0 auto 20px;
  text-align: center;
  color: #58b244;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}
.contents-area .kbp h2:before {
  display: none;
}
.contents-area .kbp p {
  margin: 1.75em 20px 0;
  font-size: 0.87rem;
  text-align: left;
}
.contents-area .kbp figure {
  margin: 40px 0 0;
  text-align: center;
}
.contents-area .kbp figure img {
  width: 294px;
}
.contents-area .kbp figcaption {
  display: block;
  margin: 30px 0 0;
  color: #58b244;
  font-size: 1.1rem;
}
