.wrapper-shadow,
.wrapper-shadow-keep,
.wrapper-shadow-kodawari,
.wrapper-shadow-policy {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}
body.underwrapper {
  overflow: hidden;
}
.wrapper-shadow-keep {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.keepmodal {
  display: none;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -150px;
  background: #58b244;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.keepmodal p {
  display: block;
}
.keepmodal p:after {
  content: url("../img/top/pc/job_icon03.png");
  position: absolute;
  height: 45px;
  right: -5px;
  bottom: 10px;
}
.wrapper-shadow-kodawari {
  overflow: auto;
}
.kodawarimodal {
  display: none;
  width: 984px;
  height: auto;
  position: relative;
  margin: 45px auto;
  padding: 60px 67px 0;
  background: #fff;
  border-radius: 10px;
}
.kodawarimodal h2 {
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 1.5rem;
}
.kodawarimodal h2:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/kodawari/pc/pc_kodawari_titleicon.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  top: -1px;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.kodawarimodal .btn-close:first-of-type {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.kodawarimodal .btn-close:last-of-type {
  display: block;
  padding: 33px;
  text-align: center;
}
.kodawarimodal .type-select {
  position: relative;
  right: auto;
  bottom: 0;
  z-index: 2;
}
.kodawarimodal .type-select span {
  height: 41px;
  line-height: 41px;
  cursor: pointer;
}
.kodawarimodal .type-select span.selected {
  height: 48px;
  line-height: 48px;
  position: relative;
  bottom: -1px;
}
.kodawarimodal section {
  padding: 30px;
  border: 1px solid #e3e3e3;
  position: relative;
  color: #535353;
}
.kodawarimodal section:before {
  content: url("../img/kodawari/pc/pc_kodawari_obokun.png");
  position: absolute;
  top: -50px;
  right: 10px;
}
.kodawarimodal section.kodawari-all {
  padding-top: 32px;
}
.kodawarimodal section.kodawari-part {
  border-top: 3px solid #fd9f3a;
}
.kodawarimodal section.kodawari-full {
  border-top: 3px solid #42cbfe;
}
.kodawarimodal section p:first-of-type {
  padding: 0 10px 25px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 1.14em;
}
.kodawarimodal section .kodawari-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 30px 13px;
  border-bottom: 1px solid #e3e3e3;
}
.kodawarimodal section .kodawari-item h3 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 102px;
  background: #7ac768;
  border-radius: 2px;
  color: #fff;
  font-size: 1.14em;
  font-weight: bold;
}
.kodawarimodal section .kodawari-item fieldset {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 17px;
}
.kodawarimodal section .kodawari-item fieldset h4 {
  margin: 1em 0;
  color: #5c9a4e;
  font-size: 1.14em;
  font-weight: bold;
  line-height: 1.75;
}
.kodawarimodal section .kodawari-item fieldset h4:first-of-type {
  margin: 0 0 1em;
}
.kodawarimodal section .kodawari-item fieldset h4:before {
  content: "▼";
}
.kodawarimodal section .kodawari-item fieldset ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -14px;
}
.kodawarimodal section .kodawari-item fieldset ul li {
  display: block;
  width: 32%;
  margin: 0 1.33% 14px 0;
}
.kodawarimodal section .kodawari-item fieldset ul li input[type=checkbox] {
  display: none;
}
.kodawarimodal section .kodawari-item fieldset ul li label {
  display: block;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1.14em;
  line-height: 2.4;
  text-align: center;
  cursor: pointer;
}
.kodawarimodal section .kodawari-item fieldset ul li input:checked + label {
  background: #effeeb;
  border-color: #58b244;
  color: #58b244;
}
.kodawarimodal section .kodawari-item fieldset .search-item {
  display: inline-block;
  position: relative;
  margin-right: 0.2em;
}
.kodawarimodal section .kodawari-item fieldset .search-item:after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background: url("../img/top/pc/top_search_icon02.png") 0 0 no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -3px;
}
.kodawarimodal section .kodawari-item fieldset .search-item select {
  width: auto;
  height: 41px;
  padding: 0 4em;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  font-size: 1.14em;
  cursor: pointer;
}
.kodawarimodal .btn-area {
  text-align: center;
}
.kodawarimodal .btn-area .btn-submit {
  display: inline-block;
  width: 460px;
  height: 75px;
  margin: 30px auto;
  background: #fe4280;
  border: 0px solid transparent;
  border-bottom: 9px solid #dd205e;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 2.14em;
  line-height: 65px;
}
.kodawarimodal .btn-area .btn-submit:hover {
  background: #cb3566;
  border-color: #b11a4b;
}
.wrapper-shadow-policy {
  overflow: auto;
}
.policymodal {
  display: none;
  width: 90%;
  max-width: 1100px;
  height: auto;
  position: relative;
  margin: 45px auto;
  padding: 60px 67px 0;
  background: #fff;
}
.policymodal .btn-close:first-of-type {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.policymodal .btn-close:last-of-type {
  display: block;
  padding: 33px;
  text-align: center;
}
.policymodal h3 {
  font-size: 1.5em;
  font-weight: normal;
}
.policymodal >p {
  margin: 2rem 0 0;
}
.policymodal .footertext {
  margin: 2rem 0 0;
  text-align: right;
}
.policymodal dl {
  margin: 2rem 0 0;
  font-size: 1rem;
  line-height: 1.75;
}
.policymodal dl dt {
  display: block;
}
.policymodal dl dd {
  display: block;
}
.policymodal dl dd ol li {
  list-style: decimal;
  margin-left: 1.5em;
}
.policymodal dl dd ol li ol li {
  list-style: none;
  margin: 0;
}
.policymodal dl dd ol li ol li:before {
  margin-right: 0.5em;
}
.policymodal dl dd ol li ol li:nth-of-type(1):before {
  content: "①";
}
.policymodal dl dd ol li ol li:nth-of-type(2):before {
  content: "②";
}
.policymodal dl dd ol li ol li:nth-of-type(3):before {
  content: "③";
}
.policymodal dl dd ol li ol li:nth-of-type(4):before {
  content: "④";
}
.policymodal dl dd ol li ol li:nth-of-type(5):before {
  content: "⑤";
}
.policymodal dl dd ol li ol li:nth-of-type(6):before {
  content: "⑥";
}
.policymodal dl dd ol li ol li:nth-of-type(7):before {
  content: "⑦";
}
.policymodal dl dd ol li ol li:nth-of-type(8):before {
  content: "⑧";
}
.policymodal dl dd ol li ol li:nth-of-type(9):before {
  content: "⑨";
}
@media screen and (max-width: 900px) {
  .policymodal {
    width: auto;
    height: auto;
    position: relative;
    margin: 15px 10px;
    padding: 60px 15px 0;
    background: #fff;
  }
  .policymodal .btn-close:first-of-type {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .policymodal .btn-close:last-of-type {
    display: block;
    padding: 15px;
    text-align: center;
  }
  .policymodal h3 {
    font-size: 0.79rem;
  }
  .policymodal p {
    font-size: 0.79rem;
  }
  .policymodal dl {
    font-size: 0.79rem;
    line-height: 1.75;
  }
  .policymodal dl dt {
    display: block;
  }
  .policymodal dl dd {
    display: block;
  }
  .policymodal dl dd ol li {
    margin-left: 0;
    list-style-position: inside;
  }
}
.branding {
  width: 100%;
  min-height: 420px;
  margin: 0 auto;
  background: url("../img/oiwai/sp/oiwai_sp_mainimg_bg.jpg") center top no-repeat/cover;
  text-align: center;
}
.branding h1 {
  padding: 10px 7px 0;
  color: #fe4280;
  font-weight: bold;
  font-size: 2.14rem;
  line-height: 1.1;
  text-indent: 0.5em;
}
.branding h1 span {
  display: block;
  text-align: center;
  width: 280px;
}
.branding h1 strong {
  font-weight: bold;
  font-size: 1.33em;
  margin-left: -0.1em;
}
.branding h1:before {
  content: "";
  width: 280px;
  height: 86px;
  background: url("../img/oiwai/sp/oiwai_sp_mainimg_img01.png") no-repeat 0 0/contain;
  display: block;
  position: relative;
}
.branding h1:after {
  content: "";
  display: block;
  width: 161px;
  height: 117px;
  margin: 0 0 0 20px;
  background: url("../img/oiwai/sp/oiwai_sp_mainimg_img02.png") no-repeat center top/contain;
  position: relative;
}
.branding p {
  margin: 5px 20px;
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  position: relative;
  font-size: 0.87rem;
  line-height: 1.5;
  text-align: left;
}
.branding p strong {
  color: #fe4280;
  font-size: 1.2em;
}
.branding p strong:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 19px;
  background: url("../img/oiwai/sp/oiwai_sp_mainimg_img03.png") no-repeat 0 0/contain;
  position: relative;
  bottom: -4px;
  margin-right: 0.25em;
}
.main {
  width: 100%;
}
.contents-area {
  width: 100%;
  margin: 0 auto;
}
.contents-area .introduction {
  width: 308px;
  height: 837px;
  margin: 30px auto 0;
  padding: 80px 0;
  background: url("../img/oiwai/sp/oiwai_sp_sec01_frame.png") no-repeat center top/contain;
  text-align: center;
}
.contents-area .introduction h2 {
  display: inline-block;
  margin: 0 auto;
  border-bottom: 2px dashed #58b244;
  text-align: center;
  color: #58b244;
  font-size: 1.71rem;
  font-weight: normal;
  line-height: 1.5;
}
.contents-area .introduction h2:before {
  display: none;
}
.contents-area .introduction >p {
  margin: 20px auto 0;
}
.contents-area .introduction >p >img {
  width: 257px;
}
.contents-area .introduction >p:first-of-type {
  font-size: 1.1rem;
line-height
}
.contents-area .introduction >p:first-of-type １．５,
.contents-area .introduction >p:first-of-type strong {
  color: #fe4280;
  font-weight: bold;
}
.contents-area .introduction >p:first-of-type １．５:before,
.contents-area .introduction >p:first-of-type strong:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url("../img/oiwai/sp/oiwai_sp_sec01_icon01.png") no-repeat 0 0/contain;
  position: relative;
  bottom: -0.25em;
  margin-right: 0.25em;
}
.contents-area .introduction >p:last-of-type {
  font-size: 1rem;
  line-height: 1.5;
}
.contents-area .introduction >p:last-of-type b {
  color: #58b244;
}
.contents-area .introduction .comment {
  margin: 10px 20px;
  padding: 10px 10px;
  background: #58b244;
  border-radius: 8px;
  position: relative;
  text-align: center;
}
.contents-area .introduction .comment:before {
  content: "";
  display: block;
  width: 59px;
  height: 51px;
  background: url("../img/oiwai/sp/oiwai_sp_sec01_img04.png") no-repeat 0 0/contain;
  position: absolute;
  right: -33px;
}
.contents-area .introduction .comment h3 {
  color: #f5fd0f;
  font-size: 1.28rem;
  font-weight: bold;
  line-height: 1.2;
}
.contents-area .introduction .comment h3 strong {
  text-decoration: underline;
  font-weight: bold;
}
.contents-area .introduction .comment p {
  margin: 10px 0 0;
  color: #fff;
  font-size: 0.87rem;
  line-height: 1.2;
}
.contents-area .aboutmark {
  margin: 0;
  position: relative;
}
.contents-area .aboutmark:before {
  content: "";
  display: block;
  width: 26px;
  height: 12px;
  margin: 20px auto;
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img04.png") no-repeat center top/contain;
}
.contents-area .aboutmark >ul >li {
  width: 304px;
  margin: 0 auto;
  padding: 15px;
}
.contents-area .aboutmark >ul >li h2 {
  width: 210px;
  margin: 0 auto;
  border-bottom: 2px dashed #373737;
  font-size: 1.28rem;
  line-height: 2;
  text-align: center;
}
.contents-area .aboutmark >ul >li h2:before {
  display: none;
}
.contents-area .aboutmark >ul >li >p {
  padding: 10px 20px;
  background: #f4f3f3;
  border-radius: 8px;
  font-size: 0.87rem;
  line-height: 1.5;
}
.contents-area .aboutmark >ul >li >p strong {
  color: #fe4280;
}
.contents-area .aboutmark >ul >li figure {
  margin: 10px;
  overflow: hidden;
  text-align: center;
}
.contents-area .aboutmark >ul >li figure >img {
  margin: 0 10px;
}
.contents-area .aboutmark >ul >li figure figcaption {
  display: inline-block;
  font-size: 0.87rem;
  line-height: 30px;
  vertical-align: top;
}
.contents-area .aboutmark >ul >li figure figcaption span {
  display: block;
  width: 97px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
}
.contents-area .aboutmark >ul >li figure figcaption small {
  display: block;
  color: #373737;
  text-align: right;
  font-size: 1em;
  position: relative;
  right: -1em;
}
.contents-area .aboutmark >ul >li figure figcaption small img {
  position: relative;
  margin: 0 0.5em 0 0;
  width: 8px;
}
.contents-area .aboutmark .pinkmark {
  height: 827px;
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_frame.png") no-repeat center top/contain;
}
.contents-area .aboutmark .pinkmark:before {
  content: "";
  width: 96px;
  height: 29px;
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img01.png") no-repeat center top/contain;
  display: block;
  margin: 0 auto;
}
.contents-area .aboutmark .pinkmark h2 {
  color: #fe4280;
  border-color: #fe4280;
}
.contents-area .aboutmark .pinkmark figure >img {
  width: 73px;
}
.contents-area .aboutmark .pinkmark figure figcaption span {
  background: #fe4280;
  color: #fff;
}
.contents-area .aboutmark .pinkmark .pinkflow:before {
  content: "";
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img04.png") no-repeat 0 0/contain;
  display: block;
  width: 26px;
  height: 21px;
  margin: 5px auto 0;
}
.contents-area .aboutmark .pinkmark .pinkflow h3 {
  font-size: 1.28rem;
  font-weight: bold;
}
.contents-area .aboutmark .pinkmark .pinkflow h3 small {
  display: inline-block;
  padding: 0 1em;
  background: #fe4280;
  border-radius: 1em;
  color: #fff;
  font-size: 0.87rem;
  font-weight: normal;
  line-height: 2;
  position: relative;
  top: -2px;
  margin-right: 0.5em;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li {
  width: 273px;
  min-height: 95px;
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  position: relative;
  background: #fe4280;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  vertical-align: text-bottom;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li h4 {
  font-weight: normal;
  font-size: 1.41rem;
  line-height: 1.1;
  width: 1.5em;
  margin: 0 auto 0;
  border-bottom: 2px solid #fff;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li h4:before {
  content: "";
  display: block;
  width: 71px;
  height: 29px;
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img05.png") no-repeat center top/contain;
  position: absolute;
  top: 10px;
  left: 40px;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li h4 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li p {
  font-size: 1.1rem;
  line-height: 1.2;
  padding: 15px 5px 0;
  color: #fff;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li p small {
  display: block;
  color: #373737;
  font-size: 0.7rem;
  margin: 7px;
  line-height: 1.2;
  text-align: left;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li:first-of-type {
  margin-top: 5px;
  height: 136px;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li:last-of-type {
  height: 106px;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li:not(:last-of-type):after {
  content: "";
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img07.png") no-repeat 0 0/contain;
  width: 13px;
  height: 8px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -6px;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li:nth-of-type(1) h4:after {
  content: "";
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img06.png") no-repeat 0 0/contain;
  width: 48px;
  height: 32px;
  display: block;
  position: absolute;
  top: 15px;
  right: 60px;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li:nth-of-type(2) h4:after {
  content: "";
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img08.png") no-repeat 0 0/contain;
  display: block;
  width: 41px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 60px;
}
.contents-area .aboutmark .pinkmark .pinkflow ul li:nth-of-type(3) h4:after {
  content: "";
  background: url("../img/oiwai/sp/oiwai_sp_sec02_pink_img09.png") no-repeat 0 0/contain;
  display: block;
  width: 57px;
  height: 34px;
  position: absolute;
  top: 15px;
  right: 60px;
}
.contents-area .aboutmark .pinkmark .pinkflow >p {
  margin: 10px 15px;
  font-size: 0.87rem;
}
.contents-area .aboutmark .yellowmark {
  background: url("../img/oiwai/sp/oiwai_sp_sec02_yellow_frame.png") no-repeat center top/contain;
}
.contents-area .aboutmark .yellowmark:before {
  content: "";
  width: 96px;
  height: 29px;
  margin: 0 auto;
  background: url("../img/oiwai/sp/oiwai_sp_sec02_yellow_img01.png") no-repeat center top/contain;
  display: block;
}
.contents-area .aboutmark .yellowmark h2 {
  color: #fd9f3a;
  border-color: #f5fd0f;
}
.contents-area .aboutmark .yellowmark figure >img {
  width: 83px;
}
.contents-area .aboutmark .yellowmark figure figcaption span {
  background: #f5fd0f;
  color: #fe4280;
}
.contents-area .oiwaicheck {
  width: 320px;
  margin: 20px auto 0;
  padding: 40px 0 0;
  background: url("../img/oiwai/sp/oiwai_sp_sec03_bg.jpg") no-repeat center top/contain;
  text-align: center;
}
.contents-area .oiwaicheck h2 {
  float: right;
  width: 210px;
  height: 69px;
  margin: 0 15px 0;
  padding: 15px 0 0;
  background: url("../img/oiwai/sp/oiwai_sp_sec03_titlebg.png") no-repeat center top/contain;
  text-align: center;
  color: #fff;
  font-size: 1.28rem;
  line-height: 1.2;
  position: relative;
  z-index: 2;
}
.contents-area .oiwaicheck h2:before {
  display: none;
}
.contents-area .oiwaicheck ul {
  clear: both;
  position: relative;
  margin: 0 auto;
  padding: 15px 15px 0;
}
.contents-area .oiwaicheck ul li {
  margin: 0 0 10px;
}
.contents-area .oiwaicheck ul li {
  display: block;
  padding: 10px 5px 10px 35px;
  background: rgba(255,255,255,0.8);
  border-radius: 25px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  font-size: 0.87rem;
  line-height: 1.2;
  text-align: left;
  position: relative;
}
.contents-area .oiwaicheck ul li:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/oiwai/sp/oiwai_sp_sec03_img01.png") no-repeat 0 0/contain;
  margin-right: 0.5em;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -8px;
}
.contents-area .oiwaicheck p {
  display: block;
  margin: 0;
  padding: 15px 0;
  background: #58b244;
  text-align: center;
  position: relative;
}
.contents-area .oiwaicheck p span {
  display: inline-block;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.28rem;
  line-height: 1.5;
}
.contents-area .oiwaicheck p:before {
  content: "";
  width: 23px;
  height: 11px;
  margin: 0 auto 10px;
  background: url("../img/oiwai/sp/oiwai_sp_sec03_img04.png") no-repeat center top/contain;
  display: block;
}
.contents-area .oiwaicheck p:after {
  content: "";
  display: block;
  width: 68px;
  height: 45px;
  background: url("../img/oiwai/sp/oiwai_sp_sec03_img03.png") no-repeat 0 0/contain;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -23px;
}
.contents-area .oiwaiflow {
  margin: 40px auto 0;
  text-align: center;
}
.contents-area .oiwaiflow h2 {
  width: 299px;
  height: 77px;
  margin: 0 auto;
  padding: 10px 0 0;
  background: url("../img/oiwai/sp/oiwai_sp_sec04_titilebg.png") no-repeat center top/contain;
  color: #fff;
  font-weight: normal;
  font-size: 1.28rem;
  line-height: 1.2;
}
.contents-area .oiwaiflow h2:before {
  display: none;
}
.contents-area .oiwaiflow .oiwaiflow_pink:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-top: 20px solid #fe4280;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}
.contents-area .oiwaiflow .oiwaiflow_pink dt {
  display: block;
  padding: 47px 0 0;
  color: #fe4280;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}
.contents-area .oiwaiflow .oiwaiflow_pink dt strong {
  font-size: 1.4em;
}
.contents-area .oiwaiflow .oiwaiflow_pink dt:before {
  content: "";
  display: inline-block;
  width: 84px;
  height: 25px;
  background: url("../img/oiwai/sp/oiwai_sp_sec04_pink_img02.png") no-repeat 0 0/contain;
  vertical-align: middle;
  margin-right: 0.5em;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd {
  display: block;
  margin: 10px 0 0;
  padding: 10px 0;
  background: #fe4280;
  color: #fff;
  position: relative;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd small {
  display: block;
  text-align: center;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd small img {
  width: 16px;
  vertical-align: middle;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd small span {
  display: inline-block;
  width: 125px;
  height: 25px;
  margin: 0 10px;
  padding: 0;
  background: #fff;
  border-radius: 12px;
  color: #373737;
  font-size: 0.87rem;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd p {
  font-size: 0.87rem;
  line-height: 1.5;
  margin: 10px 0 0;
}
.contents-area .oiwaiflow .oiwaiflow_pink dd p strong {
  color: #f5fd0f;
  font-weight: bold;
}
.contents-area .oiwaiflow >p img {
  width: 291px;
}
.contents-area .oiwaiflow ol {
  width: 320px;
  margin: 0 auto;
}
.contents-area .oiwaiflow ol li {
  display: block;
  margin: 24px 15px 0;
  padding: 10px;
  border: 3px solid #e3e3e3;
  border-radius: 70px;
  font-size: 0.87rem;
  line-height: 1.2;
  position: relative;
}
.contents-area .oiwaiflow ol li strong {
  color: #fe4280;
}
.contents-area .oiwaiflow ol li small {
  display: block;
  font-size: 0.7rem;
}
.contents-area .oiwaiflow ol li:not(:first-of-type):before {
  content: "▼";
  display: block;
  width: 18px;
  height: 18px;
  background: #7ac768;
  border-radius: 9px;
  color: #fff;
  font-size: 0.87rem;
  line-height: 19px;
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -9px;
}
.contents-area .oiwaiflow ol li:nth-of-type(1):after {
  content: '1';
  display: block;
  width: 23px;
  height: 23px;
  background: #fd9f3a;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: -5px;
}
.contents-area .oiwaiflow ol li:nth-of-type(2):after {
  content: '2';
  display: block;
  width: 23px;
  height: 23px;
  background: #fd9f3a;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: -5px;
}
.contents-area .oiwaiflow ol li:nth-of-type(3):after {
  content: '3';
  display: block;
  width: 23px;
  height: 23px;
  background: #fd9f3a;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: -5px;
}
.contents-area .oiwaiflow ol li:nth-of-type(4):after {
  content: '4';
  display: block;
  width: 23px;
  height: 23px;
  background: #fd9f3a;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: -5px;
}
.contents-area .oiwaiflow .oiwaiflow_yellow {
  margin: 20px 0 0;
  border-top: 2px solid #fbf023;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dt {
  display: block;
  padding: 20px 0;
  color: #fd9f3a;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dt:before {
  content: "";
  display: inline-block;
  width: 84px;
  height: 25px;
  background: url("../img/oiwai/sp/oiwai_sp_sec04_yellow_img01.png") no-repeat 0 0/contain;
  vertical-align: middle;
  margin-right: 0.5em;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dt strong {
  font-size: 1.28rem;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd {
  display: block;
  padding: 20px 0;
  background: #fbf023;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd small {
  display: block;
  text-align: center;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd small img {
  width: 16px;
  vertical-align: middle;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd small span {
  display: inline-block;
  width: 125px;
  height: 25px;
  margin: 0 10px;
  padding: 0;
  background: #fff;
  border-radius: 12px;
  color: #fd9f3a;
  font-size: 0.87rem;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}
.contents-area .oiwaiflow .oiwaiflow_yellow dd p {
  font-size: 0.87rem;
  line-height: 1.5;
  margin: 10px 0 0;
}
.contents-area .oiwaiattention {
  width: 320px;
  margin: 40px auto 0;
  padding: 20px;
  text-align: center;
  background: url("../img/oiwai/pc/oiwai_pc_sec05_bg.png32.png") 0 0/12px 12px;
}
.contents-area .oiwaiattention >div {
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  position: relative;
}
.contents-area .oiwaiattention >div h2 {
  position: absolute;
  top: -32px;
  left: 50%;
  margin-left: -180px;
  width: 360px;
  height: 83px;
  background: url("../img/oiwai/sp/oiwai_sp_sec05_titilebg.png") no-repeat center top/contain;
  color: #fd9f3a;
  font-size: 1.28rem;
  padding-top: 50px;
  text-align: center;
}
.contents-area .oiwaiattention >div h2:before {
  display: none;
}
.contents-area .oiwaiattention >div small {
  display: block;
  padding: 60px 20px 0;
  color: #58b244;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.contents-area .oiwaiattention >div ul {
  padding: 20px 10px 20px 30px;
}
.contents-area .oiwaiattention >div ul li {
  list-style: disc;
  font-size: 0.87rem;
  line-height: 1.2;
  margin-bottom: 1em;
  text-align: left;
}
.contents-area .oiwaifaq {
  margin: 0 auto;
  padding: 40px 0 0;
}
.contents-area .oiwaifaq h2 {
  width: 227px;
  height: 47px;
  margin: 0 auto;
  background: url("../img/oiwai/sp/oiwai_sp_sec06_titilebg.png") no-repeat center top/contain;
  color: #fff;
  font-size: 1.28rem;
  line-height: 2;
  text-align: center;
}
.contents-area .oiwaifaq h2:before {
  display: none;
}
.contents-area .oiwaifaq dl {
  margin: 10px 10px 0;
  padding: 25px 20px;
  border: 1px solid #e3e3e3;
  line-height: 2;
}
.contents-area .oiwaifaq dl dt {
  color: #58b244;
  font-size: 0.93rem;
}
.contents-area .oiwaifaq dl dt:before {
  content: "Q.";
  margin-right: 0.5em;
  font-size: 1.07rem;
}
.contents-area .oiwaifaq dl dd {
  font-size: 0.93rem;
}
.contents-area .oiwaifaq dl dd div {
  display: none;
}
.contents-area .oiwaifaq dl dd div:before {
  content: "A.";
  margin-right: 0.5em;
  color: #fd9f3a;
  font-size: 0.93rem;
}
.contents-area .oiwaifaq dl dd .accordion {
  display: block;
  width: 19px;
  height: 10px;
  margin: 20px auto 0;
  background: url("../img/faq/sp/sp_about_sec09_arrow02.png") no-repeat center/contain;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.contents-area .oiwaifaq dl dd .accordion.opened {
  -webkit-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}
