$white = #fff
$black = #373737
$gray = #e4e4e4
$lightgray = #f9f9f9
$lightgray2 = #f2f2f2

$pink = #ee8593
$lightpink = #ffeff1
$lightpink_o = #fcd9de
$darkpink = #9f5255

$green = #40dcc0
$green_o = #20b399
$darkgreen = #179d85

$orange = #f19032
$orange_o = #d87a1e
$blue = #0951aa
$yellow = #fffde6