.e
	font-family: FB Benton Sans
.r
	font-family: "ゴシックMB101 R"
.m
	font-family: "ゴシックMB101 M"
.db
	font-family: "ゴシックMB101 DB"

// header

.header__title
	b
		@extend .m
	strong
		@extend .e

.header__nav
	@extend .m

.contact_menu
	@extend .m
	small
		@extend .r
	b
		@extend .db


// footer

.footer__title
	@extend .e
	p
		@extend .r

.footer__nav
	@extend .m


// main
.branding__title
	@extend .db
	small
		@extend .m

// top

.top
	.branding__text
		@extend .db
		small,strong
			@extend .m
	.branding__nav
		@extend .m
	.news__title
		@extend .e
		small
			@extend .r
	.news__list
		li.new
			@extend .db
	.application__title,
	.price__title
		@extend .db
	.application__table
		@extend .m
		small
			@extend .r
	.price__item_head
		@extend .m
		p
			@extend .r
	.service > div > a
		@extend .m
	.shinjuku__title
		@extend .db
		small
			@extend .m
	.shinjuku__text
		dt
			@extend .m
	.interview__title
		@extend .db
		small
			@extend .m
	.interview__text
		dt
			@extend .m
	.staff__title
		@extend .db
		small
			@extend .m
	.virtual__title
		@extend .db
	.virtual__data
		dt,dd:first-of-type,h3,p
			@extend .m
	.virtual__faq
		h3
			@extend .db
	.blog__title
		@extend .e
		small
			@extend .m
	.blog__list
		strong
			@extend .m
	.access__title
		@extend .e
		small
			@extend .m


// about

.about

	.special__title
		@extend .db
	.special__text
	.special__list
		li
			strong
				@extend .m
	.facility__title
		@extend .db
	.facility__list
		li
			b
				@extend .m
	.service__title
		@extend .db
	.service__list
		li
			h3
				@extend .m
	.scene__title
		@extend .db
	.scene__item
		h3
			@extend .m


