@font-face
	font-family: Rounded-Mplus-1c-regular
	src: url('../../font/mplus-1c-regular.eot')
	src: url('../../font/mplus-1c-regular.eot?') format("embedded-opentype"),url('../../font/rounded-mplus-1c-regular_web.woff2') format("woff2")
@font-face
	font-family: Rounded-Mplus-1c-medium
	src: url('../../font/mplus-1c-medium.eot')
	src: url('../../font/mplus-1c-medium.eot?') format("embedded-opentype"),url('../../font/rounded-mplus-1c-medium_web.woff2') format("woff2")
@font-face
	font-family: Rounded-Mplus-1c-bold
	src: url('../../font/mplus-1c-bold.eot')
	src: url('../../font/mplus-1c-bold.eot?') format("embedded-opentype"),url('../../font/rounded-mplus-1c-bold_web.woff2') format("woff2")

.r
	font-family: Rounded-Mplus-1c-regular
.m
	font-family: Rounded-Mplus-1c-medium
.b
	font-family: Rounded-Mplus-1c-bold
	
@media all and (-ms-high-contrast: none)
	.r,.m,.b
		transform: rotate(0.001deg)
