
@import "_color"

.footer__wrapper
	width: 100%
	background: $lightgray

.pagetop
	width: 100%
	a
		display: block
		height: 60px
		padding: 20px 0
		background: white
		border-top: 1px solid $pink
		border-bottom: 1px solid $pink
		text-align: center
		color: $pink
		font-size: .75rem
		text-decoration: none
		&:before
			content: ""
			display: inline-block
			width: 15px
			height: 9px
			background: url(../../img/top/footer_pagetop_icon.png) 0 0 no-repeat
			background-size: contain
			margin-right: .5rem
		&:hover
			background: $lightpink

.footer
	width: 1100px
	margin: 0 auto
	padding: 40px 0
	position: relative
	> p
		margin: 20px 0
	.contact__block
		width: 375px
		position: absolute
		top: 40px
		right: 0
		h3
			padding: .5rem 0 .25rem
			background: $pink
			color: white
			font-size: .75rem
			font-weight: bold
			line-height: 1
			text-align: center
		p
			margin-bottom: 10px
			overflow: hidden
			> a
				float: left
				color: $pink
				font-family: "HGP創英角ｺﾞｼｯｸUB"
				font-size: 2.5rem
				letter-spacing: -1px
				cursor: default
				margin-top: 5px
				&:before
					content: ""
					display: inline-block
					width: 25px
					height: 25px
					background: url(../../img/top/footer_icon_04.png) 0 0 no-repeat
					background-size: contain
					position: relative
					margin-right: .5rem
			> small
				float: right
				display: block
				padding: .5rem 0
				text-align: center
		.btn-contact
			display: block
			margin: 0 3px 0 0
			padding: 1rem
			background: $green
			border-radius: 4px
			box-shadow: 3px 3px 0 rgba(23,157,133,1)
			color: white
			font-family: "HGP創英角ｺﾞｼｯｸUB"
			font-size: 1.5rem
			text-align: center
			&:before
				content: ""
				display: inline-block
				width: 24px
				height: 18px
				background: url(../../img/top/footer_icon_05.png) 0 0 no-repeat
				background-size: contain
				position: relative
				top: 1px
				margin-right: .5rem
			&:hover
				background: $green_o
		.sns
			position: absolute
			top: 0
			left: -170px
			li
				display: inline-block
				margin: 0 5px

	.keep-items
		position: absolute
		top: 30px
		right: -120px
		width: 96px
		height: 96px
		margin: 0
		padding: 50px 0 0
		background: $orange url(../../img/top/footer_icon_keep.png) center 15px no-repeat
		border-radius: 48px
		color: white
		@extend .b
		font-size: .87rem
		line-height: 1
		text-align: center
		&:hover
			background-color: $orange_o
			
	.footer-nav
		h4
			margin: 1.5rem 0 0
			color: $pink
			@extend .m
		ul
			li
				display: inline-block
				margin: 1rem 2.5rem 0 0
				@extend .m
				a
					color: $black
				a:before
					content: ""
					display: inline-block
					width: 6px
					height: 9px
					background: url(../../img/top/icon_list02.png) 0 0 no-repeat
					background-size: contain
					margin-right: .5rem
				a:hover
					text-decoration: underline
					

.copyright
	width: 100%
	padding: 20px 0
	background: $pink
	color: white
	font-size: .75em
	text-align: center
		