
@import "_color"

// step
.form-step
	margin: 30px 0
	li
		list-style: none
		display: inline-block
		height: 45px
		margin-right: -11px
		background-repeat: no-repeat
		background-position: 0 0
		background-size: contain
		text-align: center
		color: white
		font-size: 1.2em
		line-height: 45px
	li:nth-of-type(1)
		width: 291px
		background-image: url(../img/inquiries/form_step1_off.png)
	li:nth-of-type(1).on
		background-image: url(../img/inquiries/form_step1_on.png)
	li:nth-of-type(2)
		width: 292px
		background-image: url(../img/inquiries/form_step2_off.png)
	li:nth-of-type(2).on
		background-image: url(../img/inquiries/form_step2_on.png)
	li:nth-of-type(3)
		width: 281px
		background-image: url(../img/inquiries/form_step3_off.png)
	li:nth-of-type(3).on
		background-image: url(../img/inquiries/form_step3_on.png)

// form body
.contents-area section.form-body
	margin-top: 0
	>p
		font-size: 1em

// form table
.form-table
	width: 100%
	margin: 20px 0 0
	border: 2px solid $gray
	th,td
		padding: 20px
		border: 1px solid $gray
		font-size: 1.2rem
		vertical-align: middle
		small
			display: block
			margin: .5em 0 0
			font-size: .67em
		li:not(:last-of-type)
			margin-bottom: .5em
	th
		width: 11em
	td.must,td.any
		width: 6em
		text-align: center
		font-size: 1em
	td.must
		background: $lightpink
		color: $pink
	td.any
		background: $lightgray2
	input[type=radio]
		display: none
	label
		margin-right: 1rem
	label:before
		content: ""
		display: inline-block
		width: 1.2rem
		height: 1.2rem
		background: white
		border: 1px solid $lightgreen
		border-radius: .7em
		position: relative
		top: 2px
		margin-right: .5rem
		vertical-align: text-top
		line-height: 1
		text-align: center
		color: $pink
	input:checked + label:before
		content: "●"
		background: $lightpink
	input[type=text],textarea
		box-sizing: border-box
		display: block
		width: 100%
		padding: .5em .75em
		border: 1px solid $lightgreen
		border-radius: 4px

.btn-area
	padding: 30px 0 0
	text-align: center
	.btn-submit
		width: 280px
		padding: 1.5rem
		border: none
		border-radius: 4px
		font-size: 1.5rem
