
.contents__block

	// flow chart
	.flowchart
		max-width: 100%
		margin: 20px 0 0
		ol
			position: relative
			width: 340px
			height: 790px
			margin: 0 auto
			li
				position: relative
				display: block
				width: 137px
				height: 121px
				padding: 53px 0 0
				background: url(../img/flow/flow_itembg.png) no-repeat 0 0/contain
				text-align: center
				color: $white
				font-size: .87rem
				text-shadow: $red 1px 0px,  $red -1px 0px, $red 0px -1px, $red 0px 1px, $red 1px 1px , $red -1px 1px, $red 1px -1px, $red -1px -1px

				for i in (1..9)
					&:nth-of-type({i}):before
						content: ""
						display: block
						width: 110px
						height: 97px
						background: url("../img/flow/flow_item" + i ".png") no-repeat center/contain
						position: absolute
						top: 12px
						left: 13px

				&:first-of-type
					padding: 49px 0 0 4px
				&:last-of-type
					padding-top: 42px
					font-size: 1.71rem
				
				Top = -50px
				Left = 100px

				for i in (1..2)
					&:nth-of-type({i + 1})
						top: ( Top * i )
						left: ( Left * i )
				&:nth-of-type(4)
					top: ( Top * 3 )
					left: ( Left * 1 )
				&:nth-of-type(5)
					top: ( Top * 4 )
					left: 0
				for i in (5..6)
					&:nth-of-type({i + 1})
						top: ( Top * i )
						left: ( Left * ( i - 4 ) )
				&:nth-of-type(8)
					top: ( Top * 7 )
					left: ( Left * 1 )
				&:nth-of-type(9)
					top: ( Top * 8 )
					left: 0
				&:nth-of-type(10)
					top: ( Top * 9 )
					left: ( Left * 1 )
				
				&:not(:last-of-type):after
					content: ""
					display: block
					width: 20px
					height: 10px
					background: #bd3613
					position: absolute
					bottom: 16px
					opacity: .5
					
				for i in 1 2 5 6 9
					&:nth-of-type({i}):after
						right: 3px
						transform: rotate(36deg)
				for i in 3 4 7 8
					&:nth-of-type({i}):after
						left: 3px
						transform: rotate(-36deg)

	//
	.contents__item
		p
			overflow: hidden
			img
				width: 140px
				float: left
				margin-right: 10px
